openapi: 3.0.3
info:
  title: 'API Documentation - iDir - nowoczesny katalog stron'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://demo.idir.intelekt.net.pl'
paths:
  /api/user:
    get:
      summary: 'Show user'
      description: "Show authenticated User resource\n\n<aside class=\"notice\">Available only to users with permission: api.access.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 12250
                    name: 'Dr. Nasir Windler'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-03-18T16:03:02.000000Z'
                    updated_at: '2022-03-18T16:03:02.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2021-01-06T16:58:51.000000Z'
                        updated_at: '2021-01-06T16:58:51.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 12250
                      name: 'Dr. Nasir Windler'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-03-18T16:03:02.000000Z'
                      updated_at: '2022-03-18T16:03:02.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T16:58:51.000000Z'
                          updated_at: '2021-01-06T16:58:51.000000Z'
      tags:
        - 'Authenticated user'
  /api/user/dirs:
    post:
      summary: 'Index of user''s dirs'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 13391
                      slug: culpa-aut
                      title: 'Culpa aut.'
                      url: 'http://wolf.com'
                      short_content: 'Quia voluptatem velit pariatur eos. Est tempora omnis amet sint laborum accusantium. Natus esse rerum culpa et praesentium culpa accusamus. Aut totam consequatur ut aliquam nisi quibusdam et. Inventore nam alias magni consectetur. Dolore laudantium i'
                      content: 'Quia voluptatem velit pariatur eos. Est tempora omnis amet sint laborum accusantium. Natus esse rerum culpa et praesentium culpa accusamus. Aut totam consequatur ut aliquam nisi quibusdam et. Inventore nam alias magni consectetur. Dolore laudantium in et dignissimos iusto.'
                      content_html: 'Quia voluptatem velit pariatur eos. Est tempora omnis amet sint laborum accusantium. Natus esse rerum culpa et praesentium culpa accusamus. Aut totam consequatur ut aliquam nisi quibusdam et. Inventore nam alias magni consectetur. Dolore laudantium in et dignissimos iusto.'
                      less_content_html: 'Quia voluptatem velit pariatur eos. Est tempora omnis amet sint laborum accusantium. Natus esse rerum culpa et praesentium culpa accusamus. Aut totam consequatur ut aliquam nisi quibusdam et. Inventore nam alias magni consectetur. Dolore laudantium i... <a href="https://demo.idir.intelekt.net.pl/dirs/culpa-aut">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6IndNcndydXNyenV1ZG9wU1RXZ0x4WUE9PSIsInZhbHVlIjoiVEtKVEZ5N0VJYXlNbEhhRFpTaTVGQT09IiwibWFjIjoiYzgzZWNjNjZiOThkOTcwY2U5ZjUzYzgxZDg1MzZlNjQyYjRmNmY0NzEyN2YzOTY4NDJmMDhmYjY4NzYwNDkxNiJ9'
                      sum_rating: '0.00'
                      created_at: '2022-03-18T16:02:58.000000Z'
                      updated_at: '2022-03-18T16:02:58.000000Z'
                      categories:
                        -
                          id: 2524
                          name: Laborum
                          slug: laborum-3
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-03-18T16:02:58.000000Z'
                          updated_at: '2022-03-18T16:02:58.000000Z'
                      links: []
                    -
                      id: 13392
                      slug: eveniet-veritatis-in
                      title: 'Eveniet veritatis in.'
                      url: 'http://www.pagac.org'
                      short_content: 'Suscipit maiores cumque dolore. Consequatur natus quod sunt et. Aspernatur libero ut tempore alias saepe voluptas aut. Accusamus voluptatibus doloremque sit. Ullam illum voluptatum eum.'
                      content: 'Suscipit maiores cumque dolore. Consequatur natus quod sunt et. Aspernatur libero ut tempore alias saepe voluptas aut. Accusamus voluptatibus doloremque sit. Ullam illum voluptatum eum.'
                      content_html: 'Suscipit maiores cumque dolore. Consequatur natus quod sunt et. Aspernatur libero ut tempore alias saepe voluptas aut. Accusamus voluptatibus doloremque sit. Ullam illum voluptatum eum.'
                      less_content_html: 'Suscipit maiores cumque dolore. Consequatur natus quod sunt et. Aspernatur libero ut tempore alias saepe voluptas aut. Accusamus voluptatibus doloremque sit. Ullam illum voluptatum eum.... <a href="https://demo.idir.intelekt.net.pl/dirs/eveniet-veritatis-in">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6ImV1R0FqcFZCTFVZcUNnZkl2dTVlVlE9PSIsInZhbHVlIjoiMmhZUFwvcjBCOEJcL0pKWm51d1phS0NVcGFVZXd1RDRMQlhXemtSZFBmZ0d3PSIsIm1hYyI6IjE2ZmIzN2QzZGQ5MDQxNjQyMGYyNjkyODA3ZmJiZDcwN2ZkMGNmZmUxMzI2MjkxODdkYjQzYjEyZDgxNjllNGYifQ=='
                      sum_rating: '0.00'
                      created_at: '2022-03-18T16:02:58.000000Z'
                      updated_at: '2022-03-18T16:02:58.000000Z'
                      categories:
                        -
                          id: 2526
                          name: Et
                          slug: et-45
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-03-18T16:02:58.000000Z'
                          updated_at: '2022-03-18T16:02:58.000000Z'
                      links: []
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 13391
                        slug: culpa-aut
                        title: 'Culpa aut.'
                        url: 'http://wolf.com'
                        short_content: 'Quia voluptatem velit pariatur eos. Est tempora omnis amet sint laborum accusantium. Natus esse rerum culpa et praesentium culpa accusamus. Aut totam consequatur ut aliquam nisi quibusdam et. Inventore nam alias magni consectetur. Dolore laudantium i'
                        content: 'Quia voluptatem velit pariatur eos. Est tempora omnis amet sint laborum accusantium. Natus esse rerum culpa et praesentium culpa accusamus. Aut totam consequatur ut aliquam nisi quibusdam et. Inventore nam alias magni consectetur. Dolore laudantium in et dignissimos iusto.'
                        content_html: 'Quia voluptatem velit pariatur eos. Est tempora omnis amet sint laborum accusantium. Natus esse rerum culpa et praesentium culpa accusamus. Aut totam consequatur ut aliquam nisi quibusdam et. Inventore nam alias magni consectetur. Dolore laudantium in et dignissimos iusto.'
                        less_content_html: 'Quia voluptatem velit pariatur eos. Est tempora omnis amet sint laborum accusantium. Natus esse rerum culpa et praesentium culpa accusamus. Aut totam consequatur ut aliquam nisi quibusdam et. Inventore nam alias magni consectetur. Dolore laudantium i... <a href="https://demo.idir.intelekt.net.pl/dirs/culpa-aut">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6IndNcndydXNyenV1ZG9wU1RXZ0x4WUE9PSIsInZhbHVlIjoiVEtKVEZ5N0VJYXlNbEhhRFpTaTVGQT09IiwibWFjIjoiYzgzZWNjNjZiOThkOTcwY2U5ZjUzYzgxZDg1MzZlNjQyYjRmNmY0NzEyN2YzOTY4NDJmMDhmYjY4NzYwNDkxNiJ9'
                        sum_rating: '0.00'
                        created_at: '2022-03-18T16:02:58.000000Z'
                        updated_at: '2022-03-18T16:02:58.000000Z'
                        categories:
                          -
                            id: 2524
                            name: Laborum
                            slug: laborum-3
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-03-18T16:02:58.000000Z'
                            updated_at: '2022-03-18T16:02:58.000000Z'
                        links: []
                      -
                        id: 13392
                        slug: eveniet-veritatis-in
                        title: 'Eveniet veritatis in.'
                        url: 'http://www.pagac.org'
                        short_content: 'Suscipit maiores cumque dolore. Consequatur natus quod sunt et. Aspernatur libero ut tempore alias saepe voluptas aut. Accusamus voluptatibus doloremque sit. Ullam illum voluptatum eum.'
                        content: 'Suscipit maiores cumque dolore. Consequatur natus quod sunt et. Aspernatur libero ut tempore alias saepe voluptas aut. Accusamus voluptatibus doloremque sit. Ullam illum voluptatum eum.'
                        content_html: 'Suscipit maiores cumque dolore. Consequatur natus quod sunt et. Aspernatur libero ut tempore alias saepe voluptas aut. Accusamus voluptatibus doloremque sit. Ullam illum voluptatum eum.'
                        less_content_html: 'Suscipit maiores cumque dolore. Consequatur natus quod sunt et. Aspernatur libero ut tempore alias saepe voluptas aut. Accusamus voluptatibus doloremque sit. Ullam illum voluptatum eum.... <a href="https://demo.idir.intelekt.net.pl/dirs/eveniet-veritatis-in">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6ImV1R0FqcFZCTFVZcUNnZkl2dTVlVlE9PSIsInZhbHVlIjoiMmhZUFwvcjBCOEJcL0pKWm51d1phS0NVcGFVZXd1RDRMQlhXemtSZFBmZ0d3PSIsIm1hYyI6IjE2ZmIzN2QzZGQ5MDQxNjQyMGYyNjkyODA3ZmJiZDcwN2ZkMGNmZmUxMzI2MjkxODdkYjQzYjEyZDgxNjllNGYifQ=='
                        sum_rating: '0.00'
                        created_at: '2022-03-18T16:02:58.000000Z'
                        updated_at: '2022-03-18T16:02:58.000000Z'
                        categories:
                          -
                            id: 2526
                            name: Et
                            slug: et-45
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-03-18T16:02:58.000000Z'
                            updated_at: '2022-03-18T16:02:58.000000Z'
                        links: []
                    items:
                      type: object
      tags:
        - 'Authenticated user'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be between 0 and 5.'
                      example: ''
                    group:
                      type: integer
                      description: 'ID of Group relationship.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>title|asc</code>, <code>title|desc</code>, <code>sum_rating|desc</code>, <code>sum_rating|asc</code>, <code>click|asc</code>, <code>click|desc</code>, <code>view|asc</code>, or <code>view|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
  /api/token:
    post:
      summary: Token
      description: "Create access token and (optional) refresh token.\n\n<aside class=\"notice\">Access token expires after 2 hours. Refresh token expires after 1 year.</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: '(only if remember param was true)'
      tags:
        - Authentication
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: kontakt@demo.idir.intelekt.net.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                remember:
                  type: boolean
                  description: ''
                  example: true
      security: []
  /api/register:
    post:
      summary: Register
      description: 'Create user and send email verification notification'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 12253
                    name: 'Lue Herman'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-03-18T16:03:04.000000Z'
                    updated_at: '2022-03-18T16:03:04.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2021-01-06T16:58:51.000000Z'
                        updated_at: '2021-01-06T16:58:51.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 12253
                      name: 'Lue Herman'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-03-18T16:03:04.000000Z'
                      updated_at: '2022-03-18T16:03:04.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T16:58:51.000000Z'
                          updated_at: '2021-01-06T16:58:51.000000Z'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: N1ebieski
                email:
                  type: string
                  description: ''
                  example: example@example.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                password_confirmation:
                  type: string
                  description: ''
                  example: demo1234
                privacy_agreement:
                  type: boolean
                  description: 'Acceptance of privacy policy'
                  example: true
                contact_agreement:
                  type: boolean
                  description: 'Acceptance of receiving e-mail system notifications'
                  example: true
                marketing_agreement:
                  type: boolean
                  description: 'Acceptance of receiving marketing information notifications'
                  example: true
              required:
                - name
                - email
                - password
                - password_confirmation
                - privacy_agreement
                - contact_agreement
      security: []
  /api/revoke:
    post:
      summary: 'Revoke token'
      description: 'Revoke access token and refresh token.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        204:
          description: success
      tags:
        - Authentication
  /api/refresh:
    post:
      summary: 'Refresh token'
      description: "Create new access token and refresh token.\n\n<aside class=\"success\">Refresh token must be in the Authorization header with the value \"Bearer {YOUR_REFRESH_TOKEN}\".</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_REFRESH_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: ''
      tags:
        - Authentication
  /api/categories/dir/index:
    post:
      summary: 'Index of dir''s categories'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2541
                      name: 'Molestiae laboriosam'
                      slug: molestiae-laboriosam
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-03-18T16:03:01.000000Z'
                      updated_at: '2022-03-18T16:03:01.000000Z'
                    -
                      id: 2542
                      name: 'Accusantium aut'
                      slug: accusantium-aut
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-03-18T16:03:01.000000Z'
                      updated_at: '2022-03-18T16:03:01.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2541
                        name: 'Molestiae laboriosam'
                        slug: molestiae-laboriosam
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-03-18T16:03:01.000000Z'
                        updated_at: '2022-03-18T16:03:01.000000Z'
                      -
                        id: 2542
                        name: 'Accusantium aut'
                        slug: accusantium-aut
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-03-18T16:03:01.000000Z'
                        updated_at: '2022-03-18T16:03:01.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/categories/post/index:
    post:
      summary: 'Index of post''s categories'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2543
                      name: 'Provident in'
                      slug: provident-in
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-03-18T16:03:03.000000Z'
                      updated_at: '2022-03-18T16:03:03.000000Z'
                    -
                      id: 2544
                      name: 'Consequuntur dolore'
                      slug: consequuntur-dolore
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-03-18T16:03:03.000000Z'
                      updated_at: '2022-03-18T16:03:03.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2543
                        name: 'Provident in'
                        slug: provident-in
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-03-18T16:03:03.000000Z'
                        updated_at: '2022-03-18T16:03:03.000000Z'
                      -
                        id: 2544
                        name: 'Consequuntur dolore'
                        slug: consequuntur-dolore
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-03-18T16:03:03.000000Z'
                        updated_at: '2022-03-18T16:03:03.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/categories/index:
    post:
      summary: 'Index of all categories'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2545
                      name: 'Minus iste'
                      slug: minus-iste
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-03-18T16:03:03.000000Z'
                      updated_at: '2022-03-18T16:03:03.000000Z'
                    -
                      id: 2546
                      name: 'Amet quam'
                      slug: amet-quam
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-03-18T16:03:03.000000Z'
                      updated_at: '2022-03-18T16:03:03.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2545
                        name: 'Minus iste'
                        slug: minus-iste
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-03-18T16:03:03.000000Z'
                        updated_at: '2022-03-18T16:03:03.000000Z'
                      -
                        id: 2546
                        name: 'Amet quam'
                        slug: amet-quam
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-03-18T16:03:03.000000Z'
                        updated_at: '2022-03-18T16:03:03.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  '/api/dirs/group/{group}':
    post:
      summary: 'Create dir'
      description: '<aside class="notice">If the user is authenticated the entry is added to his/her account, if not, an account is created for the email address provided.</aside>'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 13399
                    slug: accusamus
                    title: Accusamus.
                    url: 'https://kassulke.net'
                    short_content: 'Corporis cupiditate et quia sit et quis iusto. Est accusantium illum qui autem minima labore. Reprehenderit ea mollitia non ut ea nesciunt repellendus. Expedita et aliquid et distinctio dolor quibusdam aut.'
                    content: 'Corporis cupiditate et quia sit et quis iusto. Est accusantium illum qui autem minima labore. Reprehenderit ea mollitia non ut ea nesciunt repellendus. Expedita et aliquid et distinctio dolor quibusdam aut.'
                    content_html: 'Corporis cupiditate et quia sit et quis iusto. Est accusantium illum qui autem minima labore. Reprehenderit ea mollitia non ut ea nesciunt repellendus. Expedita et aliquid et distinctio dolor quibusdam aut.'
                    less_content_html: 'Corporis cupiditate et quia sit et quis iusto. Est accusantium illum qui autem minima labore. Reprehenderit ea mollitia non ut ea nesciunt repellendus. Expedita et aliquid et distinctio dolor quibusdam aut.... <a href="http://demo.idir.intelekt.net.pl/dirs/accusamus">show more &raquo</a>'
                    thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6InVaQlI0bnpZb0NYRjJTSnJLVkVKR3c9PSIsInZhbHVlIjoiNGluS2t4NmlLZGI5azQwRjIxaW9oVFdMWXVsY1pJQjNhckJBRzJ4MVNJbz0iLCJtYWMiOiI1MTQ2NjY2NmRhY2Y1OWI5ZjcxYmQ0MWE4MTRhYmQxYzEyZGY5MGNjZGQ0NmExMmVmMmM2ZmZlMjA2ZjQ1YmRjIn0='
                    sum_rating: '0.00'
                    created_at: '2022-03-18T16:03:01.000000Z'
                    updated_at: '2022-03-18T16:03:01.000000Z'
                    categories:
                      -
                        id: 2540
                        name: Qui
                        slug: qui-28
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-03-18T16:03:01.000000Z'
                        updated_at: '2022-03-18T16:03:01.000000Z'
                    links: []
                properties:
                  data:
                    type: object
                    example:
                      id: 13399
                      slug: accusamus
                      title: Accusamus.
                      url: 'https://kassulke.net'
                      short_content: 'Corporis cupiditate et quia sit et quis iusto. Est accusantium illum qui autem minima labore. Reprehenderit ea mollitia non ut ea nesciunt repellendus. Expedita et aliquid et distinctio dolor quibusdam aut.'
                      content: 'Corporis cupiditate et quia sit et quis iusto. Est accusantium illum qui autem minima labore. Reprehenderit ea mollitia non ut ea nesciunt repellendus. Expedita et aliquid et distinctio dolor quibusdam aut.'
                      content_html: 'Corporis cupiditate et quia sit et quis iusto. Est accusantium illum qui autem minima labore. Reprehenderit ea mollitia non ut ea nesciunt repellendus. Expedita et aliquid et distinctio dolor quibusdam aut.'
                      less_content_html: 'Corporis cupiditate et quia sit et quis iusto. Est accusantium illum qui autem minima labore. Reprehenderit ea mollitia non ut ea nesciunt repellendus. Expedita et aliquid et distinctio dolor quibusdam aut.... <a href="http://demo.idir.intelekt.net.pl/dirs/accusamus">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6InVaQlI0bnpZb0NYRjJTSnJLVkVKR3c9PSIsInZhbHVlIjoiNGluS2t4NmlLZGI5azQwRjIxaW9oVFdMWXVsY1pJQjNhckJBRzJ4MVNJbz0iLCJtYWMiOiI1MTQ2NjY2NmRhY2Y1OWI5ZjcxYmQ0MWE4MTRhYmQxYzEyZGY5MGNjZGQ0NmExMmVmMmM2ZmZlMjA2ZjQ1YmRjIn0='
                      sum_rating: '0.00'
                      created_at: '2022-03-18T16:03:01.000000Z'
                      updated_at: '2022-03-18T16:03:01.000000Z'
                      categories:
                        -
                          id: 2540
                          name: Qui
                          slug: qui-28
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-03-18T16:03:01.000000Z'
                          updated_at: '2022-03-18T16:03:01.000000Z'
                      links: []
      tags:
        - Dirs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must be between 3 and 100 characters.'
                  example: 'Lorem ipsum dolor sit amet'
                tags:
                  type: array
                  description: 'Must be at least 3 characters. Must not be greater than 30 characters.'
                  example:
                    - swdfb
                  items:
                    type: string
                categories:
                  type: array
                  description: 'Array containing category IDs.'
                  example:
                    - 19
                  items:
                    type: integer
                content_html:
                  type: string
                  description: 'Description. Must be between 255 and 1000 characters.'
                  example: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                notes:
                  type: string
                  description: 'Additional information for the moderator. Must be between 3 and 255 characters.'
                  example: ''
                url:
                  type: string
                  description: 'Unique website url with http/https protocol.'
                  example: 'https://demo.idir.intelekt.net.pl'
                backlink:
                  type: integer
                  description: 'ID of the selected backlink.'
                  example: null
                backlink_url:
                  type: string
                  description: 'Url with http/https protocol to backlink.'
                  example: null
                email:
                  type: string
                  description: 'Email address, required if the user adds the entry as unauthenticated.'
                  example: kontakt@intelekt.net.pl
                g-recaptcha-response:
                  type: string
                  description: 'Recaptcha response. Only required for free groups.'
                  example: deserunt
                field:
                  type: array
                  description: 'Array containing additional form fields if the group allows it.'
                  example: null
                  items:
                    type: object
                payment_type:
                  type: string
                  description: 'If the group requires a payment, the selected type must be defined. Must be one of <code>transfer</code>, <code>code_transfer</code>, <code>code_sms</code>, or <code>paypal_express</code>.'
                  example: null
                payment_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>transfer</code>.'
                  example: null
                payment_code_sms:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_sms</code>.'
                  example: null
                code_sms:
                  type: string
                  description: 'Received code if payment_type is <code>code_sms</code>.'
                  example: null
                payment_code_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_transfer</code>.'
                  example: null
                code_transfer:
                  type: string
                  description: 'Received code if payment_type is <code>code_transfer</code>.'
                  example: null
                payment_paypal_express:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>paypal_express</code>.'
                  example: null
              required:
                - title
                - categories
                - content_html
                - g-recaptcha-response
      security: []
    parameters:
      -
        in: path
        name: group
        description: 'The group ID.'
        example: 1
        required: true
        schema:
          type: integer
  /api/dirs/index:
    post:
      summary: 'Index of dirs'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.dirs.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 13397
                      slug: delectus-dicta-modi
                      title: 'Delectus dicta modi.'
                      url: 'http://www.hand.com'
                      short_content: 'Eius quia necessitatibus natus esse. Voluptate itaque iure velit incidunt. Recusandae qui vitae voluptatem et sint iusto. Libero et voluptatem autem. Id exercitationem saepe consequuntur quaerat ex. Aut esse quidem omnis rerum odio.'
                      content: 'Eius quia necessitatibus natus esse. Voluptate itaque iure velit incidunt. Recusandae qui vitae voluptatem et sint iusto. Libero et voluptatem autem. Id exercitationem saepe consequuntur quaerat ex. Aut esse quidem omnis rerum odio.'
                      content_html: 'Eius quia necessitatibus natus esse. Voluptate itaque iure velit incidunt. Recusandae qui vitae voluptatem et sint iusto. Libero et voluptatem autem. Id exercitationem saepe consequuntur quaerat ex. Aut esse quidem omnis rerum odio.'
                      less_content_html: 'Eius quia necessitatibus natus esse. Voluptate itaque iure velit incidunt. Recusandae qui vitae voluptatem et sint iusto. Libero et voluptatem autem. Id exercitationem saepe consequuntur quaerat ex. Aut esse quidem omnis rerum odio.... <a href="http://demo.idir.intelekt.net.pl/dirs/delectus-dicta-modi">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6InNVR01OdVp1N1Fpd0c2RzExbmhuXC9nPT0iLCJ2YWx1ZSI6Ik1oN2JCa2JRVU1FZkY1M0ZCNW0rMjJoVVR1ZnZYMVhYT2x5T294WjhGZXc9IiwibWFjIjoiMDBmMjBiYzUzZjFjMGMwMDQ4ZDIxY2JhOGFiNjIxM2Y0YzE1YmQyNjdjMmM0OGNhNzNjYjNhZTcwNzE2ZWYzMyJ9'
                      sum_rating: '0.00'
                      created_at: '2022-03-18T16:03:01.000000Z'
                      updated_at: '2022-03-18T16:03:01.000000Z'
                      categories:
                        -
                          id: 2536
                          name: Sed
                          slug: sed-13
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-03-18T16:03:01.000000Z'
                          updated_at: '2022-03-18T16:03:01.000000Z'
                      links: []
                    -
                      id: 13398
                      slug: suscipit-culpa
                      title: 'Suscipit culpa.'
                      url: 'https://wunsch.com'
                      short_content: 'Quibusdam error unde facere id aliquam animi. Autem consectetur excepturi praesentium officiis illo vitae qui. Libero hic deserunt corporis et qui consequuntur enim. Recusandae assumenda quae expedita porro vel officia. Vel ea quasi ut in ab consequa'
                      content: 'Quibusdam error unde facere id aliquam animi. Autem consectetur excepturi praesentium officiis illo vitae qui. Libero hic deserunt corporis et qui consequuntur enim. Recusandae assumenda quae expedita porro vel officia. Vel ea quasi ut in ab consequatur.'
                      content_html: 'Quibusdam error unde facere id aliquam animi. Autem consectetur excepturi praesentium officiis illo vitae qui. Libero hic deserunt corporis et qui consequuntur enim. Recusandae assumenda quae expedita porro vel officia. Vel ea quasi ut in ab consequatur.'
                      less_content_html: 'Quibusdam error unde facere id aliquam animi. Autem consectetur excepturi praesentium officiis illo vitae qui. Libero hic deserunt corporis et qui consequuntur enim. Recusandae assumenda quae expedita porro vel officia. Vel ea quasi ut in ab consequa... <a href="http://demo.idir.intelekt.net.pl/dirs/suscipit-culpa">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6Ikw2VVZaM0ZzbytiNkJmNU5lcmdLUVE9PSIsInZhbHVlIjoiQ0J5aHgxTDIxNTI2a2pWSWduZk9pVnJqWTFaQWQ1Y3h6dTVUbTM5NWNxcz0iLCJtYWMiOiI3MzM5MWVmNmIxMTVlMjVmZWFmNDRhMzEwZmM3NjAzYzFlOWRjYzM0NThmM2NiYmFjZDU0ZjliNzAzZTg4NWUxIn0='
                      sum_rating: '0.00'
                      created_at: '2022-03-18T16:03:01.000000Z'
                      updated_at: '2022-03-18T16:03:01.000000Z'
                      categories:
                        -
                          id: 2538
                          name: Et
                          slug: et-46
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-03-18T16:03:01.000000Z'
                          updated_at: '2022-03-18T16:03:01.000000Z'
                      links: []
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 13397
                        slug: delectus-dicta-modi
                        title: 'Delectus dicta modi.'
                        url: 'http://www.hand.com'
                        short_content: 'Eius quia necessitatibus natus esse. Voluptate itaque iure velit incidunt. Recusandae qui vitae voluptatem et sint iusto. Libero et voluptatem autem. Id exercitationem saepe consequuntur quaerat ex. Aut esse quidem omnis rerum odio.'
                        content: 'Eius quia necessitatibus natus esse. Voluptate itaque iure velit incidunt. Recusandae qui vitae voluptatem et sint iusto. Libero et voluptatem autem. Id exercitationem saepe consequuntur quaerat ex. Aut esse quidem omnis rerum odio.'
                        content_html: 'Eius quia necessitatibus natus esse. Voluptate itaque iure velit incidunt. Recusandae qui vitae voluptatem et sint iusto. Libero et voluptatem autem. Id exercitationem saepe consequuntur quaerat ex. Aut esse quidem omnis rerum odio.'
                        less_content_html: 'Eius quia necessitatibus natus esse. Voluptate itaque iure velit incidunt. Recusandae qui vitae voluptatem et sint iusto. Libero et voluptatem autem. Id exercitationem saepe consequuntur quaerat ex. Aut esse quidem omnis rerum odio.... <a href="http://demo.idir.intelekt.net.pl/dirs/delectus-dicta-modi">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6InNVR01OdVp1N1Fpd0c2RzExbmhuXC9nPT0iLCJ2YWx1ZSI6Ik1oN2JCa2JRVU1FZkY1M0ZCNW0rMjJoVVR1ZnZYMVhYT2x5T294WjhGZXc9IiwibWFjIjoiMDBmMjBiYzUzZjFjMGMwMDQ4ZDIxY2JhOGFiNjIxM2Y0YzE1YmQyNjdjMmM0OGNhNzNjYjNhZTcwNzE2ZWYzMyJ9'
                        sum_rating: '0.00'
                        created_at: '2022-03-18T16:03:01.000000Z'
                        updated_at: '2022-03-18T16:03:01.000000Z'
                        categories:
                          -
                            id: 2536
                            name: Sed
                            slug: sed-13
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-03-18T16:03:01.000000Z'
                            updated_at: '2022-03-18T16:03:01.000000Z'
                        links: []
                      -
                        id: 13398
                        slug: suscipit-culpa
                        title: 'Suscipit culpa.'
                        url: 'https://wunsch.com'
                        short_content: 'Quibusdam error unde facere id aliquam animi. Autem consectetur excepturi praesentium officiis illo vitae qui. Libero hic deserunt corporis et qui consequuntur enim. Recusandae assumenda quae expedita porro vel officia. Vel ea quasi ut in ab consequa'
                        content: 'Quibusdam error unde facere id aliquam animi. Autem consectetur excepturi praesentium officiis illo vitae qui. Libero hic deserunt corporis et qui consequuntur enim. Recusandae assumenda quae expedita porro vel officia. Vel ea quasi ut in ab consequatur.'
                        content_html: 'Quibusdam error unde facere id aliquam animi. Autem consectetur excepturi praesentium officiis illo vitae qui. Libero hic deserunt corporis et qui consequuntur enim. Recusandae assumenda quae expedita porro vel officia. Vel ea quasi ut in ab consequatur.'
                        less_content_html: 'Quibusdam error unde facere id aliquam animi. Autem consectetur excepturi praesentium officiis illo vitae qui. Libero hic deserunt corporis et qui consequuntur enim. Recusandae assumenda quae expedita porro vel officia. Vel ea quasi ut in ab consequa... <a href="http://demo.idir.intelekt.net.pl/dirs/suscipit-culpa">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6Ikw2VVZaM0ZzbytiNkJmNU5lcmdLUVE9PSIsInZhbHVlIjoiQ0J5aHgxTDIxNTI2a2pWSWduZk9pVnJqWTFaQWQ1Y3h6dTVUbTM5NWNxcz0iLCJtYWMiOiI3MzM5MWVmNmIxMTVlMjVmZWFmNDRhMzEwZmM3NjAzYzFlOWRjYzM0NThmM2NiYmFjZDU0ZjliNzAzZTg4NWUxIn0='
                        sum_rating: '0.00'
                        created_at: '2022-03-18T16:03:01.000000Z'
                        updated_at: '2022-03-18T16:03:01.000000Z'
                        categories:
                          -
                            id: 2538
                            name: Et
                            slug: et-46
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-03-18T16:03:01.000000Z'
                            updated_at: '2022-03-18T16:03:01.000000Z'
                        links: []
                    items:
                      type: object
      tags:
        - Dirs
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or (available only for admin.dirs.view): 0, 2, 3, 4, 5.'
                      example: 1
                    group:
                      type: integer
                      description: 'ID of Group relationship.'
                      example: ''
                    category:
                      type: integer
                      description: 'ID of Category relationship.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>title|asc</code>, <code>title|desc</code>, <code>sum_rating|desc</code>, <code>sum_rating|asc</code>, <code>click|desc</code>, <code>click|asc</code>, <code>view|desc</code>, or <code>view|asc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
                    author:
                      type: integer
                      description: '(available only for admin.dirs.view) ID of User relationship.'
                      example: null
                    report:
                      type: integer
                      description: '(available only for admin.dirs.view) Must be one of 1 or 0.'
                      example: null
  '/api/dirs/{dir}/group/{group}':
    put:
      summary: 'Edit dir'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.dirs.edit.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 13396
                    slug: necessitatibus-non
                    title: 'Necessitatibus non.'
                    url: 'https://graham.com'
                    short_content: 'Provident eos ea provident quos. Voluptatibus ut quis voluptate temporibus dolorum accusamus autem. Aperiam facere neque voluptatem. Dignissimos nam fugiat omnis odio. Dolorem at cupiditate sed vel.'
                    content: 'Provident eos ea provident quos. Voluptatibus ut quis voluptate temporibus dolorum accusamus autem. Aperiam facere neque voluptatem. Dignissimos nam fugiat omnis odio. Dolorem at cupiditate sed vel.'
                    content_html: 'Provident eos ea provident quos. Voluptatibus ut quis voluptate temporibus dolorum accusamus autem. Aperiam facere neque voluptatem. Dignissimos nam fugiat omnis odio. Dolorem at cupiditate sed vel.'
                    less_content_html: 'Provident eos ea provident quos. Voluptatibus ut quis voluptate temporibus dolorum accusamus autem. Aperiam facere neque voluptatem. Dignissimos nam fugiat omnis odio. Dolorem at cupiditate sed vel.... <a href="http://demo.idir.intelekt.net.pl/dirs/necessitatibus-non">show more &raquo</a>'
                    thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6InRLZWUrN3BKeFo1dTN5amV3VWVURHc9PSIsInZhbHVlIjoiNlhKS1U5eitaRWJVd3RkMHo5cjhYNGZ2V3RMWDV4VTRGNUhIcHBmMVlxUT0iLCJtYWMiOiJiZWI3MDAwNWZmZWYwMTVhY2RjMGI2MWJjZmM3ZWNhMjhmZTgwZGM0OGVkNmI2ZjZhMzM4NTRhYmJiNDFlNGRiIn0='
                    sum_rating: '0.00'
                    created_at: '2022-03-18T16:03:01.000000Z'
                    updated_at: '2022-03-18T16:03:01.000000Z'
                    categories:
                      -
                        id: 2534
                        name: Consequuntur
                        slug: consequuntur-4
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-03-18T16:03:01.000000Z'
                        updated_at: '2022-03-18T16:03:01.000000Z'
                    links: []
                properties:
                  data:
                    type: object
                    example:
                      id: 13396
                      slug: necessitatibus-non
                      title: 'Necessitatibus non.'
                      url: 'https://graham.com'
                      short_content: 'Provident eos ea provident quos. Voluptatibus ut quis voluptate temporibus dolorum accusamus autem. Aperiam facere neque voluptatem. Dignissimos nam fugiat omnis odio. Dolorem at cupiditate sed vel.'
                      content: 'Provident eos ea provident quos. Voluptatibus ut quis voluptate temporibus dolorum accusamus autem. Aperiam facere neque voluptatem. Dignissimos nam fugiat omnis odio. Dolorem at cupiditate sed vel.'
                      content_html: 'Provident eos ea provident quos. Voluptatibus ut quis voluptate temporibus dolorum accusamus autem. Aperiam facere neque voluptatem. Dignissimos nam fugiat omnis odio. Dolorem at cupiditate sed vel.'
                      less_content_html: 'Provident eos ea provident quos. Voluptatibus ut quis voluptate temporibus dolorum accusamus autem. Aperiam facere neque voluptatem. Dignissimos nam fugiat omnis odio. Dolorem at cupiditate sed vel.... <a href="http://demo.idir.intelekt.net.pl/dirs/necessitatibus-non">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6InRLZWUrN3BKeFo1dTN5amV3VWVURHc9PSIsInZhbHVlIjoiNlhKS1U5eitaRWJVd3RkMHo5cjhYNGZ2V3RMWDV4VTRGNUhIcHBmMVlxUT0iLCJtYWMiOiJiZWI3MDAwNWZmZWYwMTVhY2RjMGI2MWJjZmM3ZWNhMjhmZTgwZGM0OGVkNmI2ZjZhMzM4NTRhYmJiNDFlNGRiIn0='
                      sum_rating: '0.00'
                      created_at: '2022-03-18T16:03:01.000000Z'
                      updated_at: '2022-03-18T16:03:01.000000Z'
                      categories:
                        -
                          id: 2534
                          name: Consequuntur
                          slug: consequuntur-4
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-03-18T16:03:01.000000Z'
                          updated_at: '2022-03-18T16:03:01.000000Z'
                      links: []
      tags:
        - Dirs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must be between 3 and 100 characters.'
                  example: 'Lorem ipsum dolor sit amet'
                tags:
                  type: array
                  description: 'Must be at least 3 characters. Must not be greater than 30 characters.'
                  example:
                    - mgwwtimodsbaetko
                  items:
                    type: string
                categories:
                  type: array
                  description: 'Array containing category IDs.'
                  example:
                    - 14
                  items:
                    type: integer
                content_html:
                  type: string
                  description: 'Description. Must be between 255 and 1000 characters.'
                  example: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                notes:
                  type: string
                  description: 'Additional information for the moderator. Must be between 3 and 255 characters.'
                  example: ''
                url:
                  type: string
                  description: 'Unique website url with http/https protocol.'
                  example: 'https://demo.idir.intelekt.net.pl'
                backlink:
                  type: integer
                  description: 'ID of the selected backlink.'
                  example: null
                backlink_url:
                  type: string
                  description: 'Url with http/https protocol to backlink.'
                  example: null
                g-recaptcha-response:
                  type: string
                  description: 'Recaptcha response. Only required for free groups.'
                  example: laudantium
                field:
                  type: array
                  description: 'Array containing additional form fields if the group allows it.'
                  example: null
                  items:
                    type: object
                user:
                  type: integer
                  description: '(available only for admin.dirs.edit) ID of User author. If null is no author.'
                  example: null
                payment_type:
                  type: string
                  description: 'If the group requires a payment, the selected type must be defined. Must be one of <code>transfer</code>, <code>code_transfer</code>, <code>code_sms</code>, or <code>paypal_express</code>.'
                  example: null
                payment_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>transfer</code>.'
                  example: null
                payment_code_sms:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_sms</code>.'
                  example: null
                code_sms:
                  type: string
                  description: 'Received code if payment_type is <code>code_sms</code>.'
                  example: null
                payment_code_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_transfer</code>.'
                  example: null
                code_transfer:
                  type: string
                  description: 'Received code if payment_type is <code>code_transfer</code>.'
                  example: null
                payment_paypal_express:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>paypal_express</code>.'
                  example: null
              required:
                - g-recaptcha-response
    parameters:
      -
        in: path
        name: dir
        description: 'The dir ID.'
        example: null
        required: true
        schema:
          type: integer
      -
        in: path
        name: group
        description: 'The group ID. If same as current and has active premium time then no new payment is required.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/dirs/{dir}':
    delete:
      summary: 'Delete dir'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.dirs.delete.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        204:
          description: ''
      tags:
        - Dirs
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: '(available only for admin.dirs.delete).'
                  example: null
    parameters:
      -
        in: path
        name: dir
        description: 'The dir ID.'
        example: null
        required: true
        schema:
          type: integer
  '/api/dirs/{dir}/status':
    patch:
      summary: 'Edit status dir'
      description: '<aside class="notice">Available only to users with permissions: api.access, api.dirs.status and admin.dirs.status.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 13395
                    slug: voluptatem-iste-quibusdam
                    title: 'Voluptatem iste quibusdam.'
                    url: 'http://www.pollich.info'
                    short_content: 'Natus et expedita nihil sunt minima voluptate voluptatem. Dolores consequatur et dolores nisi. Quaerat eaque minus placeat consequatur tenetur. Repellat temporibus mollitia porro libero perferendis quo. Quo dolorem eum rerum cupiditate.'
                    content: 'Natus et expedita nihil sunt minima voluptate voluptatem. Dolores consequatur et dolores nisi. Quaerat eaque minus placeat consequatur tenetur. Repellat temporibus mollitia porro libero perferendis quo. Quo dolorem eum rerum cupiditate.'
                    content_html: 'Natus et expedita nihil sunt minima voluptate voluptatem. Dolores consequatur et dolores nisi. Quaerat eaque minus placeat consequatur tenetur. Repellat temporibus mollitia porro libero perferendis quo. Quo dolorem eum rerum cupiditate.'
                    less_content_html: 'Natus et expedita nihil sunt minima voluptate voluptatem. Dolores consequatur et dolores nisi. Quaerat eaque minus placeat consequatur tenetur. Repellat temporibus mollitia porro libero perferendis quo. Quo dolorem eum rerum cupiditate.... <a href="http://demo.idir.intelekt.net.pl/dirs/voluptatem-iste-quibusdam">show more &raquo</a>'
                    thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6InozNzdicjhiZkJuXC9KK0ZPQ0RyVE9BPT0iLCJ2YWx1ZSI6IkVtT0FTNGpqY3FUYzJ1TVRjTExBYnRRQkMwa2Z5ZnQ3UWZqaFFIZFgrcFE9IiwibWFjIjoiZGMyMWM1YWE1ZjZjNDBjY2E0ZGRkNDgwYjU4ODA0ZGFmYTM4YTA1ZWMzZGEwMmNlMDY5MDg0MDY0NTYzMDQ2MiJ9'
                    sum_rating: '0.00'
                    created_at: '2022-03-18T16:03:00.000000Z'
                    updated_at: '2022-03-18T16:03:00.000000Z'
                    categories:
                      -
                        id: 2532
                        name: Ut
                        slug: ut-28
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-03-18T16:03:00.000000Z'
                        updated_at: '2022-03-18T16:03:00.000000Z'
                    links: []
                properties:
                  data:
                    type: object
                    example:
                      id: 13395
                      slug: voluptatem-iste-quibusdam
                      title: 'Voluptatem iste quibusdam.'
                      url: 'http://www.pollich.info'
                      short_content: 'Natus et expedita nihil sunt minima voluptate voluptatem. Dolores consequatur et dolores nisi. Quaerat eaque minus placeat consequatur tenetur. Repellat temporibus mollitia porro libero perferendis quo. Quo dolorem eum rerum cupiditate.'
                      content: 'Natus et expedita nihil sunt minima voluptate voluptatem. Dolores consequatur et dolores nisi. Quaerat eaque minus placeat consequatur tenetur. Repellat temporibus mollitia porro libero perferendis quo. Quo dolorem eum rerum cupiditate.'
                      content_html: 'Natus et expedita nihil sunt minima voluptate voluptatem. Dolores consequatur et dolores nisi. Quaerat eaque minus placeat consequatur tenetur. Repellat temporibus mollitia porro libero perferendis quo. Quo dolorem eum rerum cupiditate.'
                      less_content_html: 'Natus et expedita nihil sunt minima voluptate voluptatem. Dolores consequatur et dolores nisi. Quaerat eaque minus placeat consequatur tenetur. Repellat temporibus mollitia porro libero perferendis quo. Quo dolorem eum rerum cupiditate.... <a href="http://demo.idir.intelekt.net.pl/dirs/voluptatem-iste-quibusdam">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6InozNzdicjhiZkJuXC9KK0ZPQ0RyVE9BPT0iLCJ2YWx1ZSI6IkVtT0FTNGpqY3FUYzJ1TVRjTExBYnRRQkMwa2Z5ZnQ3UWZqaFFIZFgrcFE9IiwibWFjIjoiZGMyMWM1YWE1ZjZjNDBjY2E0ZGRkNDgwYjU4ODA0ZGFmYTM4YTA1ZWMzZGEwMmNlMDY5MDg0MDY0NTYzMDQ2MiJ9'
                      sum_rating: '0.00'
                      created_at: '2022-03-18T16:03:00.000000Z'
                      updated_at: '2022-03-18T16:03:00.000000Z'
                      categories:
                        -
                          id: 2532
                          name: Ut
                          slug: ut-28
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-03-18T16:03:00.000000Z'
                          updated_at: '2022-03-18T16:03:00.000000Z'
                      links: []
      tags:
        - Dirs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: 'Must be one of <code>1</code>, <code>0</code>, or <code>5</code>.'
                  example: 1
                reason:
                  type: string
                  description: ''
                  example: quia
              required:
                - status
    parameters:
      -
        in: path
        name: dir
        description: 'The dir ID.'
        example: null
        required: true
        schema:
          type: integer
  /api/groups/index:
    post:
      summary: 'Index of groups'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 19
                      slug: ipsum
                      position: 10
                      name: Ipsum
                      desc: 'Illo iusto quo sapiente labore sequi et voluptatem. Amet voluptate distinctio voluptatem aut non. Qui odio voluptas nulla dolor velit.'
                      border: null
                      max_cats: 1
                      max_models: 20
                      max_models_daily: 7
                      visible:
                        value: 1
                        label: public
                      apply_status:
                        value: 1
                        label: 'active immediately'
                      url:
                        value: 2
                        label: required
                      backlink:
                        value: 1
                        label: optional
                      created_at: '2022-03-18T16:03:00.000000Z'
                      updated_at: '2022-03-18T16:03:00.000000Z'
                      alt: null
                      privileges:
                        -
                          id: 9
                          name: 'additional options for editing content'
                          created_at: '2021-01-06T16:58:51.000000Z'
                          updated_at: '2021-01-06T16:58:51.000000Z'
                    -
                      id: 20
                      slug: nostrum
                      position: 11
                      name: Nostrum
                      desc: 'Tenetur commodi cumque corrupti omnis rerum explicabo. Accusamus ut sequi aspernatur non a. Rerum aut voluptatem eos et quas ullam. Laborum perferendis dignissimos deserunt id qui harum. Est officiis voluptatum quo nihil qui autem.'
                      border: null
                      max_cats: 5
                      max_models: null
                      max_models_daily: 7
                      visible:
                        value: 1
                        label: public
                      apply_status:
                        value: 0
                        label: 'pending acceptance'
                      url:
                        value: 2
                        label: required
                      backlink:
                        value: 0
                        label: none
                      created_at: '2022-03-18T16:03:00.000000Z'
                      updated_at: '2022-03-18T16:03:00.000000Z'
                      alt: null
                      privileges:
                        -
                          id: 9
                          name: 'additional options for editing content'
                          created_at: '2021-01-06T16:58:51.000000Z'
                          updated_at: '2021-01-06T16:58:51.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 19
                        slug: ipsum
                        position: 10
                        name: Ipsum
                        desc: 'Illo iusto quo sapiente labore sequi et voluptatem. Amet voluptate distinctio voluptatem aut non. Qui odio voluptas nulla dolor velit.'
                        border: null
                        max_cats: 1
                        max_models: 20
                        max_models_daily: 7
                        visible:
                          value: 1
                          label: public
                        apply_status:
                          value: 1
                          label: 'active immediately'
                        url:
                          value: 2
                          label: required
                        backlink:
                          value: 1
                          label: optional
                        created_at: '2022-03-18T16:03:00.000000Z'
                        updated_at: '2022-03-18T16:03:00.000000Z'
                        alt: null
                        privileges:
                          -
                            id: 9
                            name: 'additional options for editing content'
                            created_at: '2021-01-06T16:58:51.000000Z'
                            updated_at: '2021-01-06T16:58:51.000000Z'
                      -
                        id: 20
                        slug: nostrum
                        position: 11
                        name: Nostrum
                        desc: 'Tenetur commodi cumque corrupti omnis rerum explicabo. Accusamus ut sequi aspernatur non a. Rerum aut voluptatem eos et quas ullam. Laborum perferendis dignissimos deserunt id qui harum. Est officiis voluptatum quo nihil qui autem.'
                        border: null
                        max_cats: 5
                        max_models: null
                        max_models_daily: 7
                        visible:
                          value: 1
                          label: public
                        apply_status:
                          value: 0
                          label: 'pending acceptance'
                        url:
                          value: 2
                          label: required
                        backlink:
                          value: 0
                          label: none
                        created_at: '2022-03-18T16:03:00.000000Z'
                        updated_at: '2022-03-18T16:03:00.000000Z'
                        alt: null
                        privileges:
                          -
                            id: 9
                            name: 'additional options for editing content'
                            created_at: '2021-01-06T16:58:51.000000Z'
                            updated_at: '2021-01-06T16:58:51.000000Z'
                    items:
                      type: object
      tags:
        - Groups
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    visible:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.groups.view).'
                      example: 1
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, or <code>position|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  '/api/payments/{payment_dir_pending}/dir/{driver}':
    get:
      summary: 'Show dir''s payment'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    uuid: 41eef476-8465-43df-ac35-5f2e99db2adf
                    driver: null
                    status:
                      value: 2
                      label: pending
                    created_at: '2022-03-18T16:02:59.000000Z'
                    updated_at: '2022-03-18T16:02:59.000000Z'
                    morph:
                      id: 13394
                      slug: accusantium-ut
                      title: 'Accusantium ut.'
                      url: 'http://www.donnelly.com'
                      short_content: 'Nobis quisquam nisi aspernatur repellendus. Harum saepe consequatur temporibus corrupti qui. Tempore quia dicta aspernatur. Impedit qui iusto fugiat dolores repellat officia aliquam.'
                      content: 'Nobis quisquam nisi aspernatur repellendus. Harum saepe consequatur temporibus corrupti qui. Tempore quia dicta aspernatur. Impedit qui iusto fugiat dolores repellat officia aliquam.'
                      content_html: 'Nobis quisquam nisi aspernatur repellendus. Harum saepe consequatur temporibus corrupti qui. Tempore quia dicta aspernatur. Impedit qui iusto fugiat dolores repellat officia aliquam.'
                      less_content_html: 'Nobis quisquam nisi aspernatur repellendus. Harum saepe consequatur temporibus corrupti qui. Tempore quia dicta aspernatur. Impedit qui iusto fugiat dolores repellat officia aliquam.... <a href="http://demo.idir.intelekt.net.pl/dirs/accusantium-ut">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6InYxdGdacFg0S1BUVU56aHp4ajdKcHc9PSIsInZhbHVlIjoiR1cyQytGNllaUWpGU09xUnJZMlkzXC80SHcwUDhKOHRTeW1WZ2JvbXhcLzcwPSIsIm1hYyI6IjM3Mzg5OGJjNTQzODc2NWZhMTAzY2E0NjIzMmI5ZDU0Y2VkYzJjMWY0OTBiNmE4NTYwMGRiYTY4YTQ2M2Y4OGIifQ=='
                      sum_rating: '0.00'
                      created_at: '2022-03-18T16:02:59.000000Z'
                      updated_at: '2022-03-18T16:02:59.000000Z'
                      links: []
                    order:
                      id: 20
                      type: transfer
                      price: '1.30'
                      regular_price: '1.30'
                      discount_price: null
                      discount: null
                      qr_as_image: null
                      days: 182
                      created_at: '2022-03-18T16:02:59.000000Z'
                      updated_at: '2022-03-18T16:02:59.000000Z'
                  url: 'https://paytest.cashbill.pl/pl/payment/eydJpZCI6IlRFU1RfNmV6OWZ6dXpvIiwicGMiOiIiLCJ0b2tlbiI6ImJiNjQ3ZGFhOTQ3NDU1NzM0OGRhMzhkYjEyMTE0YTI5MTA0NDhkMGUifQ--'
                properties:
                  data:
                    type: object
                    example:
                      uuid: 41eef476-8465-43df-ac35-5f2e99db2adf
                      driver: null
                      status:
                        value: 2
                        label: pending
                      created_at: '2022-03-18T16:02:59.000000Z'
                      updated_at: '2022-03-18T16:02:59.000000Z'
                      morph:
                        id: 13394
                        slug: accusantium-ut
                        title: 'Accusantium ut.'
                        url: 'http://www.donnelly.com'
                        short_content: 'Nobis quisquam nisi aspernatur repellendus. Harum saepe consequatur temporibus corrupti qui. Tempore quia dicta aspernatur. Impedit qui iusto fugiat dolores repellat officia aliquam.'
                        content: 'Nobis quisquam nisi aspernatur repellendus. Harum saepe consequatur temporibus corrupti qui. Tempore quia dicta aspernatur. Impedit qui iusto fugiat dolores repellat officia aliquam.'
                        content_html: 'Nobis quisquam nisi aspernatur repellendus. Harum saepe consequatur temporibus corrupti qui. Tempore quia dicta aspernatur. Impedit qui iusto fugiat dolores repellat officia aliquam.'
                        less_content_html: 'Nobis quisquam nisi aspernatur repellendus. Harum saepe consequatur temporibus corrupti qui. Tempore quia dicta aspernatur. Impedit qui iusto fugiat dolores repellat officia aliquam.... <a href="http://demo.idir.intelekt.net.pl/dirs/accusantium-ut">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6InYxdGdacFg0S1BUVU56aHp4ajdKcHc9PSIsInZhbHVlIjoiR1cyQytGNllaUWpGU09xUnJZMlkzXC80SHcwUDhKOHRTeW1WZ2JvbXhcLzcwPSIsIm1hYyI6IjM3Mzg5OGJjNTQzODc2NWZhMTAzY2E0NjIzMmI5ZDU0Y2VkYzJjMWY0OTBiNmE4NTYwMGRiYTY4YTQ2M2Y4OGIifQ=='
                        sum_rating: '0.00'
                        created_at: '2022-03-18T16:02:59.000000Z'
                        updated_at: '2022-03-18T16:02:59.000000Z'
                        links: []
                      order:
                        id: 20
                        type: transfer
                        price: '1.30'
                        regular_price: '1.30'
                        discount_price: null
                        discount: null
                        qr_as_image: null
                        days: 182
                        created_at: '2022-03-18T16:02:59.000000Z'
                        updated_at: '2022-03-18T16:02:59.000000Z'
                  url:
                    type: string
                    example: 'https://paytest.cashbill.pl/pl/payment/eydJpZCI6IlRFU1RfNmV6OWZ6dXpvIiwicGMiOiIiLCJ0b2tlbiI6ImJiNjQ3ZGFhOTQ3NDU1NzM0OGRhMzhkYjEyMTE0YTI5MTA0NDhkMGUifQ--'
                    description: 'Link to the driver''s payment page (for transfer type payment).'
      tags:
        - Payments
      security: []
    parameters:
      -
        in: path
        name: payment_dir_pending
        description: 'The payment UUID.'
        example: null
        required: true
        schema:
          type: string
      -
        in: path
        name: driver
        description: 'Optional parameter. The payment driver.'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
  /api/posts/index:
    post:
      summary: 'Index of posts'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.posts.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 185
                      slug: repudiandae-est-illum-necessitatibus
                      title: 'Repudiandae est illum necessitatibus.'
                      short_content: 'Non sed inventore praesentium ut facere quas animi. Occaecati necessitatibus sit aut aliquid exercitationem odio facilis sed. Necessitatibus ea natus deserunt molestiae quos. Beatae rem in voluptate architecto amet non tenetur. Iste qui tenetur ut qui amet. Aut beatae dolorem amet et explicabo vero. Corrupti quis minus excepturi fugiat. Ullam amet et architecto ipsam. Reprehenderit quae aut nostrum qui nobis exercitationem minima sit. Iure error ut omnis. Porro doloremque placeat aperiam dolorem'
                      content: 'Non sed inventore praesentium ut facere quas animi. Occaecati necessitatibus sit aut aliquid exercitationem odio facilis sed. Necessitatibus ea natus deserunt molestiae quos. Beatae rem in voluptate architecto amet non tenetur. Iste qui tenetur ut qui amet. Aut beatae dolorem amet et explicabo vero. Corrupti quis minus excepturi fugiat. Ullam amet et architecto ipsam. Reprehenderit quae aut nostrum qui nobis exercitationem minima sit. Iure error ut omnis. Porro doloremque placeat aperiam dolorem. Aperiam recusandae esse sapiente iure modi assumenda saepe. Sit est ratione dolores est est quis sit. Voluptatem laudantium qui dolorem architecto eius. Quos expedita aliquid aut. Assumenda veniam ea sint iure nobis. Sunt cupiditate ut non aut porro molestiae. Et et eaque ducimus. Dolorum praesentium unde placeat. Molestiae possimus qui sed reiciendis eos voluptate sed. Ea ut adipisci rerum recusandae. Architecto atque consectetur voluptas sed et. Et ratione molestiae dolorem expedita in dicta. Dolores velit ut adipisci vel consequatur deserunt eum dolor. Totam ducimus debitis voluptatem sunt. Ad sapiente et cum. Ratione deserunt omnis eligendi ipsam vero culpa fugit. Et sed temporibus necessitatibus dolor beatae quae vel. Facere beatae ex ut maiores eos ea. Rem consequuntur doloribus totam exercitationem id est error at. Iste voluptatem modi explicabo aut. Eum tempora minima earum nisi ea. Consequatur quia consequuntur et. Nulla consequuntur sint sint id. Labore culpa aut sed vitae odit. Ad voluptatum laboriosam culpa porro natus. Nihil quia eum ad quaerat hic. Architecto sit et velit. Optio magnam nihil impedit atque harum laudantium aperiam quia. Ea fugit qui amet velit consequatur dolorem ab. Eos quia et et incidunt optio. Qui quia non eos amet. Repellat ex recusandae provident consequatur quaerat itaque odio. Veniam aut excepturi tenetur ipsam in voluptatem nulla. Blanditiis ad dolor distinctio et vero aut.'
                      content_html: '<p>Non sed inventore praesentium ut facere quas animi. Occaecati necessitatibus sit aut aliquid exercitationem odio facilis sed. Necessitatibus ea natus deserunt molestiae quos. Beatae rem in voluptate architecto amet non tenetur. Iste qui tenetur ut qui amet. Aut beatae dolorem amet et explicabo vero. Corrupti quis minus excepturi fugiat. Ullam amet et architecto ipsam. Reprehenderit quae aut nostrum qui nobis exercitationem minima sit. Iure error ut omnis. Porro doloremque placeat aperiam dolorem. Aperiam recusandae esse sapiente iure modi assumenda saepe. Sit est ratione dolores est est quis sit. Voluptatem laudantium qui dolorem architecto eius. Quos expedita aliquid aut. Assumenda veniam ea sint iure nobis. Sunt cupiditate ut non aut porro molestiae. Et et eaque ducimus. Dolorum praesentium unde placeat. Molestiae possimus qui sed reiciendis eos voluptate sed. Ea ut adipisci rerum recusandae. Architecto atque consectetur voluptas sed et. Et ratione molestiae dolorem expedita in dicta. Dolores velit ut adipisci vel consequatur deserunt eum dolor. Totam ducimus debitis voluptatem sunt. Ad sapiente et cum. Ratione deserunt omnis eligendi ipsam vero culpa fugit. Et sed temporibus necessitatibus dolor beatae quae vel. Facere beatae ex ut maiores eos ea. Rem consequuntur doloribus totam exercitationem id est error at. Iste voluptatem modi explicabo aut. Eum tempora minima earum nisi ea. Consequatur quia consequuntur et. Nulla consequuntur sint sint id. Labore culpa aut sed vitae odit. Ad voluptatum laboriosam culpa porro natus. Nihil quia eum ad quaerat hic. Architecto sit et velit. Optio magnam nihil impedit atque harum laudantium aperiam quia. Ea fugit qui amet velit consequatur dolorem ab. Eos quia et et incidunt optio. Qui quia non eos amet. Repellat ex recusandae provident consequatur quaerat itaque odio. Veniam aut excepturi tenetur ipsam in voluptatem nulla. Blanditiis ad dolor distinctio et vero aut.</p>'
[...]
