openapi: 3.0.3
info:
  title: 'API Documentation - iDir - nowoczesny katalog stron'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://demo.idir.intelekt.net.pl'
paths:
  /api/user:
    get:
      summary: 'Show user'
      description: "Show authenticated User resource\n\n<aside class=\"notice\">Available only to users with permission: api.access.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 12260
                    name: 'Chasity Keebler'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-05-10T09:53:04.000000Z'
                    updated_at: '2022-05-10T09:53:04.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2021-01-06T16:58:51.000000Z'
                        updated_at: '2021-01-06T16:58:51.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 12260
                      name: 'Chasity Keebler'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-05-10T09:53:04.000000Z'
                      updated_at: '2022-05-10T09:53:04.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T16:58:51.000000Z'
                          updated_at: '2021-01-06T16:58:51.000000Z'
      tags:
        - 'Authenticated user'
  /api/user/dirs:
    post:
      summary: 'Index of user''s dirs'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 13427
                      slug: sunt-repellendus-et
                      title: 'Sunt repellendus et.'
                      url: 'http://tillman.com'
                      short_content: 'Facere iure et ipsam autem provident nihil vel mollitia. Voluptatem quidem nihil eius consequatur eum. Ratione saepe possimus magni earum quia labore nulla. Et consequatur quo voluptas et.'
                      content: 'Facere iure et ipsam autem provident nihil vel mollitia. Voluptatem quidem nihil eius consequatur eum. Ratione saepe possimus magni earum quia labore nulla. Et consequatur quo voluptas et.'
                      content_html: 'Facere iure et ipsam autem provident nihil vel mollitia. Voluptatem quidem nihil eius consequatur eum. Ratione saepe possimus magni earum quia labore nulla. Et consequatur quo voluptas et.'
                      less_content_html: 'Facere iure et ipsam autem provident nihil vel mollitia. Voluptatem quidem nihil eius consequatur eum. Ratione saepe possimus magni earum quia labore nulla. Et consequatur quo voluptas et.... <a href="https://demo.idir.intelekt.net.pl/dirs/sunt-repellendus-et">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6Im9LWlY4N2JRSlhITUtNaGdFZVJETFE9PSIsInZhbHVlIjoiQ1BPQXNQS21HSG9rRzRReGlqbnNLalV5RDRZZXp4Z2dibXl3WElPNXRaUT0iLCJtYWMiOiI4NjkyYmMwNzc4NzBhYjY5NGNlOTc2ZmRhYzNkYjNjYWViNGY0ZjIyNzk3YzY0ODFhZjc5NDc2MjVkODQ0MDE2IiwidGFnIjoiIn0='
                      sum_rating: '0.00'
                      created_at: '2022-05-10T09:52:59.000000Z'
                      updated_at: '2022-05-10T09:52:59.000000Z'
                      categories:
                        -
                          id: 2523
                          name: Sapiente
                          slug: sapiente-6
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-05-10T09:53:00.000000Z'
                          updated_at: '2022-05-10T09:53:00.000000Z'
                      links: []
                    -
                      id: 13428
                      slug: reprehenderit-delectus-et-corporis
                      title: 'Reprehenderit delectus et corporis.'
                      url: 'http://www.schneider.org'
                      short_content: 'Distinctio et eos nostrum quod fugiat cupiditate autem quae. Assumenda dolor velit porro eveniet debitis non. Ea quas non atque illum corporis. Illum vel quia sint voluptate autem rerum ipsam. Aperiam est amet eum eos.'
                      content: 'Distinctio et eos nostrum quod fugiat cupiditate autem quae. Assumenda dolor velit porro eveniet debitis non. Ea quas non atque illum corporis. Illum vel quia sint voluptate autem rerum ipsam. Aperiam est amet eum eos.'
                      content_html: 'Distinctio et eos nostrum quod fugiat cupiditate autem quae. Assumenda dolor velit porro eveniet debitis non. Ea quas non atque illum corporis. Illum vel quia sint voluptate autem rerum ipsam. Aperiam est amet eum eos.'
                      less_content_html: 'Distinctio et eos nostrum quod fugiat cupiditate autem quae. Assumenda dolor velit porro eveniet debitis non. Ea quas non atque illum corporis. Illum vel quia sint voluptate autem rerum ipsam. Aperiam est amet eum eos.... <a href="https://demo.idir.intelekt.net.pl/dirs/reprehenderit-delectus-et-corporis">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6ImxLMjRySndKNWIvOEE5S3dUeHRMMUE9PSIsInZhbHVlIjoiL0Z4YlV6OHlWYWMxbXpGdlRiT3RrVlpUNVZKQ2w2YWRRbVpBN01lUXBJOD0iLCJtYWMiOiJiMzg1N2VhYTNjYjkyMWRjMmRjNTNjMDI3MmYyMDEyMjg4MTIzMDQ5MzVjMzY0N2IwYjEwMTE0MGFmNjI3Y2QwIiwidGFnIjoiIn0='
                      sum_rating: '0.00'
                      created_at: '2022-05-10T09:53:00.000000Z'
                      updated_at: '2022-05-10T09:53:00.000000Z'
                      categories:
                        -
                          id: 2524
                          name: Excepturi
                          slug: excepturi-4
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-05-10T09:53:00.000000Z'
                          updated_at: '2022-05-10T09:53:00.000000Z'
                      links: []
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 13427
                        slug: sunt-repellendus-et
                        title: 'Sunt repellendus et.'
                        url: 'http://tillman.com'
                        short_content: 'Facere iure et ipsam autem provident nihil vel mollitia. Voluptatem quidem nihil eius consequatur eum. Ratione saepe possimus magni earum quia labore nulla. Et consequatur quo voluptas et.'
                        content: 'Facere iure et ipsam autem provident nihil vel mollitia. Voluptatem quidem nihil eius consequatur eum. Ratione saepe possimus magni earum quia labore nulla. Et consequatur quo voluptas et.'
                        content_html: 'Facere iure et ipsam autem provident nihil vel mollitia. Voluptatem quidem nihil eius consequatur eum. Ratione saepe possimus magni earum quia labore nulla. Et consequatur quo voluptas et.'
                        less_content_html: 'Facere iure et ipsam autem provident nihil vel mollitia. Voluptatem quidem nihil eius consequatur eum. Ratione saepe possimus magni earum quia labore nulla. Et consequatur quo voluptas et.... <a href="https://demo.idir.intelekt.net.pl/dirs/sunt-repellendus-et">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6Im9LWlY4N2JRSlhITUtNaGdFZVJETFE9PSIsInZhbHVlIjoiQ1BPQXNQS21HSG9rRzRReGlqbnNLalV5RDRZZXp4Z2dibXl3WElPNXRaUT0iLCJtYWMiOiI4NjkyYmMwNzc4NzBhYjY5NGNlOTc2ZmRhYzNkYjNjYWViNGY0ZjIyNzk3YzY0ODFhZjc5NDc2MjVkODQ0MDE2IiwidGFnIjoiIn0='
                        sum_rating: '0.00'
                        created_at: '2022-05-10T09:52:59.000000Z'
                        updated_at: '2022-05-10T09:52:59.000000Z'
                        categories:
                          -
                            id: 2523
                            name: Sapiente
                            slug: sapiente-6
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-05-10T09:53:00.000000Z'
                            updated_at: '2022-05-10T09:53:00.000000Z'
                        links: []
                      -
                        id: 13428
                        slug: reprehenderit-delectus-et-corporis
                        title: 'Reprehenderit delectus et corporis.'
                        url: 'http://www.schneider.org'
                        short_content: 'Distinctio et eos nostrum quod fugiat cupiditate autem quae. Assumenda dolor velit porro eveniet debitis non. Ea quas non atque illum corporis. Illum vel quia sint voluptate autem rerum ipsam. Aperiam est amet eum eos.'
                        content: 'Distinctio et eos nostrum quod fugiat cupiditate autem quae. Assumenda dolor velit porro eveniet debitis non. Ea quas non atque illum corporis. Illum vel quia sint voluptate autem rerum ipsam. Aperiam est amet eum eos.'
                        content_html: 'Distinctio et eos nostrum quod fugiat cupiditate autem quae. Assumenda dolor velit porro eveniet debitis non. Ea quas non atque illum corporis. Illum vel quia sint voluptate autem rerum ipsam. Aperiam est amet eum eos.'
                        less_content_html: 'Distinctio et eos nostrum quod fugiat cupiditate autem quae. Assumenda dolor velit porro eveniet debitis non. Ea quas non atque illum corporis. Illum vel quia sint voluptate autem rerum ipsam. Aperiam est amet eum eos.... <a href="https://demo.idir.intelekt.net.pl/dirs/reprehenderit-delectus-et-corporis">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6ImxLMjRySndKNWIvOEE5S3dUeHRMMUE9PSIsInZhbHVlIjoiL0Z4YlV6OHlWYWMxbXpGdlRiT3RrVlpUNVZKQ2w2YWRRbVpBN01lUXBJOD0iLCJtYWMiOiJiMzg1N2VhYTNjYjkyMWRjMmRjNTNjMDI3MmYyMDEyMjg4MTIzMDQ5MzVjMzY0N2IwYjEwMTE0MGFmNjI3Y2QwIiwidGFnIjoiIn0='
                        sum_rating: '0.00'
                        created_at: '2022-05-10T09:53:00.000000Z'
                        updated_at: '2022-05-10T09:53:00.000000Z'
                        categories:
                          -
                            id: 2524
                            name: Excepturi
                            slug: excepturi-4
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-05-10T09:53:00.000000Z'
                            updated_at: '2022-05-10T09:53:00.000000Z'
                        links: []
                    items:
                      type: object
      tags:
        - 'Authenticated user'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be between 0 and 5.'
                      example: ''
                    group:
                      type: integer
                      description: 'ID of Group relationship.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>title|asc</code>, <code>title|desc</code>, <code>sum_rating|desc</code>, <code>sum_rating|asc</code>, <code>click|asc</code>, <code>click|desc</code>, <code>view|asc</code>, or <code>view|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
  /api/token:
    post:
      summary: Token
      description: "Create access token and (optional) refresh token.\n\n<aside class=\"notice\">Access token expires after 2 hours. Refresh token expires after 1 year.</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: '(only if remember param was true)'
      tags:
        - Authentication
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: kontakt@demo.idir.intelekt.net.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                remember:
                  type: boolean
                  description: ''
                  example: true
      security: []
  /api/register:
    post:
      summary: Register
      description: 'Create user and send email verification notification'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 12263
                    name: 'Tia Johnson'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-05-10T09:53:07.000000Z'
                    updated_at: '2022-05-10T09:53:07.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2021-01-06T16:58:51.000000Z'
                        updated_at: '2021-01-06T16:58:51.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 12263
                      name: 'Tia Johnson'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-05-10T09:53:07.000000Z'
                      updated_at: '2022-05-10T09:53:07.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T16:58:51.000000Z'
                          updated_at: '2021-01-06T16:58:51.000000Z'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: N1ebieski
                email:
                  type: string
                  description: ''
                  example: example@example.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                password_confirmation:
                  type: string
                  description: ''
                  example: demo1234
                privacy_agreement:
                  type: boolean
                  description: 'Acceptance of privacy policy'
                  example: true
                contact_agreement:
                  type: boolean
                  description: 'Acceptance of receiving e-mail system notifications'
                  example: true
                marketing_agreement:
                  type: boolean
                  description: 'Acceptance of receiving marketing information notifications'
                  example: true
              required:
                - name
                - email
                - password
                - password_confirmation
                - privacy_agreement
                - contact_agreement
      security: []
  /api/revoke:
    post:
      summary: 'Revoke token'
      description: 'Revoke access token and refresh token.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        204:
          description: success
      tags:
        - Authentication
  /api/refresh:
    post:
      summary: 'Refresh token'
      description: "Create new access token and refresh token.\n\n<aside class=\"success\">Refresh token must be in the Authorization header with the value \"Bearer {YOUR_REFRESH_TOKEN}\".</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_REFRESH_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: ''
      tags:
        - Authentication
  /api/categories/dir/index:
    post:
      summary: 'Index of dir''s categories'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2531
                      name: 'Consequatur dolorem'
                      slug: consequatur-dolorem
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-05-10T09:53:04.000000Z'
                      updated_at: '2022-05-10T09:53:04.000000Z'
                    -
                      id: 2532
                      name: 'Atque cumque'
                      slug: atque-cumque
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-05-10T09:53:04.000000Z'
                      updated_at: '2022-05-10T09:53:04.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2531
                        name: 'Consequatur dolorem'
                        slug: consequatur-dolorem
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-10T09:53:04.000000Z'
                        updated_at: '2022-05-10T09:53:04.000000Z'
                      -
                        id: 2532
                        name: 'Atque cumque'
                        slug: atque-cumque
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-10T09:53:04.000000Z'
                        updated_at: '2022-05-10T09:53:04.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/categories/post/index:
    post:
      summary: 'Index of post''s categories'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2533
                      name: 'Repellat ad'
                      slug: repellat-ad
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-05-10T09:53:06.000000Z'
                      updated_at: '2022-05-10T09:53:06.000000Z'
                    -
                      id: 2534
                      name: 'Qui eos'
                      slug: qui-eos
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-05-10T09:53:06.000000Z'
                      updated_at: '2022-05-10T09:53:06.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2533
                        name: 'Repellat ad'
                        slug: repellat-ad
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-10T09:53:06.000000Z'
                        updated_at: '2022-05-10T09:53:06.000000Z'
                      -
                        id: 2534
                        name: 'Qui eos'
                        slug: qui-eos
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-10T09:53:06.000000Z'
                        updated_at: '2022-05-10T09:53:06.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/categories/index:
    post:
      summary: 'Index of all categories'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2535
                      name: 'Ut sit'
                      slug: ut-sit
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-05-10T09:53:06.000000Z'
                      updated_at: '2022-05-10T09:53:06.000000Z'
                    -
                      id: 2536
                      name: 'Odit et'
                      slug: odit-et
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-05-10T09:53:06.000000Z'
                      updated_at: '2022-05-10T09:53:06.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2535
                        name: 'Ut sit'
                        slug: ut-sit
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-10T09:53:06.000000Z'
                        updated_at: '2022-05-10T09:53:06.000000Z'
                      -
                        id: 2536
                        name: 'Odit et'
                        slug: odit-et
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-10T09:53:06.000000Z'
                        updated_at: '2022-05-10T09:53:06.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  '/api/dirs/group/{group}':
    post:
      summary: 'Create dir'
      description: '<aside class="notice">If the user is authenticated the entry is added to his/her account, if not, an account is created for the email address provided.</aside>'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 13434
                    slug: ut-ullam-velit-deleniti
                    title: 'Ut ullam velit deleniti.'
                    url: 'http://www.davis.com'
                    short_content: 'Autem quos velit autem. Tempora officiis commodi iusto ea maiores. Exercitationem dolorum culpa aliquam aut explicabo alias. Sed non eaque aut praesentium. Magni aut reiciendis voluptatem. At est eum veniam eaque est ipsa exercitationem autem. Repreh'
                    content: 'Autem quos velit autem. Tempora officiis commodi iusto ea maiores. Exercitationem dolorum culpa aliquam aut explicabo alias. Sed non eaque aut praesentium. Magni aut reiciendis voluptatem. At est eum veniam eaque est ipsa exercitationem autem. Reprehenderit rem aliquam et animi saepe sit ipsum. Nihil eos consequuntur nostrum ut rerum expedita.'
                    content_html: 'Autem quos velit autem. Tempora officiis commodi iusto ea maiores. Exercitationem dolorum culpa aliquam aut explicabo alias. Sed non eaque aut praesentium. Magni aut reiciendis voluptatem. At est eum veniam eaque est ipsa exercitationem autem. Reprehenderit rem aliquam et animi saepe sit ipsum. Nihil eos consequuntur nostrum ut rerum expedita.'
                    less_content_html: 'Autem quos velit autem. Tempora officiis commodi iusto ea maiores. Exercitationem dolorum culpa aliquam aut explicabo alias. Sed non eaque aut praesentium. Magni aut reiciendis voluptatem. At est eum veniam eaque est ipsa exercitationem autem. Repreh... <a href="http://demo.idir.intelekt.net.pl/dirs/ut-ullam-velit-deleniti">show more &raquo</a>'
                    thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6IjRuc2MzLzRhcERqZ0lzTXNKRjFUb1E9PSIsInZhbHVlIjoiczYwMHpnNzArQ2hMV3JGZ0pEMHkxS2E4czVLRnVxRWdvWDFCOWhJRHdwWT0iLCJtYWMiOiIzOGJkNjg3MmQ4ZGNmMzYzNjllOTA3YmVkOWI2MzZkMjk5NDkxYzc1YTEwNGFjYjcyMjU5YWU0NjE3NWVjZDYwIiwidGFnIjoiIn0='
                    sum_rating: '0.00'
                    created_at: '2022-05-10T09:53:04.000000Z'
                    updated_at: '2022-05-10T09:53:04.000000Z'
                    categories:
                      -
                        id: 2530
                        name: Ut
                        slug: ut-27
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-10T09:53:04.000000Z'
                        updated_at: '2022-05-10T09:53:04.000000Z'
                    links: []
                properties:
                  data:
                    type: object
                    example:
                      id: 13434
                      slug: ut-ullam-velit-deleniti
                      title: 'Ut ullam velit deleniti.'
                      url: 'http://www.davis.com'
                      short_content: 'Autem quos velit autem. Tempora officiis commodi iusto ea maiores. Exercitationem dolorum culpa aliquam aut explicabo alias. Sed non eaque aut praesentium. Magni aut reiciendis voluptatem. At est eum veniam eaque est ipsa exercitationem autem. Repreh'
                      content: 'Autem quos velit autem. Tempora officiis commodi iusto ea maiores. Exercitationem dolorum culpa aliquam aut explicabo alias. Sed non eaque aut praesentium. Magni aut reiciendis voluptatem. At est eum veniam eaque est ipsa exercitationem autem. Reprehenderit rem aliquam et animi saepe sit ipsum. Nihil eos consequuntur nostrum ut rerum expedita.'
                      content_html: 'Autem quos velit autem. Tempora officiis commodi iusto ea maiores. Exercitationem dolorum culpa aliquam aut explicabo alias. Sed non eaque aut praesentium. Magni aut reiciendis voluptatem. At est eum veniam eaque est ipsa exercitationem autem. Reprehenderit rem aliquam et animi saepe sit ipsum. Nihil eos consequuntur nostrum ut rerum expedita.'
                      less_content_html: 'Autem quos velit autem. Tempora officiis commodi iusto ea maiores. Exercitationem dolorum culpa aliquam aut explicabo alias. Sed non eaque aut praesentium. Magni aut reiciendis voluptatem. At est eum veniam eaque est ipsa exercitationem autem. Repreh... <a href="http://demo.idir.intelekt.net.pl/dirs/ut-ullam-velit-deleniti">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6IjRuc2MzLzRhcERqZ0lzTXNKRjFUb1E9PSIsInZhbHVlIjoiczYwMHpnNzArQ2hMV3JGZ0pEMHkxS2E4czVLRnVxRWdvWDFCOWhJRHdwWT0iLCJtYWMiOiIzOGJkNjg3MmQ4ZGNmMzYzNjllOTA3YmVkOWI2MzZkMjk5NDkxYzc1YTEwNGFjYjcyMjU5YWU0NjE3NWVjZDYwIiwidGFnIjoiIn0='
                      sum_rating: '0.00'
                      created_at: '2022-05-10T09:53:04.000000Z'
                      updated_at: '2022-05-10T09:53:04.000000Z'
                      categories:
                        -
                          id: 2530
                          name: Ut
                          slug: ut-27
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-05-10T09:53:04.000000Z'
                          updated_at: '2022-05-10T09:53:04.000000Z'
                      links: []
      tags:
        - Dirs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must be between 3 and 100 characters.'
                  example: 'Lorem ipsum dolor sit amet'
                tags:
                  type: array
                  description: 'Must be at least 3 characters. Must not be greater than 30 characters.'
                  example:
                    - ppcsrngsfsdffzfpwnmooaaqfqpnzo
                  items:
                    type: string
                categories:
                  type: array
                  description: 'Array containing category IDs.'
                  example:
                    - 4
                  items:
                    type: integer
                content_html:
                  type: string
                  description: 'Description. Must be between 255 and 1000 characters.'
                  example: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                notes:
                  type: string
                  description: 'Additional information for the moderator. Must be between 3 and 255 characters.'
                  example: ''
                url:
                  type: string
                  description: 'Unique website url with http/https protocol.'
                  example: 'https://demo.idir.intelekt.net.pl'
                backlink:
                  type: integer
                  description: 'ID of the selected backlink.'
                  example: null
                backlink_url:
                  type: string
                  description: 'Url with http/https protocol to backlink.'
                  example: null
                email:
                  type: string
                  description: 'Email address, required if the user adds the entry as unauthenticated.'
                  example: kontakt@intelekt.net.pl
                g-recaptcha-response:
                  type: string
                  description: 'Recaptcha response. Only required for free groups.'
                  example: autem
                field:
                  type: array
                  description: 'Array containing additional form fields if the group allows it.'
                  example: null
                  items:
                    type: object
                    properties:
                      10:
                        type: array
                        description: ''
                        example:
                          - cupiditate
                        items:
                          type: string
                payment_type:
                  type: string
                  description: 'If the group requires a payment, the selected type must be defined. Must be one of <code>transfer</code>, <code>code_transfer</code>, <code>code_sms</code>, or <code>paypal_express</code>.'
                  example: null
                payment_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>transfer</code>.'
                  example: null
                payment_code_sms:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_sms</code>.'
                  example: null
                code_sms:
                  type: string
                  description: 'Received code if payment_type is <code>code_sms</code>.'
                  example: null
                payment_code_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_transfer</code>.'
                  example: null
                code_transfer:
                  type: string
                  description: 'Received code if payment_type is <code>code_transfer</code>.'
                  example: null
                payment_paypal_express:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>paypal_express</code>.'
                  example: null
              required:
                - title
                - categories
                - content_html
                - g-recaptcha-response
      security: []
    parameters:
      -
        in: path
        name: group
        description: 'The group ID.'
        example: 1
        required: true
        schema:
          type: integer
  /api/dirs/index:
    post:
      summary: 'Index of dirs'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.dirs.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 13432
                      slug: tenetur
                      title: Tenetur.
                      url: 'http://douglas.com'
                      short_content: 'Provident sit quia velit facilis quaerat aut. Neque dolor consequatur pariatur maxime quia tenetur. Quae aut tenetur autem autem ipsum minus. Nobis perferendis cupiditate ut sed. Iure accusantium sint corrupti exercitationem facilis autem et sit. Deb'
                      content: 'Provident sit quia velit facilis quaerat aut. Neque dolor consequatur pariatur maxime quia tenetur. Quae aut tenetur autem autem ipsum minus. Nobis perferendis cupiditate ut sed. Iure accusantium sint corrupti exercitationem facilis autem et sit. Debitis doloribus amet asperiores dolorem omnis id voluptas. Aut sint deleniti tempore.'
                      content_html: 'Provident sit quia velit facilis quaerat aut. Neque dolor consequatur pariatur maxime quia tenetur. Quae aut tenetur autem autem ipsum minus. Nobis perferendis cupiditate ut sed. Iure accusantium sint corrupti exercitationem facilis autem et sit. Debitis doloribus amet asperiores dolorem omnis id voluptas. Aut sint deleniti tempore.'
                      less_content_html: 'Provident sit quia velit facilis quaerat aut. Neque dolor consequatur pariatur maxime quia tenetur. Quae aut tenetur autem autem ipsum minus. Nobis perferendis cupiditate ut sed. Iure accusantium sint corrupti exercitationem facilis autem et sit. Deb... <a href="http://demo.idir.intelekt.net.pl/dirs/tenetur">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6IjBzTTlCbXB0SUNZYjJCc1hPSFdpWWc9PSIsInZhbHVlIjoiNnNQSlV6T1RPTkhEWnVVMGFqajM5cWIyUEhiaWdwMnEwTzNBV09KZjZyWT0iLCJtYWMiOiJjOGI4YmU2MDY3YjY5ODVlOWMyZjJhZGU4ZGEwZDIwYmY5NDI1YmYwMWFhMGI5NzEyZTczYTljZTQwODU4M2IyIiwidGFnIjoiIn0='
                      sum_rating: '0.00'
                      created_at: '2022-05-10T09:53:03.000000Z'
                      updated_at: '2022-05-10T09:53:03.000000Z'
                      categories:
                        -
                          id: 2528
                          name: Ea
                          slug: ea-7
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-05-10T09:53:03.000000Z'
                          updated_at: '2022-05-10T09:53:03.000000Z'
                      links: []
                    -
                      id: 13433
                      slug: quis-maiores
                      title: 'Quis maiores.'
                      url: 'http://www.boehm.com'
                      short_content: 'Eius ut veritatis iusto iure. Sit reiciendis eligendi sed sit et quibusdam. Sunt inventore at dolor aperiam eos nam aut eos. Nisi in vero aperiam repudiandae dolor nam.'
                      content: 'Eius ut veritatis iusto iure. Sit reiciendis eligendi sed sit et quibusdam. Sunt inventore at dolor aperiam eos nam aut eos. Nisi in vero aperiam repudiandae dolor nam.'
                      content_html: 'Eius ut veritatis iusto iure. Sit reiciendis eligendi sed sit et quibusdam. Sunt inventore at dolor aperiam eos nam aut eos. Nisi in vero aperiam repudiandae dolor nam.'
                      less_content_html: 'Eius ut veritatis iusto iure. Sit reiciendis eligendi sed sit et quibusdam. Sunt inventore at dolor aperiam eos nam aut eos. Nisi in vero aperiam repudiandae dolor nam.... <a href="http://demo.idir.intelekt.net.pl/dirs/quis-maiores">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6IkRqcjFwUXhjVXZZNWxURW43d1ZPY3c9PSIsInZhbHVlIjoiNy9VWXl3OTRZMHJ4RTl6djduSXpSc0ZpWlFIeis0YjJyN1BRRXptQWFHUT0iLCJtYWMiOiI5NmJjODIyZjdkMWQ0MzcwZDc1OWYwY2VmZDQwNWRmMjU0NjIwM2QwZWY2YWQ3NjY3YTBlNzdmNGMzMWY5MjVjIiwidGFnIjoiIn0='
                      sum_rating: '0.00'
                      created_at: '2022-05-10T09:53:03.000000Z'
                      updated_at: '2022-05-10T09:53:03.000000Z'
                      categories:
                        -
                          id: 2529
                          name: Soluta
                          slug: soluta-5
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-05-10T09:53:03.000000Z'
                          updated_at: '2022-05-10T09:53:03.000000Z'
                      links: []
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 13432
                        slug: tenetur
                        title: Tenetur.
                        url: 'http://douglas.com'
                        short_content: 'Provident sit quia velit facilis quaerat aut. Neque dolor consequatur pariatur maxime quia tenetur. Quae aut tenetur autem autem ipsum minus. Nobis perferendis cupiditate ut sed. Iure accusantium sint corrupti exercitationem facilis autem et sit. Deb'
                        content: 'Provident sit quia velit facilis quaerat aut. Neque dolor consequatur pariatur maxime quia tenetur. Quae aut tenetur autem autem ipsum minus. Nobis perferendis cupiditate ut sed. Iure accusantium sint corrupti exercitationem facilis autem et sit. Debitis doloribus amet asperiores dolorem omnis id voluptas. Aut sint deleniti tempore.'
                        content_html: 'Provident sit quia velit facilis quaerat aut. Neque dolor consequatur pariatur maxime quia tenetur. Quae aut tenetur autem autem ipsum minus. Nobis perferendis cupiditate ut sed. Iure accusantium sint corrupti exercitationem facilis autem et sit. Debitis doloribus amet asperiores dolorem omnis id voluptas. Aut sint deleniti tempore.'
                        less_content_html: 'Provident sit quia velit facilis quaerat aut. Neque dolor consequatur pariatur maxime quia tenetur. Quae aut tenetur autem autem ipsum minus. Nobis perferendis cupiditate ut sed. Iure accusantium sint corrupti exercitationem facilis autem et sit. Deb... <a href="http://demo.idir.intelekt.net.pl/dirs/tenetur">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6IjBzTTlCbXB0SUNZYjJCc1hPSFdpWWc9PSIsInZhbHVlIjoiNnNQSlV6T1RPTkhEWnVVMGFqajM5cWIyUEhiaWdwMnEwTzNBV09KZjZyWT0iLCJtYWMiOiJjOGI4YmU2MDY3YjY5ODVlOWMyZjJhZGU4ZGEwZDIwYmY5NDI1YmYwMWFhMGI5NzEyZTczYTljZTQwODU4M2IyIiwidGFnIjoiIn0='
                        sum_rating: '0.00'
                        created_at: '2022-05-10T09:53:03.000000Z'
                        updated_at: '2022-05-10T09:53:03.000000Z'
                        categories:
                          -
                            id: 2528
                            name: Ea
                            slug: ea-7
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-05-10T09:53:03.000000Z'
                            updated_at: '2022-05-10T09:53:03.000000Z'
                        links: []
                      -
                        id: 13433
                        slug: quis-maiores
                        title: 'Quis maiores.'
                        url: 'http://www.boehm.com'
                        short_content: 'Eius ut veritatis iusto iure. Sit reiciendis eligendi sed sit et quibusdam. Sunt inventore at dolor aperiam eos nam aut eos. Nisi in vero aperiam repudiandae dolor nam.'
                        content: 'Eius ut veritatis iusto iure. Sit reiciendis eligendi sed sit et quibusdam. Sunt inventore at dolor aperiam eos nam aut eos. Nisi in vero aperiam repudiandae dolor nam.'
                        content_html: 'Eius ut veritatis iusto iure. Sit reiciendis eligendi sed sit et quibusdam. Sunt inventore at dolor aperiam eos nam aut eos. Nisi in vero aperiam repudiandae dolor nam.'
                        less_content_html: 'Eius ut veritatis iusto iure. Sit reiciendis eligendi sed sit et quibusdam. Sunt inventore at dolor aperiam eos nam aut eos. Nisi in vero aperiam repudiandae dolor nam.... <a href="http://demo.idir.intelekt.net.pl/dirs/quis-maiores">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6IkRqcjFwUXhjVXZZNWxURW43d1ZPY3c9PSIsInZhbHVlIjoiNy9VWXl3OTRZMHJ4RTl6djduSXpSc0ZpWlFIeis0YjJyN1BRRXptQWFHUT0iLCJtYWMiOiI5NmJjODIyZjdkMWQ0MzcwZDc1OWYwY2VmZDQwNWRmMjU0NjIwM2QwZWY2YWQ3NjY3YTBlNzdmNGMzMWY5MjVjIiwidGFnIjoiIn0='
                        sum_rating: '0.00'
                        created_at: '2022-05-10T09:53:03.000000Z'
                        updated_at: '2022-05-10T09:53:03.000000Z'
                        categories:
                          -
                            id: 2529
                            name: Soluta
                            slug: soluta-5
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-05-10T09:53:03.000000Z'
                            updated_at: '2022-05-10T09:53:03.000000Z'
                        links: []
                    items:
                      type: object
      tags:
        - Dirs
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or (available only for admin.dirs.view): 0, 2, 3, 4, 5.'
                      example: 1
                    group:
                      type: integer
                      description: 'ID of Group relationship.'
                      example: ''
                    category:
                      type: integer
                      description: 'ID of Category relationship.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>title|asc</code>, <code>title|desc</code>, <code>sum_rating|desc</code>, <code>sum_rating|asc</code>, <code>click|desc</code>, <code>click|asc</code>, <code>view|desc</code>, or <code>view|asc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
                    author:
                      type: integer
                      description: '(available only for admin.dirs.view) ID of User relationship.'
                      example: null
                    report:
                      type: integer
                      description: '(available only for admin.dirs.view) Must be one of 1 or 0.'
                      example: null
  '/api/dirs/{dir}/group/{group}':
    put:
      summary: 'Edit dir'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.dirs.edit.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 13431
                    slug: in-sit-velit
                    title: 'In sit velit.'
                    url: 'https://www.nolan.com'
                    short_content: 'Architecto voluptatem earum hic itaque quae quaerat pariatur. Perferendis vel id quibusdam aut corporis. Quas quia sed consectetur fugit repellat quia laudantium. Illo itaque mollitia tenetur voluptatem enim voluptatem doloremque.'
                    content: 'Architecto voluptatem earum hic itaque quae quaerat pariatur. Perferendis vel id quibusdam aut corporis. Quas quia sed consectetur fugit repellat quia laudantium. Illo itaque mollitia tenetur voluptatem enim voluptatem doloremque.'
                    content_html: 'Architecto voluptatem earum hic itaque quae quaerat pariatur. Perferendis vel id quibusdam aut corporis. Quas quia sed consectetur fugit repellat quia laudantium. Illo itaque mollitia tenetur voluptatem enim voluptatem doloremque.'
                    less_content_html: 'Architecto voluptatem earum hic itaque quae quaerat pariatur. Perferendis vel id quibusdam aut corporis. Quas quia sed consectetur fugit repellat quia laudantium. Illo itaque mollitia tenetur voluptatem enim voluptatem doloremque.... <a href="http://demo.idir.intelekt.net.pl/dirs/in-sit-velit">show more &raquo</a>'
                    thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6IitQdmFlM0t5UFVqaVBBa0xldDZlN1E9PSIsInZhbHVlIjoieTVlZUZmb0tkQmROT240Q21PMXBwRndPcDVIYW9Ga3RHRkFibGtuOVBVdz0iLCJtYWMiOiI1ZGU5NzkwZDFjMjI0ZWIwMzA2YTc4M2IwZWNiMDJlYWIxZTAwZmI4NjhmMGFhN2JiOWYwMGY1ZGZlMzY2YjI1IiwidGFnIjoiIn0='
                    sum_rating: '0.00'
                    created_at: '2022-05-10T09:53:03.000000Z'
                    updated_at: '2022-05-10T09:53:03.000000Z'
                    categories:
                      -
                        id: 2527
                        name: Dolores
                        slug: dolores-7
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-10T09:53:03.000000Z'
                        updated_at: '2022-05-10T09:53:03.000000Z'
                    links: []
                properties:
                  data:
                    type: object
                    example:
                      id: 13431
                      slug: in-sit-velit
                      title: 'In sit velit.'
                      url: 'https://www.nolan.com'
                      short_content: 'Architecto voluptatem earum hic itaque quae quaerat pariatur. Perferendis vel id quibusdam aut corporis. Quas quia sed consectetur fugit repellat quia laudantium. Illo itaque mollitia tenetur voluptatem enim voluptatem doloremque.'
                      content: 'Architecto voluptatem earum hic itaque quae quaerat pariatur. Perferendis vel id quibusdam aut corporis. Quas quia sed consectetur fugit repellat quia laudantium. Illo itaque mollitia tenetur voluptatem enim voluptatem doloremque.'
                      content_html: 'Architecto voluptatem earum hic itaque quae quaerat pariatur. Perferendis vel id quibusdam aut corporis. Quas quia sed consectetur fugit repellat quia laudantium. Illo itaque mollitia tenetur voluptatem enim voluptatem doloremque.'
                      less_content_html: 'Architecto voluptatem earum hic itaque quae quaerat pariatur. Perferendis vel id quibusdam aut corporis. Quas quia sed consectetur fugit repellat quia laudantium. Illo itaque mollitia tenetur voluptatem enim voluptatem doloremque.... <a href="http://demo.idir.intelekt.net.pl/dirs/in-sit-velit">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6IitQdmFlM0t5UFVqaVBBa0xldDZlN1E9PSIsInZhbHVlIjoieTVlZUZmb0tkQmROT240Q21PMXBwRndPcDVIYW9Ga3RHRkFibGtuOVBVdz0iLCJtYWMiOiI1ZGU5NzkwZDFjMjI0ZWIwMzA2YTc4M2IwZWNiMDJlYWIxZTAwZmI4NjhmMGFhN2JiOWYwMGY1ZGZlMzY2YjI1IiwidGFnIjoiIn0='
                      sum_rating: '0.00'
                      created_at: '2022-05-10T09:53:03.000000Z'
                      updated_at: '2022-05-10T09:53:03.000000Z'
                      categories:
                        -
                          id: 2527
                          name: Dolores
                          slug: dolores-7
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-05-10T09:53:03.000000Z'
                          updated_at: '2022-05-10T09:53:03.000000Z'
                      links: []
      tags:
        - Dirs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must be between 3 and 100 characters.'
                  example: 'Lorem ipsum dolor sit amet'
                tags:
                  type: array
                  description: 'Must be at least 3 characters. Must not be greater than 30 characters.'
                  example:
                    - tejit
                  items:
                    type: string
                categories:
                  type: array
                  description: 'Array containing category IDs.'
                  example:
                    - 18
                  items:
                    type: integer
                content_html:
                  type: string
                  description: 'Description. Must be between 255 and 1000 characters.'
                  example: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                notes:
                  type: string
                  description: 'Additional information for the moderator. Must be between 3 and 255 characters.'
                  example: ''
                url:
                  type: string
                  description: 'Unique website url with http/https protocol.'
                  example: 'https://demo.idir.intelekt.net.pl'
                backlink:
                  type: integer
                  description: 'ID of the selected backlink.'
                  example: null
                backlink_url:
                  type: string
                  description: 'Url with http/https protocol to backlink.'
                  example: null
                g-recaptcha-response:
                  type: string
                  description: 'Recaptcha response. Only required for free groups.'
                  example: explicabo
                field:
                  type: array
                  description: 'Array containing additional form fields if the group allows it.'
                  example: null
                  items:
                    type: object
                    properties:
                      10:
                        type: array
                        description: ''
                        example:
                          - vel
                        items:
                          type: string
                user:
                  type: integer
                  description: '(available only for admin.dirs.edit) ID of User author. If null is no author.'
                  example: null
                payment_type:
                  type: string
                  description: 'If the group requires a payment, the selected type must be defined. Must be one of <code>transfer</code>, <code>code_transfer</code>, <code>code_sms</code>, or <code>paypal_express</code>.'
                  example: null
                payment_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>transfer</code>.'
                  example: null
                payment_code_sms:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_sms</code>.'
                  example: null
                code_sms:
                  type: string
                  description: 'Received code if payment_type is <code>code_sms</code>.'
                  example: null
                payment_code_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_transfer</code>.'
                  example: null
                code_transfer:
                  type: string
                  description: 'Received code if payment_type is <code>code_transfer</code>.'
                  example: null
                payment_paypal_express:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>paypal_express</code>.'
                  example: null
              required:
                - g-recaptcha-response
    parameters:
      -
        in: path
        name: dir
        description: 'The dir ID.'
        example: null
        required: true
        schema:
          type: integer
      -
        in: path
        name: group
        description: 'The group ID. If same as current and has active premium time then no new payment is required.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/dirs/{dir}':
    delete:
      summary: 'Delete dir'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.dirs.delete.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        204:
          description: ''
      tags:
        - Dirs
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: '(available only for admin.dirs.delete).'
                  example: null
    parameters:
      -
        in: path
        name: dir
        description: 'The dir ID.'
        example: null
        required: true
        schema:
          type: integer
  '/api/dirs/{dir}/status':
    patch:
      summary: 'Edit status dir'
      description: '<aside class="notice">Available only to users with permissions: api.access, api.dirs.status and admin.dirs.status.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 13430
                    slug: explicabo-aliquid
                    title: 'Explicabo aliquid.'
                    url: 'http://www.schulist.com'
                    short_content: 'Et a perspiciatis distinctio voluptatem aperiam qui. Consequatur minus reprehenderit incidunt accusantium error omnis. Quis omnis architecto voluptatem. Quas officia non distinctio rerum quaerat quaerat sit. Blanditiis aut temporibus repudiandae veni'
                    content: 'Et a perspiciatis distinctio voluptatem aperiam qui. Consequatur minus reprehenderit incidunt accusantium error omnis. Quis omnis architecto voluptatem. Quas officia non distinctio rerum quaerat quaerat sit. Blanditiis aut temporibus repudiandae veniam libero quod qui.'
                    content_html: 'Et a perspiciatis distinctio voluptatem aperiam qui. Consequatur minus reprehenderit incidunt accusantium error omnis. Quis omnis architecto voluptatem. Quas officia non distinctio rerum quaerat quaerat sit. Blanditiis aut temporibus repudiandae veniam libero quod qui.'
                    less_content_html: 'Et a perspiciatis distinctio voluptatem aperiam qui. Consequatur minus reprehenderit incidunt accusantium error omnis. Quis omnis architecto voluptatem. Quas officia non distinctio rerum quaerat quaerat sit. Blanditiis aut temporibus repudiandae veni... <a href="http://demo.idir.intelekt.net.pl/dirs/explicabo-aliquid">show more &raquo</a>'
                    thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6IlltaDcvMVFiNVE4Q3FEa0xCUmNMb2c9PSIsInZhbHVlIjoiUjJiaEQ4WHlBYmFpM2xTRHBIOXExVjVjUFMrNHBidThDYklhWllPL1Azdz0iLCJtYWMiOiJiOTBhYWY3NjIyZGY0Mzc5OTRkNTkyOGZkMTQzZWY3NGJjMzUwY2MxYjhjNGUzZjUxOGE3NzAyMzNjN2UxYjY2IiwidGFnIjoiIn0='
                    sum_rating: '0.00'
                    created_at: '2022-05-10T09:53:02.000000Z'
                    updated_at: '2022-05-10T09:53:02.000000Z'
                    categories:
                      -
                        id: 2526
                        name: In
                        slug: in-12
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-10T09:53:03.000000Z'
                        updated_at: '2022-05-10T09:53:03.000000Z'
                    links: []
                properties:
                  data:
                    type: object
                    example:
                      id: 13430
                      slug: explicabo-aliquid
                      title: 'Explicabo aliquid.'
                      url: 'http://www.schulist.com'
                      short_content: 'Et a perspiciatis distinctio voluptatem aperiam qui. Consequatur minus reprehenderit incidunt accusantium error omnis. Quis omnis architecto voluptatem. Quas officia non distinctio rerum quaerat quaerat sit. Blanditiis aut temporibus repudiandae veni'
                      content: 'Et a perspiciatis distinctio voluptatem aperiam qui. Consequatur minus reprehenderit incidunt accusantium error omnis. Quis omnis architecto voluptatem. Quas officia non distinctio rerum quaerat quaerat sit. Blanditiis aut temporibus repudiandae veniam libero quod qui.'
                      content_html: 'Et a perspiciatis distinctio voluptatem aperiam qui. Consequatur minus reprehenderit incidunt accusantium error omnis. Quis omnis architecto voluptatem. Quas officia non distinctio rerum quaerat quaerat sit. Blanditiis aut temporibus repudiandae veniam libero quod qui.'
                      less_content_html: 'Et a perspiciatis distinctio voluptatem aperiam qui. Consequatur minus reprehenderit incidunt accusantium error omnis. Quis omnis architecto voluptatem. Quas officia non distinctio rerum quaerat quaerat sit. Blanditiis aut temporibus repudiandae veni... <a href="http://demo.idir.intelekt.net.pl/dirs/explicabo-aliquid">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6IlltaDcvMVFiNVE4Q3FEa0xCUmNMb2c9PSIsInZhbHVlIjoiUjJiaEQ4WHlBYmFpM2xTRHBIOXExVjVjUFMrNHBidThDYklhWllPL1Azdz0iLCJtYWMiOiJiOTBhYWY3NjIyZGY0Mzc5OTRkNTkyOGZkMTQzZWY3NGJjMzUwY2MxYjhjNGUzZjUxOGE3NzAyMzNjN2UxYjY2IiwidGFnIjoiIn0='
                      sum_rating: '0.00'
                      created_at: '2022-05-10T09:53:02.000000Z'
                      updated_at: '2022-05-10T09:53:02.000000Z'
                      categories:
                        -
                          id: 2526
                          name: In
                          slug: in-12
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-05-10T09:53:03.000000Z'
                          updated_at: '2022-05-10T09:53:03.000000Z'
                      links: []
      tags:
        - Dirs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: 'Must be one of <code>1</code>, <code>0</code>, or <code>5</code>.'
                  example: 1
                reason:
                  type: string
                  description: ''
                  example: velit
              required:
                - status
    parameters:
      -
        in: path
        name: dir
        description: 'The dir ID.'
        example: null
        required: true
        schema:
          type: integer
  /api/groups/index:
    post:
      summary: 'Index of groups'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 16
                      slug: cum
                      position: 10
                      name: Cum
                      desc: 'Placeat nemo veritatis suscipit nihil. Repudiandae dolores dolorem minus consequatur. Alias assumenda dicta id rem est quia. Et exercitationem dolorum quaerat eos aperiam. Laborum aperiam asperiores voluptatibus cum molestias illo repudiandae. Blanditiis eius sint ut. Dolores magnam aut animi iure.'
                      border: null
                      max_cats: 3
                      max_models: null
                      max_models_daily: 8
                      visible:
                        value: 1
                        label: public
                      apply_status:
                        value: 0
                        label: 'pending acceptance'
                      url:
                        value: 1
                        label: optional
                      backlink:
                        value: 0
                        label: none
                      created_at: '2022-05-10T09:53:02.000000Z'
                      updated_at: '2022-05-10T09:53:02.000000Z'
                      alt: null
                      privileges:
                        -
                          id: 9
                          name: 'additional options for editing content'
                          created_at: '2021-01-06T16:58:51.000000Z'
                          updated_at: '2021-01-06T16:58:51.000000Z'
                    -
                      id: 17
                      slug: iusto
                      position: 11
                      name: Iusto
                      desc: 'Similique similique hic similique perferendis aspernatur quaerat nesciunt. Magnam totam quis cum. Asperiores alias voluptatibus expedita iste rerum harum necessitatibus. Dolor quae voluptatem debitis voluptatem. Voluptatum amet pariatur sit minus autem repudiandae.'
                      border: null
                      max_cats: 4
                      max_models: null
                      max_models_daily: 5
                      visible:
                        value: 1
                        label: public
                      apply_status:
                        value: 1
                        label: 'active immediately'
                      url:
                        value: 2
                        label: required
                      backlink:
                        value: 1
                        label: optional
                      created_at: '2022-05-10T09:53:02.000000Z'
                      updated_at: '2022-05-10T09:53:02.000000Z'
                      alt: null
                      privileges:
                        -
                          id: 9
                          name: 'additional options for editing content'
                          created_at: '2021-01-06T16:58:51.000000Z'
                          updated_at: '2021-01-06T16:58:51.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 16
                        slug: cum
                        position: 10
                        name: Cum
                        desc: 'Placeat nemo veritatis suscipit nihil. Repudiandae dolores dolorem minus consequatur. Alias assumenda dicta id rem est quia. Et exercitationem dolorum quaerat eos aperiam. Laborum aperiam asperiores voluptatibus cum molestias illo repudiandae. Blanditiis eius sint ut. Dolores magnam aut animi iure.'
                        border: null
                        max_cats: 3
                        max_models: null
                        max_models_daily: 8
                        visible:
                          value: 1
                          label: public
                        apply_status:
                          value: 0
                          label: 'pending acceptance'
                        url:
                          value: 1
                          label: optional
                        backlink:
                          value: 0
                          label: none
                        created_at: '2022-05-10T09:53:02.000000Z'
                        updated_at: '2022-05-10T09:53:02.000000Z'
                        alt: null
                        privileges:
                          -
                            id: 9
                            name: 'additional options for editing content'
                            created_at: '2021-01-06T16:58:51.000000Z'
                            updated_at: '2021-01-06T16:58:51.000000Z'
                      -
                        id: 17
                        slug: iusto
                        position: 11
                        name: Iusto
                        desc: 'Similique similique hic similique perferendis aspernatur quaerat nesciunt. Magnam totam quis cum. Asperiores alias voluptatibus expedita iste rerum harum necessitatibus. Dolor quae voluptatem debitis voluptatem. Voluptatum amet pariatur sit minus autem repudiandae.'
                        border: null
                        max_cats: 4
                        max_models: null
                        max_models_daily: 5
                        visible:
                          value: 1
                          label: public
                        apply_status:
                          value: 1
                          label: 'active immediately'
                        url:
                          value: 2
                          label: required
                        backlink:
                          value: 1
                          label: optional
                        created_at: '2022-05-10T09:53:02.000000Z'
                        updated_at: '2022-05-10T09:53:02.000000Z'
                        alt: null
                        privileges:
                          -
                            id: 9
                            name: 'additional options for editing content'
                            created_at: '2021-01-06T16:58:51.000000Z'
                            updated_at: '2021-01-06T16:58:51.000000Z'
                    items:
                      type: object
      tags:
        - Groups
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    visible:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.groups.view).'
                      example: 1
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, or <code>position|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  '/api/payments/{payment_dir_pending}/dir/{driver}':
    get:
      summary: 'Show dir''s payment'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    uuid: 5929de82-fa5d-4d6c-8c05-b0c875d27ebc
                    driver: null
                    status:
                      value: 2
                      label: pending
                    created_at: '2022-05-10T09:53:02.000000Z'
                    updated_at: '2022-05-10T09:53:02.000000Z'
                    morph:
                      id: 13429
                      slug: provident-eum
                      title: 'Provident eum.'
                      url: 'http://schuster.info'
                      short_content: 'Et magni quasi distinctio. Qui voluptatibus sint porro architecto molestiae occaecati. Sint non beatae eos. Accusamus corrupti cum facilis dolores. Eum soluta quas facilis. Minima quis eaque accusantium recusandae nemo. Vero ullam sit quod nihil sit '
                      content: 'Et magni quasi distinctio. Qui voluptatibus sint porro architecto molestiae occaecati. Sint non beatae eos. Accusamus corrupti cum facilis dolores. Eum soluta quas facilis. Minima quis eaque accusantium recusandae nemo. Vero ullam sit quod nihil sit atque repellendus.'
                      content_html: 'Et magni quasi distinctio. Qui voluptatibus sint porro architecto molestiae occaecati. Sint non beatae eos. Accusamus corrupti cum facilis dolores. Eum soluta quas facilis. Minima quis eaque accusantium recusandae nemo. Vero ullam sit quod nihil sit atque repellendus.'
                      less_content_html: 'Et magni quasi distinctio. Qui voluptatibus sint porro architecto molestiae occaecati. Sint non beatae eos. Accusamus corrupti cum facilis dolores. Eum soluta quas facilis. Minima quis eaque accusantium recusandae nemo. Vero ullam sit quod nihil sit ... <a href="http://demo.idir.intelekt.net.pl/dirs/provident-eum">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6ImhmUm9FNmlISm5qR3hBR2hmaDdEMWc9PSIsInZhbHVlIjoiMXRrZWFkSHFYTDdyeE9qeTdwVFA5dVZianlVVkN3d1I1RFYzQ0JVRFQvaz0iLCJtYWMiOiJlZTgxNGVlYmI2NDgyMWJiMWUxMjlhZWE5MDU5NTVmNGQyYmE4MjhmODY3ZDcyYWJlMjdlM2YyNDM2NTc0Y2ZlIiwidGFnIjoiIn0='
                      sum_rating: '0.00'
                      created_at: '2022-05-10T09:53:02.000000Z'
                      updated_at: '2022-05-10T09:53:02.000000Z'
                      links: []
                    order:
                      id: 19
                      type: transfer
                      price: '4.00'
                      regular_price: '4.00'
                      discount_price: null
                      discount: null
                      qr_as_image: null
                      days: null
                      created_at: '2022-05-10T09:53:02.000000Z'
                      updated_at: '2022-05-10T09:53:02.000000Z'
                  url: 'https://paytest.cashbill.pl/pl/payment/eydJpZCI6IlRFU1RfNmV6OWZ6dXpvIiwicGMiOiIiLCJ0b2tlbiI6ImJiNjQ3ZGFhOTQ3NDU1NzM0OGRhMzhkYjEyMTE0YTI5MTA0NDhkMGUifQ--'
                properties:
                  data:
                    type: object
                    example:
                      uuid: 5929de82-fa5d-4d6c-8c05-b0c875d27ebc
                      driver: null
                      status:
                        value: 2
                        label: pending
                      created_at: '2022-05-10T09:53:02.000000Z'
                      updated_at: '2022-05-10T09:53:02.000000Z'
                      morph:
                        id: 13429
                        slug: provident-eum
                        title: 'Provident eum.'
                        url: 'http://schuster.info'
                        short_content: 'Et magni quasi distinctio. Qui voluptatibus sint porro architecto molestiae occaecati. Sint non beatae eos. Accusamus corrupti cum facilis dolores. Eum soluta quas facilis. Minima quis eaque accusantium recusandae nemo. Vero ullam sit quod nihil sit '
                        content: 'Et magni quasi distinctio. Qui voluptatibus sint porro architecto molestiae occaecati. Sint non beatae eos. Accusamus corrupti cum facilis dolores. Eum soluta quas facilis. Minima quis eaque accusantium recusandae nemo. Vero ullam sit quod nihil sit atque repellendus.'
                        content_html: 'Et magni quasi distinctio. Qui voluptatibus sint porro architecto molestiae occaecati. Sint non beatae eos. Accusamus corrupti cum facilis dolores. Eum soluta quas facilis. Minima quis eaque accusantium recusandae nemo. Vero ullam sit quod nihil sit atque repellendus.'
                        less_content_html: 'Et magni quasi distinctio. Qui voluptatibus sint porro architecto molestiae occaecati. Sint non beatae eos. Accusamus corrupti cum facilis dolores. Eum soluta quas facilis. Minima quis eaque accusantium recusandae nemo. Vero ullam sit quod nihil sit ... <a href="http://demo.idir.intelekt.net.pl/dirs/provident-eum">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6ImhmUm9FNmlISm5qR3hBR2hmaDdEMWc9PSIsInZhbHVlIjoiMXRrZWFkSHFYTDdyeE9qeTdwVFA5dVZianlVVkN3d1I1RFYzQ0JVRFQvaz0iLCJtYWMiOiJlZTgxNGVlYmI2NDgyMWJiMWUxMjlhZWE5MDU5NTVmNGQyYmE4MjhmODY3ZDcyYWJlMjdlM2YyNDM2NTc0Y2ZlIiwidGFnIjoiIn0='
                        sum_rating: '0.00'
                        created_at: '2022-05-10T09:53:02.000000Z'
                        updated_at: '2022-05-10T09:53:02.000000Z'
                        links: []
                      order:
                        id: 19
                        type: transfer
                        price: '4.00'
                        regular_price: '4.00'
                        discount_price: null
                        discount: null
                        qr_as_image: null
                        days: null
                        created_at: '2022-05-10T09:53:02.000000Z'
                        updated_at: '2022-05-10T09:53:02.000000Z'
                  url:
                    type: string
                    example: 'https://paytest.cashbill.pl/pl/payment/eydJpZCI6IlRFU1RfNmV6OWZ6dXpvIiwicGMiOiIiLCJ0b2tlbiI6ImJiNjQ3ZGFhOTQ3NDU1NzM0OGRhMzhkYjEyMTE0YTI5MTA0NDhkMGUifQ--'
                    description: 'Link to the driver''s payment page (for transfer type payment).'
      tags:
        - Payments
      security: []
    parameters:
      -
        in: path
        name: payment_dir_pending
        description: 'The payment UUID.'
        example: null
        required: true
        schema:
          type: string
      -
        in: path
        name: driver
        description: 'Optional parameter. The payment driver.'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
  /api/posts/index:
    post:
      summary: 'Index of posts'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.posts.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 185
                      slug: possimus-vero-placeat-id-facilis-ut
                      title: 'Possimus vero placeat id facilis ut.'
                      short_content: 'Error consequatur qui ducimus qui ullam. Molestiae qui et aut et numquam nihil at. Ad eum quis officia tempore. Assumenda est aperiam enim sit atque molestias expedita. Perferendis fugit debitis ut velit est. Repudiandae accusantium asperiores eius veniam hic voluptatum. Perspiciatis sequi non ducimus magnam. Sed at totam molestias. Repudiandae eveniet quia omnis. Dolorem qui sunt consectetur id. Provident occaecati soluta eveniet animi voluptate eos. Aspernatur ad nobis non quasi recusandae qui'
                      content: 'Error consequatur qui ducimus qui ullam. Molestiae qui et aut et numquam nihil at. Ad eum quis officia tempore. Assumenda est aperiam enim sit atque molestias expedita. Perferendis fugit debitis ut velit est. Repudiandae accusantium asperiores eius veniam hic voluptatum. Perspiciatis sequi non ducimus magnam. Sed at totam molestias. Repudiandae eveniet quia omnis. Dolorem qui sunt consectetur id. Provident occaecati soluta eveniet animi voluptate eos. Aspernatur ad nobis non quasi recusandae qui voluptatem. Blanditiis optio pariatur aut molestiae enim voluptatem aut molestias. Quia ullam unde ullam ullam officia. Error voluptas est est facilis odit consequuntur. Corporis saepe qui perferendis minima consequatur. Est corrupti neque iure voluptas consectetur blanditiis fuga. Fugiat delectus facere quia. Ducimus explicabo sunt consequatur suscipit. Nam facere suscipit natus non quaerat dolor. Commodi qui rerum sapiente. Eius possimus quis et alias mollitia aut. Voluptate nobis autem aut mollitia magnam. Rerum sint saepe quis deserunt. Corporis ab aperiam quae nam vitae commodi iure. Assumenda error impedit ex. Est consectetur fuga numquam quam quasi. Beatae praesentium aut iusto impedit blanditiis. Perferendis illum voluptas totam ducimus. Quia neque et nisi. Aliquam et aut iure consequuntur occaecati exercitationem minus. Voluptatum velit autem ipsum deserunt. Quo est sunt fugiat rerum temporibus. Est error inventore ipsum voluptates deserunt. Ex adipisci ea quod nisi. Ut quo voluptatem ipsam odit. Voluptatum adipisci maxime illo perspiciatis. Necessitatibus voluptatem ut inventore omnis. Ea aut ipsum sint vel. Vel quam neque nam accusamus vel. Commodi voluptas voluptatem eum aut aut in. Sunt atque molestiae totam enim nesciunt. Pariatur voluptas similique quisquam laboriosam nihil quo et deserunt. Beatae voluptatem itaque in ad aliquam non voluptatem. Est distinctio et similique modi quis facilis qui.'
[...]
