openapi: 3.0.3
info:
  title: 'API Documentation - iDir - nowoczesny katalog stron'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://demo.idir.intelekt.net.pl'
paths:
  /api/user:
    get:
      summary: 'Show user'
      description: "Show authenticated User resource\n\n<aside class=\"notice\">Available only to users with permission: api.access.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 11901
                    name: 'Destiney Jast'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-11-07T12:16:27.000000Z'
                    updated_at: '2022-11-07T12:16:27.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2022-09-16T00:16:56.000000Z'
                        updated_at: '2022-09-16T00:16:56.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 11901
                      name: 'Destiney Jast'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-11-07T12:16:27.000000Z'
                      updated_at: '2022-11-07T12:16:27.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2022-09-16T00:16:56.000000Z'
                          updated_at: '2022-09-16T00:16:56.000000Z'
      tags:
        - 'Authenticated user'
  /api/user/dirs:
    post:
      summary: "Index of user's dirs"
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 13338
                      slug: veritatis-sed-perspiciatis
                      title: 'Veritatis sed perspiciatis.'
                      url: 'https://aliquam-accusantium-dignissimos-aspernatur.pl'
                      short_content: 'Delectus quia eos autem occaecati sunt maiores officia. Delectus placeat dolores alias non. Sit nemo tenetur nobis. Quia perspiciatis delectus necessitatibus minus impedit vitae eum. Sint omnis dolor eos et et aut et delectus. Minima nihil deserunt q'
                      content: 'Delectus quia eos autem occaecati sunt maiores officia. Delectus placeat dolores alias non. Sit nemo tenetur nobis. Quia perspiciatis delectus necessitatibus minus impedit vitae eum. Sint omnis dolor eos et et aut et delectus. Minima nihil deserunt quia consequatur omnis. Impedit eos hic qui sit nihil.'
                      content_html: 'Delectus quia eos autem occaecati sunt maiores officia. Delectus placeat dolores alias non. Sit nemo tenetur nobis. Quia perspiciatis delectus necessitatibus minus impedit vitae eum. Sint omnis dolor eos et et aut et delectus. Minima nihil deserunt quia consequatur omnis. Impedit eos hic qui sit nihil.'
                      less_content_html: 'Delectus quia eos autem occaecati sunt maiores officia. Delectus placeat dolores alias non. Sit nemo tenetur nobis. Quia perspiciatis delectus necessitatibus minus impedit vitae eum. Sint omnis dolor eos et et aut et delectus. Minima nihil deserunt q... <a href="https://demo.idir.intelekt.net.pl/dirs/veritatis-sed-perspiciatis">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IkdDVERUTWhTUGx4SmtOenJIa1B3R2c9PSIsInZhbHVlIjoiM1Y1MDdsTk5DNUp2d2p6ZGw3dWlKT2tWMG83bDJjdWFmVEppdEFzcGdWaVovWkpIRHRQN0syZEJDK2Y3SkhJeDUvK1ZXTU1ZbjhOV1pmOEp5dENkQ3c9PSIsIm1hYyI6Ijk1ZjBjNDk0MzU1NGQ2Njg3YTE5N2RlODFkNjEzNTg4ZjcwNmE0NTQ5ZDBmMDI1NTM0OTVkN2QxMmYzZWUyYjkiLCJ0YWciOiIifQ=='
                      sum_rating: '0.00'
                      created_at: '2022-11-07T12:16:25.000000Z'
                      updated_at: '2022-11-07T12:16:25.000000Z'
                      categories:
                        -
                          id: 1462
                          name: Mollitia
                          slug: mollitia
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-11-07T12:16:25.000000Z'
                          updated_at: '2022-11-07T12:16:25.000000Z'
                      links: []
                    -
                      id: 13339
                      slug: rerum-numquam
                      title: 'Rerum numquam.'
                      url: 'http://incidunt-eum-et-vitae-occaecati.pl'
                      short_content: 'Id aut at rerum qui aut et enim. Ut qui fuga eos ex sapiente voluptatum. Fuga earum eaque quia ut quo nam aliquam. Quaerat aut odit deleniti est eveniet. Dignissimos sint ratione eaque est voluptatem tempore. Aperiam sed optio possimus ex quas dolor.'
                      content: 'Id aut at rerum qui aut et enim. Ut qui fuga eos ex sapiente voluptatum. Fuga earum eaque quia ut quo nam aliquam. Quaerat aut odit deleniti est eveniet. Dignissimos sint ratione eaque est voluptatem tempore. Aperiam sed optio possimus ex quas dolor. Earum laboriosam officia non voluptatibus quod neque voluptatem.'
                      content_html: 'Id aut at rerum qui aut et enim. Ut qui fuga eos ex sapiente voluptatum. Fuga earum eaque quia ut quo nam aliquam. Quaerat aut odit deleniti est eveniet. Dignissimos sint ratione eaque est voluptatem tempore. Aperiam sed optio possimus ex quas dolor. Earum laboriosam officia non voluptatibus quod neque voluptatem.'
                      less_content_html: 'Id aut at rerum qui aut et enim. Ut qui fuga eos ex sapiente voluptatum. Fuga earum eaque quia ut quo nam aliquam. Quaerat aut odit deleniti est eveniet. Dignissimos sint ratione eaque est voluptatem tempore. Aperiam sed optio possimus ex quas dolor.... <a href="https://demo.idir.intelekt.net.pl/dirs/rerum-numquam">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6ImRUeFphUGFFd05nNEZEVisxUHlydVE9PSIsInZhbHVlIjoielQ1eUZkOW9HY1hTK1g0dS9GTU1FaFZVZkNuVHlEVTloNjNSZDJEWG9wQVFyVUkyRkZuVTNoMXp5MjBJUmJDSSIsIm1hYyI6ImE0NjY2MjI3YmVhODYyYWU5YmU5Y2FmOTMzNjdiZjNjZTgzOTVhNTE5MWZmYTVhZWE5ZWFmYmQzYzI4NzliZGEiLCJ0YWciOiIifQ=='
                      sum_rating: '0.00'
                      created_at: '2022-11-07T12:16:25.000000Z'
                      updated_at: '2022-11-07T12:16:25.000000Z'
                      categories:
                        -
                          id: 1463
                          name: Laboriosam
                          slug: laboriosam
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-11-07T12:16:25.000000Z'
                          updated_at: '2022-11-07T12:16:25.000000Z'
                      links: []
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 13338
                        slug: veritatis-sed-perspiciatis
                        title: 'Veritatis sed perspiciatis.'
                        url: 'https://aliquam-accusantium-dignissimos-aspernatur.pl'
                        short_content: 'Delectus quia eos autem occaecati sunt maiores officia. Delectus placeat dolores alias non. Sit nemo tenetur nobis. Quia perspiciatis delectus necessitatibus minus impedit vitae eum. Sint omnis dolor eos et et aut et delectus. Minima nihil deserunt q'
                        content: 'Delectus quia eos autem occaecati sunt maiores officia. Delectus placeat dolores alias non. Sit nemo tenetur nobis. Quia perspiciatis delectus necessitatibus minus impedit vitae eum. Sint omnis dolor eos et et aut et delectus. Minima nihil deserunt quia consequatur omnis. Impedit eos hic qui sit nihil.'
                        content_html: 'Delectus quia eos autem occaecati sunt maiores officia. Delectus placeat dolores alias non. Sit nemo tenetur nobis. Quia perspiciatis delectus necessitatibus minus impedit vitae eum. Sint omnis dolor eos et et aut et delectus. Minima nihil deserunt quia consequatur omnis. Impedit eos hic qui sit nihil.'
                        less_content_html: 'Delectus quia eos autem occaecati sunt maiores officia. Delectus placeat dolores alias non. Sit nemo tenetur nobis. Quia perspiciatis delectus necessitatibus minus impedit vitae eum. Sint omnis dolor eos et et aut et delectus. Minima nihil deserunt q... <a href="https://demo.idir.intelekt.net.pl/dirs/veritatis-sed-perspiciatis">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IkdDVERUTWhTUGx4SmtOenJIa1B3R2c9PSIsInZhbHVlIjoiM1Y1MDdsTk5DNUp2d2p6ZGw3dWlKT2tWMG83bDJjdWFmVEppdEFzcGdWaVovWkpIRHRQN0syZEJDK2Y3SkhJeDUvK1ZXTU1ZbjhOV1pmOEp5dENkQ3c9PSIsIm1hYyI6Ijk1ZjBjNDk0MzU1NGQ2Njg3YTE5N2RlODFkNjEzNTg4ZjcwNmE0NTQ5ZDBmMDI1NTM0OTVkN2QxMmYzZWUyYjkiLCJ0YWciOiIifQ=='
                        sum_rating: '0.00'
                        created_at: '2022-11-07T12:16:25.000000Z'
                        updated_at: '2022-11-07T12:16:25.000000Z'
                        categories:
                          -
                            id: 1462
                            name: Mollitia
                            slug: mollitia
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-11-07T12:16:25.000000Z'
                            updated_at: '2022-11-07T12:16:25.000000Z'
                        links: []
                      -
                        id: 13339
                        slug: rerum-numquam
                        title: 'Rerum numquam.'
                        url: 'http://incidunt-eum-et-vitae-occaecati.pl'
                        short_content: 'Id aut at rerum qui aut et enim. Ut qui fuga eos ex sapiente voluptatum. Fuga earum eaque quia ut quo nam aliquam. Quaerat aut odit deleniti est eveniet. Dignissimos sint ratione eaque est voluptatem tempore. Aperiam sed optio possimus ex quas dolor.'
                        content: 'Id aut at rerum qui aut et enim. Ut qui fuga eos ex sapiente voluptatum. Fuga earum eaque quia ut quo nam aliquam. Quaerat aut odit deleniti est eveniet. Dignissimos sint ratione eaque est voluptatem tempore. Aperiam sed optio possimus ex quas dolor. Earum laboriosam officia non voluptatibus quod neque voluptatem.'
                        content_html: 'Id aut at rerum qui aut et enim. Ut qui fuga eos ex sapiente voluptatum. Fuga earum eaque quia ut quo nam aliquam. Quaerat aut odit deleniti est eveniet. Dignissimos sint ratione eaque est voluptatem tempore. Aperiam sed optio possimus ex quas dolor. Earum laboriosam officia non voluptatibus quod neque voluptatem.'
                        less_content_html: 'Id aut at rerum qui aut et enim. Ut qui fuga eos ex sapiente voluptatum. Fuga earum eaque quia ut quo nam aliquam. Quaerat aut odit deleniti est eveniet. Dignissimos sint ratione eaque est voluptatem tempore. Aperiam sed optio possimus ex quas dolor.... <a href="https://demo.idir.intelekt.net.pl/dirs/rerum-numquam">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6ImRUeFphUGFFd05nNEZEVisxUHlydVE9PSIsInZhbHVlIjoielQ1eUZkOW9HY1hTK1g0dS9GTU1FaFZVZkNuVHlEVTloNjNSZDJEWG9wQVFyVUkyRkZuVTNoMXp5MjBJUmJDSSIsIm1hYyI6ImE0NjY2MjI3YmVhODYyYWU5YmU5Y2FmOTMzNjdiZjNjZTgzOTVhNTE5MWZmYTVhZWE5ZWFmYmQzYzI4NzliZGEiLCJ0YWciOiIifQ=='
                        sum_rating: '0.00'
                        created_at: '2022-11-07T12:16:25.000000Z'
                        updated_at: '2022-11-07T12:16:25.000000Z'
                        categories:
                          -
                            id: 1463
                            name: Laboriosam
                            slug: laboriosam
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-11-07T12:16:25.000000Z'
                            updated_at: '2022-11-07T12:16:25.000000Z'
                        links: []
                    items:
                      type: object
      tags:
        - 'Authenticated user'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be between 0 and 5.'
                      example: ''
                    group:
                      type: integer
                      description: 'ID of Group relationship.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>title|asc</code>, <code>title|desc</code>, <code>sum_rating|desc</code>, <code>sum_rating|asc</code>, <code>click|asc</code>, <code>click|desc</code>, <code>view|asc</code>, or <code>view|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
  /api/token:
    post:
      summary: Token
      description: "Create access token and (optional) refresh token.\n\n<aside class=\"notice\">Access token expires after 2 hours. Refresh token expires after 1 year.</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: '(only if remember param was true)'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: kontakt@demo.idir.intelekt.net.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                remember:
                  type: boolean
                  description: ''
                  example: true
              required:
                - email
                - password
      security: []
  /api/register:
    post:
      summary: Register
      description: 'Create user and send email verification notification'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 11904
                    name: 'Kayla Cartwright'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-11-07T12:16:28.000000Z'
                    updated_at: '2022-11-07T12:16:28.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2022-09-16T00:16:56.000000Z'
                        updated_at: '2022-09-16T00:16:56.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 11904
                      name: 'Kayla Cartwright'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-11-07T12:16:28.000000Z'
                      updated_at: '2022-11-07T12:16:28.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2022-09-16T00:16:56.000000Z'
                          updated_at: '2022-09-16T00:16:56.000000Z'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: N1ebieski
                email:
                  type: string
                  description: ''
                  example: example@example.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                password_confirmation:
                  type: string
                  description: ''
                  example: demo1234
                privacy_agreement:
                  type: boolean
                  description: 'Acceptance of privacy policy'
                  example: true
                contact_agreement:
                  type: boolean
                  description: 'Acceptance of receiving e-mail system notifications'
                  example: true
                marketing_agreement:
                  type: boolean
                  description: 'Acceptance of receiving marketing information notifications'
                  example: true
              required:
                - name
                - email
                - password
                - password_confirmation
                - privacy_agreement
                - contact_agreement
      security: []
  /api/revoke:
    post:
      summary: 'Revoke token'
      description: 'Revoke access token and refresh token.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        204:
          description: success
      tags:
        - Authentication
  /api/refresh:
    post:
      summary: 'Refresh token'
      description: "Create new access token and refresh token.\n\n<aside class=\"success\">Refresh token must be in the Authorization header with the value \"Bearer {YOUR_REFRESH_TOKEN}\".</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_REFRESH_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: ''
      tags:
        - Authentication
  /api/categories/dir/index:
    post:
      summary: "Index of dir's categories"
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1470
                      name: 'Minus qui'
                      slug: minus-qui
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-11-07T12:16:27.000000Z'
                      updated_at: '2022-11-07T12:16:27.000000Z'
                    -
                      id: 1471
                      name: 'Rerum odit'
                      slug: rerum-odit
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-11-07T12:16:27.000000Z'
                      updated_at: '2022-11-07T12:16:27.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1470
                        name: 'Minus qui'
                        slug: minus-qui
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-11-07T12:16:27.000000Z'
                        updated_at: '2022-11-07T12:16:27.000000Z'
                      -
                        id: 1471
                        name: 'Rerum odit'
                        slug: rerum-odit
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-11-07T12:16:27.000000Z'
                        updated_at: '2022-11-07T12:16:27.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/categories/post/index:
    post:
      summary: "Index of post's categories"
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1472
                      name: 'Eveniet voluptatem'
                      slug: eveniet-voluptatem
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-11-07T12:16:28.000000Z'
                      updated_at: '2022-11-07T12:16:28.000000Z'
                    -
                      id: 1473
                      name: 'Aut voluptas'
                      slug: aut-voluptas
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-11-07T12:16:28.000000Z'
                      updated_at: '2022-11-07T12:16:28.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1472
                        name: 'Eveniet voluptatem'
                        slug: eveniet-voluptatem
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-11-07T12:16:28.000000Z'
                        updated_at: '2022-11-07T12:16:28.000000Z'
                      -
                        id: 1473
                        name: 'Aut voluptas'
                        slug: aut-voluptas
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-11-07T12:16:28.000000Z'
                        updated_at: '2022-11-07T12:16:28.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/categories/index:
    post:
      summary: 'Index of all categories'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1474
                      name: 'Dolores iure'
                      slug: dolores-iure
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-11-07T12:16:28.000000Z'
                      updated_at: '2022-11-07T12:16:28.000000Z'
                    -
                      id: 1475
                      name: 'Provident beatae'
                      slug: provident-beatae
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-11-07T12:16:28.000000Z'
                      updated_at: '2022-11-07T12:16:28.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1474
                        name: 'Dolores iure'
                        slug: dolores-iure
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-11-07T12:16:28.000000Z'
                        updated_at: '2022-11-07T12:16:28.000000Z'
                      -
                        id: 1475
                        name: 'Provident beatae'
                        slug: provident-beatae
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-11-07T12:16:28.000000Z'
                        updated_at: '2022-11-07T12:16:28.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/dirs/index:
    post:
      summary: 'Index of dirs'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.dirs.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 13343
                      slug: fugiat-est-voluptatum
                      title: 'Fugiat est voluptatum.'
                      url: 'http://impedit-amet-similique-et-enim.pl'
                      short_content: 'Quia in quia magni aut. In est sapiente praesentium rerum exercitationem et. Nulla repellat rerum sapiente quam dolor minima. Quia nobis nihil repellat. Asperiores inventore vel aperiam adipisci. Quo totam ut voluptatem delectus qui perspiciatis sint'
                      content: 'Quia in quia magni aut. In est sapiente praesentium rerum exercitationem et. Nulla repellat rerum sapiente quam dolor minima. Quia nobis nihil repellat. Asperiores inventore vel aperiam adipisci. Quo totam ut voluptatem delectus qui perspiciatis sint. Cupiditate animi et consectetur numquam ad.'
                      content_html: 'Quia in quia magni aut. In est sapiente praesentium rerum exercitationem et. Nulla repellat rerum sapiente quam dolor minima. Quia nobis nihil repellat. Asperiores inventore vel aperiam adipisci. Quo totam ut voluptatem delectus qui perspiciatis sint. Cupiditate animi et consectetur numquam ad.'
                      less_content_html: 'Quia in quia magni aut. In est sapiente praesentium rerum exercitationem et. Nulla repellat rerum sapiente quam dolor minima. Quia nobis nihil repellat. Asperiores inventore vel aperiam adipisci. Quo totam ut voluptatem delectus qui perspiciatis sint... <a href="http://demo.idir.intelekt.net.pl/dirs/fugiat-est-voluptatum">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6Ikt3UEJHV3hZbkNBK2VSZFNKdFJnanc9PSIsInZhbHVlIjoiNy9yY1k4Y1A2OUw2UUdhVDluUElnVnQveXgrUStVM0tEVjNFQVd3TUlveTV1MDNVNllPWUFKdkV5VzZKL09kYSIsIm1hYyI6IjE3ZTg0MGY1ZTAyMTkyZjU1NTU1YzUxYmYzMzgyNWQ2NTgzMDZlNjQ3MTI4NDRkMDExYTIwNzVlMTAxODU3ZGEiLCJ0YWciOiIifQ=='
                      sum_rating: '0.00'
                      created_at: '2022-11-07T12:16:26.000000Z'
                      updated_at: '2022-11-07T12:16:26.000000Z'
                      categories:
                        -
                          id: 1467
                          name: Earum
                          slug: earum
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-11-07T12:16:26.000000Z'
                          updated_at: '2022-11-07T12:16:26.000000Z'
                      links: []
                    -
                      id: 13344
                      slug: ullam
                      title: Ullam.
                      url: 'https://officia-voluptatum-accusantium-id-mollitia-rerum-aliquam-est.pl'
                      short_content: 'Libero aut labore consectetur maiores. Fugiat excepturi architecto id assumenda corrupti. Corporis unde molestiae accusantium. Praesentium consequuntur distinctio quis eum. Ex nemo facilis delectus beatae sunt et a. Autem reprehenderit et recusandae '
                      content: 'Libero aut labore consectetur maiores. Fugiat excepturi architecto id assumenda corrupti. Corporis unde molestiae accusantium. Praesentium consequuntur distinctio quis eum. Ex nemo facilis delectus beatae sunt et a. Autem reprehenderit et recusandae est ullam sit.'
                      content_html: 'Libero aut labore consectetur maiores. Fugiat excepturi architecto id assumenda corrupti. Corporis unde molestiae accusantium. Praesentium consequuntur distinctio quis eum. Ex nemo facilis delectus beatae sunt et a. Autem reprehenderit et recusandae est ullam sit.'
                      less_content_html: 'Libero aut labore consectetur maiores. Fugiat excepturi architecto id assumenda corrupti. Corporis unde molestiae accusantium. Praesentium consequuntur distinctio quis eum. Ex nemo facilis delectus beatae sunt et a. Autem reprehenderit et recusandae ... <a href="http://demo.idir.intelekt.net.pl/dirs/ullam">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IkRqRmdXZldIL1lPaWxoSXM1SnovRlE9PSIsInZhbHVlIjoieTNLVmJKRHVrVXlYUTJpN3hKUXl4TWlCOVhRK1FaNW5iUVJaU1NUY2xvdlhjMEp4Vnc5TGZwaThLeU0zUi9uT2xHY3g1dXhmdTFXQkRlOWxNZDhtVkRTOUYrZklHa3BNWlJ6eGJVbGxxUDA9IiwibWFjIjoiODIxZDZiZTljODZlOWY4NDMwODYzYWY1MjRjMjM2ZWJmN2VjMzIxMmJiNzFiMzIxYzA5MzI1MmI3YmQ0NjNiYiIsInRhZyI6IiJ9'
                      sum_rating: '0.00'
                      created_at: '2022-11-07T12:16:26.000000Z'
                      updated_at: '2022-11-07T12:16:26.000000Z'
                      categories:
                        -
                          id: 1468
                          name: Harum
                          slug: harum
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-11-07T12:16:26.000000Z'
                          updated_at: '2022-11-07T12:16:26.000000Z'
                      links: []
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 13343
                        slug: fugiat-est-voluptatum
                        title: 'Fugiat est voluptatum.'
                        url: 'http://impedit-amet-similique-et-enim.pl'
                        short_content: 'Quia in quia magni aut. In est sapiente praesentium rerum exercitationem et. Nulla repellat rerum sapiente quam dolor minima. Quia nobis nihil repellat. Asperiores inventore vel aperiam adipisci. Quo totam ut voluptatem delectus qui perspiciatis sint'
                        content: 'Quia in quia magni aut. In est sapiente praesentium rerum exercitationem et. Nulla repellat rerum sapiente quam dolor minima. Quia nobis nihil repellat. Asperiores inventore vel aperiam adipisci. Quo totam ut voluptatem delectus qui perspiciatis sint. Cupiditate animi et consectetur numquam ad.'
                        content_html: 'Quia in quia magni aut. In est sapiente praesentium rerum exercitationem et. Nulla repellat rerum sapiente quam dolor minima. Quia nobis nihil repellat. Asperiores inventore vel aperiam adipisci. Quo totam ut voluptatem delectus qui perspiciatis sint. Cupiditate animi et consectetur numquam ad.'
                        less_content_html: 'Quia in quia magni aut. In est sapiente praesentium rerum exercitationem et. Nulla repellat rerum sapiente quam dolor minima. Quia nobis nihil repellat. Asperiores inventore vel aperiam adipisci. Quo totam ut voluptatem delectus qui perspiciatis sint... <a href="http://demo.idir.intelekt.net.pl/dirs/fugiat-est-voluptatum">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6Ikt3UEJHV3hZbkNBK2VSZFNKdFJnanc9PSIsInZhbHVlIjoiNy9yY1k4Y1A2OUw2UUdhVDluUElnVnQveXgrUStVM0tEVjNFQVd3TUlveTV1MDNVNllPWUFKdkV5VzZKL09kYSIsIm1hYyI6IjE3ZTg0MGY1ZTAyMTkyZjU1NTU1YzUxYmYzMzgyNWQ2NTgzMDZlNjQ3MTI4NDRkMDExYTIwNzVlMTAxODU3ZGEiLCJ0YWciOiIifQ=='
                        sum_rating: '0.00'
                        created_at: '2022-11-07T12:16:26.000000Z'
                        updated_at: '2022-11-07T12:16:26.000000Z'
                        categories:
                          -
                            id: 1467
                            name: Earum
                            slug: earum
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-11-07T12:16:26.000000Z'
                            updated_at: '2022-11-07T12:16:26.000000Z'
                        links: []
                      -
                        id: 13344
                        slug: ullam
                        title: Ullam.
                        url: 'https://officia-voluptatum-accusantium-id-mollitia-rerum-aliquam-est.pl'
                        short_content: 'Libero aut labore consectetur maiores. Fugiat excepturi architecto id assumenda corrupti. Corporis unde molestiae accusantium. Praesentium consequuntur distinctio quis eum. Ex nemo facilis delectus beatae sunt et a. Autem reprehenderit et recusandae '
                        content: 'Libero aut labore consectetur maiores. Fugiat excepturi architecto id assumenda corrupti. Corporis unde molestiae accusantium. Praesentium consequuntur distinctio quis eum. Ex nemo facilis delectus beatae sunt et a. Autem reprehenderit et recusandae est ullam sit.'
                        content_html: 'Libero aut labore consectetur maiores. Fugiat excepturi architecto id assumenda corrupti. Corporis unde molestiae accusantium. Praesentium consequuntur distinctio quis eum. Ex nemo facilis delectus beatae sunt et a. Autem reprehenderit et recusandae est ullam sit.'
                        less_content_html: 'Libero aut labore consectetur maiores. Fugiat excepturi architecto id assumenda corrupti. Corporis unde molestiae accusantium. Praesentium consequuntur distinctio quis eum. Ex nemo facilis delectus beatae sunt et a. Autem reprehenderit et recusandae ... <a href="http://demo.idir.intelekt.net.pl/dirs/ullam">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IkRqRmdXZldIL1lPaWxoSXM1SnovRlE9PSIsInZhbHVlIjoieTNLVmJKRHVrVXlYUTJpN3hKUXl4TWlCOVhRK1FaNW5iUVJaU1NUY2xvdlhjMEp4Vnc5TGZwaThLeU0zUi9uT2xHY3g1dXhmdTFXQkRlOWxNZDhtVkRTOUYrZklHa3BNWlJ6eGJVbGxxUDA9IiwibWFjIjoiODIxZDZiZTljODZlOWY4NDMwODYzYWY1MjRjMjM2ZWJmN2VjMzIxMmJiNzFiMzIxYzA5MzI1MmI3YmQ0NjNiYiIsInRhZyI6IiJ9'
                        sum_rating: '0.00'
                        created_at: '2022-11-07T12:16:26.000000Z'
                        updated_at: '2022-11-07T12:16:26.000000Z'
                        categories:
                          -
                            id: 1468
                            name: Harum
                            slug: harum
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-11-07T12:16:26.000000Z'
                            updated_at: '2022-11-07T12:16:26.000000Z'
                        links: []
                    items:
                      type: object
      tags:
        - Dirs
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or (available only for admin.dirs.view): 0, 2, 3, 4, 5.'
                      example: 1
                    group:
                      type: integer
                      description: 'ID of Group relationship.'
                      example: ''
                    category:
                      type: integer
                      description: 'ID of Category relationship.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>title|asc</code>, <code>title|desc</code>, <code>sum_rating|desc</code>, <code>sum_rating|asc</code>, <code>click|desc</code>, <code>click|asc</code>, <code>view|desc</code>, or <code>view|asc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
                    author:
                      type: integer
                      description: '(available only for admin.dirs.view) ID of User relationship.'
                      example: null
                    report:
                      type: integer
                      description: '(available only for admin.dirs.view) Must be one of 1 or 0.'
                      example: null
  '/api/dirs/{dir_id}':
    delete:
      summary: 'Delete dir'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.dirs.delete.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        204:
          description: ''
      tags:
        - Dirs
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: '(available only for admin.dirs.delete).'
                  example: null
    parameters:
      -
        in: path
        name: dir_id
        description: 'The ID of the dir.'
        example: null
        required: true
        schema:
          type: integer
  '/api/dirs/{dir_id}/status':
    patch:
      summary: 'Edit status dir'
      description: '<aside class="notice">Available only to users with permissions: api.access, api.dirs.status and admin.dirs.status.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 13341
                    slug: eligendi-in
                    title: 'Eligendi in.'
                    url: 'http://dolor-alias-eos-id-ea.pl'
                    short_content: 'Est et est nisi mollitia dolor quia. Dolorem voluptatibus cum explicabo iusto omnis pariatur ullam. Ipsa rerum dolores officia. Odit et est veritatis ipsa animi doloremque voluptatem. Repellat eaque beatae itaque aut. Quod tenetur amet eum hic molest'
                    content: 'Est et est nisi mollitia dolor quia. Dolorem voluptatibus cum explicabo iusto omnis pariatur ullam. Ipsa rerum dolores officia. Odit et est veritatis ipsa animi doloremque voluptatem. Repellat eaque beatae itaque aut. Quod tenetur amet eum hic molestias quisquam. Consectetur minus nam repellat. Non velit sunt sed aspernatur soluta et.'
                    content_html: 'Est et est nisi mollitia dolor quia. Dolorem voluptatibus cum explicabo iusto omnis pariatur ullam. Ipsa rerum dolores officia. Odit et est veritatis ipsa animi doloremque voluptatem. Repellat eaque beatae itaque aut. Quod tenetur amet eum hic molestias quisquam. Consectetur minus nam repellat. Non velit sunt sed aspernatur soluta et.'
                    less_content_html: 'Est et est nisi mollitia dolor quia. Dolorem voluptatibus cum explicabo iusto omnis pariatur ullam. Ipsa rerum dolores officia. Odit et est veritatis ipsa animi doloremque voluptatem. Repellat eaque beatae itaque aut. Quod tenetur amet eum hic molest... <a href="http://demo.idir.intelekt.net.pl/dirs/eligendi-in">show more &raquo</a>'
                    thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6ImJiSUUyUDJLNjhYQnEzc003SjZGUVE9PSIsInZhbHVlIjoiNjIvVldZU0xZUmExVWpYUVFYakVNMUJaU1Z6anduL1FWWDVEOWM3QXVHST0iLCJtYWMiOiIyNmUwMTVjZmJiOWI4NmNiZDViNWU2ZGM0ZWIxMDc4YTEwMzgzMzgyODA5NGYwNjgzNDM3MTkyNjVkN2YxOTk5IiwidGFnIjoiIn0='
                    sum_rating: '0.00'
                    created_at: '2022-11-07T12:16:25.000000Z'
                    updated_at: '2022-11-07T12:16:25.000000Z'
                    categories:
                      -
                        id: 1465
                        name: Voluptatem
                        slug: voluptatem
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-11-07T12:16:25.000000Z'
                        updated_at: '2022-11-07T12:16:25.000000Z'
                    links: []
                properties:
                  data:
                    type: object
                    example:
                      id: 13341
                      slug: eligendi-in
                      title: 'Eligendi in.'
                      url: 'http://dolor-alias-eos-id-ea.pl'
                      short_content: 'Est et est nisi mollitia dolor quia. Dolorem voluptatibus cum explicabo iusto omnis pariatur ullam. Ipsa rerum dolores officia. Odit et est veritatis ipsa animi doloremque voluptatem. Repellat eaque beatae itaque aut. Quod tenetur amet eum hic molest'
                      content: 'Est et est nisi mollitia dolor quia. Dolorem voluptatibus cum explicabo iusto omnis pariatur ullam. Ipsa rerum dolores officia. Odit et est veritatis ipsa animi doloremque voluptatem. Repellat eaque beatae itaque aut. Quod tenetur amet eum hic molestias quisquam. Consectetur minus nam repellat. Non velit sunt sed aspernatur soluta et.'
                      content_html: 'Est et est nisi mollitia dolor quia. Dolorem voluptatibus cum explicabo iusto omnis pariatur ullam. Ipsa rerum dolores officia. Odit et est veritatis ipsa animi doloremque voluptatem. Repellat eaque beatae itaque aut. Quod tenetur amet eum hic molestias quisquam. Consectetur minus nam repellat. Non velit sunt sed aspernatur soluta et.'
                      less_content_html: 'Est et est nisi mollitia dolor quia. Dolorem voluptatibus cum explicabo iusto omnis pariatur ullam. Ipsa rerum dolores officia. Odit et est veritatis ipsa animi doloremque voluptatem. Repellat eaque beatae itaque aut. Quod tenetur amet eum hic molest... <a href="http://demo.idir.intelekt.net.pl/dirs/eligendi-in">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6ImJiSUUyUDJLNjhYQnEzc003SjZGUVE9PSIsInZhbHVlIjoiNjIvVldZU0xZUmExVWpYUVFYakVNMUJaU1Z6anduL1FWWDVEOWM3QXVHST0iLCJtYWMiOiIyNmUwMTVjZmJiOWI4NmNiZDViNWU2ZGM0ZWIxMDc4YTEwMzgzMzgyODA5NGYwNjgzNDM3MTkyNjVkN2YxOTk5IiwidGFnIjoiIn0='
                      sum_rating: '0.00'
                      created_at: '2022-11-07T12:16:25.000000Z'
                      updated_at: '2022-11-07T12:16:25.000000Z'
                      categories:
                        -
                          id: 1465
                          name: Voluptatem
                          slug: voluptatem
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-11-07T12:16:25.000000Z'
                          updated_at: '2022-11-07T12:16:25.000000Z'
                      links: []
      tags:
        - Dirs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: 'Must be one of <code>1</code>, <code>0</code>, or <code>5</code>.'
                  example: 1
                reason:
                  type: string
                  description: ''
                  example: non
              required:
                - status
    parameters:
      -
        in: path
        name: dir_id
        description: 'The ID of the dir.'
        example: null
        required: true
        schema:
          type: integer
  '/api/dirs/{dir_id}/group/{group_id}':
    put:
      summary: 'Edit dir'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.dirs.edit.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 13342
                    slug: laborum-placeat-distinctio
                    title: 'Laborum placeat distinctio.'
                    url: 'https://et-vitae-aperiam-voluptatem-corporis-et-voluptates-et.pl'
                    short_content: 'Quis quae natus maxime nobis qui dolor. Iste doloribus laborum quaerat laborum adipisci voluptas non non. Dolorum ab aliquid beatae ab eius sequi est. Quis velit voluptas non aut beatae voluptatem. Dolores excepturi ex inventore exercitationem et est'
                    content: 'Quis quae natus maxime nobis qui dolor. Iste doloribus laborum quaerat laborum adipisci voluptas non non. Dolorum ab aliquid beatae ab eius sequi est. Quis velit voluptas non aut beatae voluptatem. Dolores excepturi ex inventore exercitationem et est. Id rerum enim voluptas atque. Aperiam ea magnam odio recusandae enim cum id.'
                    content_html: 'Quis quae natus maxime nobis qui dolor. Iste doloribus laborum quaerat laborum adipisci voluptas non non. Dolorum ab aliquid beatae ab eius sequi est. Quis velit voluptas non aut beatae voluptatem. Dolores excepturi ex inventore exercitationem et est. Id rerum enim voluptas atque. Aperiam ea magnam odio recusandae enim cum id.'
                    less_content_html: 'Quis quae natus maxime nobis qui dolor. Iste doloribus laborum quaerat laborum adipisci voluptas non non. Dolorum ab aliquid beatae ab eius sequi est. Quis velit voluptas non aut beatae voluptatem. Dolores excepturi ex inventore exercitationem et est... <a href="http://demo.idir.intelekt.net.pl/dirs/laborum-placeat-distinctio">show more &raquo</a>'
                    thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6Ik5TWElDTWt0aFFEdFUrUGpaYUhDbmc9PSIsInZhbHVlIjoiUlNNeHFSaml2SWgveFE3MmRFeFZWOFJ6T1Vhb3JHVWt5M3VXM25Edy8xWC9KWmFiU1BTa1BpNFRKVzA1MFVlcU5kV01FS3I4VFdwSmdERS9aRmRNditZNVB1ME5YK1BTQ0laQmNYSUpRNlE9IiwibWFjIjoiMzNkZTVhMmQzOWJjZTkzOTRkOTM4M2QzMWQzMTUyMGU2MmI1ZmI3N2UxZGQ2MTkwY2Y5NzAxYjQ2YTJlYjFiOCIsInRhZyI6IiJ9'
                    sum_rating: '0.00'
                    created_at: '2022-11-07T12:16:26.000000Z'
                    updated_at: '2022-11-07T12:16:26.000000Z'
                    categories:
                      -
                        id: 1466
                        name: Eum
                        slug: eum
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-11-07T12:16:26.000000Z'
                        updated_at: '2022-11-07T12:16:26.000000Z'
                    links: []
                properties:
                  data:
                    type: object
                    example:
                      id: 13342
                      slug: laborum-placeat-distinctio
                      title: 'Laborum placeat distinctio.'
                      url: 'https://et-vitae-aperiam-voluptatem-corporis-et-voluptates-et.pl'
                      short_content: 'Quis quae natus maxime nobis qui dolor. Iste doloribus laborum quaerat laborum adipisci voluptas non non. Dolorum ab aliquid beatae ab eius sequi est. Quis velit voluptas non aut beatae voluptatem. Dolores excepturi ex inventore exercitationem et est'
                      content: 'Quis quae natus maxime nobis qui dolor. Iste doloribus laborum quaerat laborum adipisci voluptas non non. Dolorum ab aliquid beatae ab eius sequi est. Quis velit voluptas non aut beatae voluptatem. Dolores excepturi ex inventore exercitationem et est. Id rerum enim voluptas atque. Aperiam ea magnam odio recusandae enim cum id.'
                      content_html: 'Quis quae natus maxime nobis qui dolor. Iste doloribus laborum quaerat laborum adipisci voluptas non non. Dolorum ab aliquid beatae ab eius sequi est. Quis velit voluptas non aut beatae voluptatem. Dolores excepturi ex inventore exercitationem et est. Id rerum enim voluptas atque. Aperiam ea magnam odio recusandae enim cum id.'
                      less_content_html: 'Quis quae natus maxime nobis qui dolor. Iste doloribus laborum quaerat laborum adipisci voluptas non non. Dolorum ab aliquid beatae ab eius sequi est. Quis velit voluptas non aut beatae voluptatem. Dolores excepturi ex inventore exercitationem et est... <a href="http://demo.idir.intelekt.net.pl/dirs/laborum-placeat-distinctio">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6Ik5TWElDTWt0aFFEdFUrUGpaYUhDbmc9PSIsInZhbHVlIjoiUlNNeHFSaml2SWgveFE3MmRFeFZWOFJ6T1Vhb3JHVWt5M3VXM25Edy8xWC9KWmFiU1BTa1BpNFRKVzA1MFVlcU5kV01FS3I4VFdwSmdERS9aRmRNditZNVB1ME5YK1BTQ0laQmNYSUpRNlE9IiwibWFjIjoiMzNkZTVhMmQzOWJjZTkzOTRkOTM4M2QzMWQzMTUyMGU2MmI1ZmI3N2UxZGQ2MTkwY2Y5NzAxYjQ2YTJlYjFiOCIsInRhZyI6IiJ9'
                      sum_rating: '0.00'
                      created_at: '2022-11-07T12:16:26.000000Z'
                      updated_at: '2022-11-07T12:16:26.000000Z'
                      categories:
                        -
                          id: 1466
                          name: Eum
                          slug: eum
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-11-07T12:16:26.000000Z'
                          updated_at: '2022-11-07T12:16:26.000000Z'
                      links: []
      tags:
        - Dirs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must be between 3 and 100 characters.'
                  example: 'Lorem ipsum dolor sit amet'
                tags:
                  type: array
                  description: 'Must be at least 3 characters. Must not be greater than 30 characters.'
                  example:
                    - ''
                  items:
                    type: string
                categories:
                  type: array
                  description: 'Array containing category IDs.'
                  example:
                    - 10
                  items:
                    type: integer
                content_html:
                  type: string
                  description: 'Description. Must be between 255 and 1000 characters.'
                  example: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                notes:
                  type: string
                  description: 'Additional information for the moderator. Must be between 3 and 255 characters.'
                  example: ''
                url:
                  type: string
                  description: 'Unique website url with http/https protocol.'
                  example: 'https://demo.idir.intelekt.net.pl'
                backlink:
                  type: integer
                  description: 'ID of the selected backlink.'
                  example: null
                backlink_url:
                  type: string
                  description: 'Url with http/https protocol to backlink.'
                  example: null
                captcha:
                  type: string
                  description: 'Logic captcha response. Only required for free groups.'
                  example: vel
                field:
                  type: array
                  description: 'Array containing additional form fields if the group allows it.'
                  example: null
                  items:
                    type: object
                user:
                  type: integer
                  description: '(available only for admin.dirs.edit) ID of User author. If null is no author.'
                  example: null
                payment_type:
                  type: string
                  description: 'If the group requires a payment, the selected type must be defined. Must be one of <code>transfer</code>, <code>code_transfer</code>, <code>code_sms</code>, or <code>paypal_express</code>.'
                  example: null
                payment_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>transfer</code>.'
                  example: null
                payment_code_sms:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_sms</code>.'
                  example: null
                code_sms:
                  type: string
                  description: 'Received code if payment_type is <code>code_sms</code>.'
                  example: null
                payment_code_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_transfer</code>.'
                  example: null
                code_transfer:
                  type: string
                  description: 'Received code if payment_type is <code>code_transfer</code>.'
                  example: null
                payment_paypal_express:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>paypal_express</code>.'
                  example: null
              required:
                - captcha
    parameters:
      -
        in: path
        name: dir_id
        description: 'The ID of the dir.'
        example: null
        required: true
        schema:
          type: integer
      -
        in: path
        name: group_id
        description: 'The ID of the group. If same as current and has active premium time then no new payment is required.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/dirs/group/{group_id}':
    post:
      summary: 'Create dir'
      description: '<aside class="notice">If the user is authenticated the entry is added to his/her account, if not, an account is created for the email address provided.</aside>'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 13345
                    slug: repudiandae-sunt-nam
                    title: 'Repudiandae sunt nam.'
                    url: 'https://saepe-perspiciatis-blanditiis-omnis-quidem.pl'
                    short_content: 'Vel odit voluptate accusamus illo non quaerat. Earum velit non omnis molestias corrupti non beatae. In et minus sequi repudiandae labore rerum in voluptatem. Repellat ipsum eius quia. Similique eum autem voluptates et eum.'
                    content: 'Vel odit voluptate accusamus illo non quaerat. Earum velit non omnis molestias corrupti non beatae. In et minus sequi repudiandae labore rerum in voluptatem. Repellat ipsum eius quia. Similique eum autem voluptates et eum.'
                    content_html: 'Vel odit voluptate accusamus illo non quaerat. Earum velit non omnis molestias corrupti non beatae. In et minus sequi repudiandae labore rerum in voluptatem. Repellat ipsum eius quia. Similique eum autem voluptates et eum.'
                    less_content_html: 'Vel odit voluptate accusamus illo non quaerat. Earum velit non omnis molestias corrupti non beatae. In et minus sequi repudiandae labore rerum in voluptatem. Repellat ipsum eius quia. Similique eum autem voluptates et eum.... <a href="http://demo.idir.intelekt.net.pl/dirs/repudiandae-sunt-nam">show more &raquo</a>'
                    thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6InpoRVVsS3A2S3IySk9sUGZZRE10UVE9PSIsInZhbHVlIjoid2RlNDlDOHVFYXdMc25HUkxqUXpYdWZnRWovTXJjQ0RhRnRSZi9LWVRBYTltcnJLOTcvZ2dWaWZqZWpSRC9FSW9FUEtCNDhYN1lZMmZFM3AxdW5pRkE9PSIsIm1hYyI6IjJhYWQ0Y2U5MzE4MTNmYzllNGFmZGFlYmU1OWIxNzc0Y2JkNjJlNmFkZTQ1MzU5NzM1M2U1ZGRiMDA3NTUxMzAiLCJ0YWciOiIifQ=='
                    sum_rating: '0.00'
                    created_at: '2022-11-07T12:16:27.000000Z'
                    updated_at: '2022-11-07T12:16:27.000000Z'
                    categories:
                      -
                        id: 1469
                        name: Ratione
                        slug: ratione
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-11-07T12:16:27.000000Z'
                        updated_at: '2022-11-07T12:16:27.000000Z'
                    links: []
                properties:
                  data:
                    type: object
                    example:
                      id: 13345
                      slug: repudiandae-sunt-nam
                      title: 'Repudiandae sunt nam.'
                      url: 'https://saepe-perspiciatis-blanditiis-omnis-quidem.pl'
                      short_content: 'Vel odit voluptate accusamus illo non quaerat. Earum velit non omnis molestias corrupti non beatae. In et minus sequi repudiandae labore rerum in voluptatem. Repellat ipsum eius quia. Similique eum autem voluptates et eum.'
                      content: 'Vel odit voluptate accusamus illo non quaerat. Earum velit non omnis molestias corrupti non beatae. In et minus sequi repudiandae labore rerum in voluptatem. Repellat ipsum eius quia. Similique eum autem voluptates et eum.'
                      content_html: 'Vel odit voluptate accusamus illo non quaerat. Earum velit non omnis molestias corrupti non beatae. In et minus sequi repudiandae labore rerum in voluptatem. Repellat ipsum eius quia. Similique eum autem voluptates et eum.'
                      less_content_html: 'Vel odit voluptate accusamus illo non quaerat. Earum velit non omnis molestias corrupti non beatae. In et minus sequi repudiandae labore rerum in voluptatem. Repellat ipsum eius quia. Similique eum autem voluptates et eum.... <a href="http://demo.idir.intelekt.net.pl/dirs/repudiandae-sunt-nam">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6InpoRVVsS3A2S3IySk9sUGZZRE10UVE9PSIsInZhbHVlIjoid2RlNDlDOHVFYXdMc25HUkxqUXpYdWZnRWovTXJjQ0RhRnRSZi9LWVRBYTltcnJLOTcvZ2dWaWZqZWpSRC9FSW9FUEtCNDhYN1lZMmZFM3AxdW5pRkE9PSIsIm1hYyI6IjJhYWQ0Y2U5MzE4MTNmYzllNGFmZGFlYmU1OWIxNzc0Y2JkNjJlNmFkZTQ1MzU5NzM1M2U1ZGRiMDA3NTUxMzAiLCJ0YWciOiIifQ=='
                      sum_rating: '0.00'
                      created_at: '2022-11-07T12:16:27.000000Z'
                      updated_at: '2022-11-07T12:16:27.000000Z'
                      categories:
                        -
                          id: 1469
                          name: Ratione
                          slug: ratione
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-11-07T12:16:27.000000Z'
                          updated_at: '2022-11-07T12:16:27.000000Z'
                      links: []
      tags:
        - Dirs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must be between 3 and 100 characters.'
                  example: 'Lorem ipsum dolor sit amet'
                tags:
                  type: array
                  description: 'Must be at least 3 characters. Must not be greater than 30 characters.'
                  example:
                    - xgwkrfv
                  items:
                    type: string
                categories:
                  type: array
                  description: 'Array containing category IDs.'
                  example:
                    - 12
                  items:
                    type: integer
                content_html:
                  type: string
                  description: 'Description. Must be between 255 and 1000 characters.'
                  example: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                notes:
                  type: string
                  description: 'Additional information for the moderator. Must be between 3 and 255 characters.'
                  example: ''
                url:
                  type: string
                  description: 'Unique website url with http/https protocol.'
                  example: 'https://demo.idir.intelekt.net.pl'
                backlink:
                  type: integer
                  description: 'ID of the selected backlink.'
                  example: null
                backlink_url:
                  type: string
                  description: 'Url with http/https protocol to backlink.'
                  example: null
                email:
                  type: string
                  description: 'Email address, required if the user adds the entry as unauthenticated.'
                  example: kontakt@intelekt.net.pl
                captcha:
                  type: string
                  description: 'Logic captcha response. Only required for free groups.'
                  example: eos
                field:
                  type: array
                  description: 'Array containing additional form fields if the group allows it.'
                  example: null
                  items:
                    type: object
                payment_type:
                  type: string
                  description: 'If the group requires a payment, the selected type must be defined. Must be one of <code>transfer</code>, <code>code_transfer</code>, <code>code_sms</code>, or <code>paypal_express</code>.'
                  example: null
                payment_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>transfer</code>.'
                  example: null
                payment_code_sms:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_sms</code>.'
                  example: null
                code_sms:
                  type: string
                  description: 'Received code if payment_type is <code>code_sms</code>.'
                  example: null
                payment_code_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_transfer</code>.'
                  example: null
                code_transfer:
                  type: string
                  description: 'Received code if payment_type is <code>code_transfer</code>.'
                  example: null
                payment_paypal_express:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>paypal_express</code>.'
                  example: null
              required:
                - title
                - categories
                - content_html
                - captcha
      security: []
    parameters:
      -
        in: path
        name: group_id
        description: 'The ID of the group.'
        example: 1
        required: true
        schema:
          type: integer
  /api/groups/index:
    post:
      summary: 'Index of groups'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 19
                      slug: quae
                      position: 10
                      name: Quae
                      desc: 'Eum facere delectus eos porro deserunt. Ut aut sapiente veniam dolorem in laborum numquam. Nisi quis eveniet voluptatem dolorem asperiores. Ducimus quam sint optio. Non aut tenetur optio autem. Possimus harum eos commodi. Sunt earum et et reiciendis quos. Quia et sit eos.'
                      border: null
                      max_cats: 4
                      max_models: 27
                      max_models_daily: null
                      visible:
                        value: 1
                        label: public
                      apply_status:
                        value: 0
                        label: 'pending acceptance'
                      url:
                        value: 0
                        label: none
                      backlink:
                        value: 1
                        label: optional
                      created_at: '2022-11-07T12:16:25.000000Z'
                      updated_at: '2022-11-07T12:16:25.000000Z'
                      alt: null
                      privileges:
                        -
                          id: 9
                          name: 'additional options for editing content'
                          created_at: '2022-09-16T00:16:56.000000Z'
                          updated_at: '2022-09-16T00:16:56.000000Z'
                    -
                      id: 20
                      slug: nobis
                      position: 11
                      name: Nobis
                      desc: 'Qui deserunt eveniet molestiae tempora esse vero. Nesciunt enim beatae adipisci. Enim eligendi perferendis non doloribus impedit architecto pariatur. Sunt quo voluptatem laboriosam nam quod debitis voluptatem voluptatibus. Iste veritatis velit qui velit. Ratione quam explicabo voluptatibus est.'
                      border: null
                      max_cats: 1
                      max_models: null
                      max_models_daily: 10
                      visible:
                        value: 1
                        label: public
                      apply_status:
                        value: 1
                        label: 'active immediately'
                      url:
                        value: 2
                        label: required
                      backlink:
                        value: 1
                        label: optional
                      created_at: '2022-11-07T12:16:25.000000Z'
                      updated_at: '2022-11-07T12:16:25.000000Z'
                      alt: null
                      privileges:
                        -
                          id: 9
                          name: 'additional options for editing content'
                          created_at: '2022-09-16T00:16:56.000000Z'
                          updated_at: '2022-09-16T00:16:56.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 19
                        slug: quae
                        position: 10
                        name: Quae
                        desc: 'Eum facere delectus eos porro deserunt. Ut aut sapiente veniam dolorem in laborum numquam. Nisi quis eveniet voluptatem dolorem asperiores. Ducimus quam sint optio. Non aut tenetur optio autem. Possimus harum eos commodi. Sunt earum et et reiciendis quos. Quia et sit eos.'
                        border: null
                        max_cats: 4
                        max_models: 27
                        max_models_daily: null
                        visible:
                          value: 1
                          label: public
                        apply_status:
                          value: 0
                          label: 'pending acceptance'
                        url:
                          value: 0
                          label: none
                        backlink:
                          value: 1
                          label: optional
                        created_at: '2022-11-07T12:16:25.000000Z'
                        updated_at: '2022-11-07T12:16:25.000000Z'
                        alt: null
                        privileges:
                          -
                            id: 9
                            name: 'additional options for editing content'
                            created_at: '2022-09-16T00:16:56.000000Z'
                            updated_at: '2022-09-16T00:16:56.000000Z'
                      -
                        id: 20
                        slug: nobis
                        position: 11
                        name: Nobis
                        desc: 'Qui deserunt eveniet molestiae tempora esse vero. Nesciunt enim beatae adipisci. Enim eligendi perferendis non doloribus impedit architecto pariatur. Sunt quo voluptatem laboriosam nam quod debitis voluptatem voluptatibus. Iste veritatis velit qui velit. Ratione quam explicabo voluptatibus est.'
                        border: null
                        max_cats: 1
                        max_models: null
                        max_models_daily: 10
                        visible:
                          value: 1
                          label: public
                        apply_status:
                          value: 1
                          label: 'active immediately'
                        url:
                          value: 2
                          label: required
                        backlink:
                          value: 1
                          label: optional
                        created_at: '2022-11-07T12:16:25.000000Z'
                        updated_at: '2022-11-07T12:16:25.000000Z'
                        alt: null
                        privileges:
                          -
                            id: 9
                            name: 'additional options for editing content'
                            created_at: '2022-09-16T00:16:56.000000Z'
                            updated_at: '2022-09-16T00:16:56.000000Z'
                    items:
                      type: object
      tags:
        - Groups
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    visible:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.groups.view).'
                      example: 1
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, or <code>position|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  '/api/payments/{payment_dir_pending}/dir/{driver}':
    get:
      summary: "Show dir's payment"
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    uuid: 19706e7a-e38e-498d-9af1-f047776031f2
                    driver: null
                    status:
                      value: 2
                      label: pending
                    created_at: '2022-11-07T12:16:25.000000Z'
                    updated_at: '2022-11-07T12:16:25.000000Z'
                    morph:
                      id: 13340
                      slug: quia-id-aliquam
                      title: 'Quia id aliquam.'
                      url: 'https://et-possimus-eos-voluptatem-qui-aut-voluptatem-esse.pl'
                      short_content: 'Aut aspernatur porro quia. Non repellendus culpa sequi eaque sit. Saepe id molestiae modi doloribus doloribus. Molestias eum et adipisci laborum debitis. Debitis rem eos quis aut ea veritatis voluptatum. Ut magnam unde qui.'
                      content: 'Aut aspernatur porro quia. Non repellendus culpa sequi eaque sit. Saepe id molestiae modi doloribus doloribus. Molestias eum et adipisci laborum debitis. Debitis rem eos quis aut ea veritatis voluptatum. Ut magnam unde qui.'
                      content_html: 'Aut aspernatur porro quia. Non repellendus culpa sequi eaque sit. Saepe id molestiae modi doloribus doloribus. Molestias eum et adipisci laborum debitis. Debitis rem eos quis aut ea veritatis voluptatum. Ut magnam unde qui.'
                      less_content_html: 'Aut aspernatur porro quia. Non repellendus culpa sequi eaque sit. Saepe id molestiae modi doloribus doloribus. Molestias eum et adipisci laborum debitis. Debitis rem eos quis aut ea veritatis voluptatum. Ut magnam unde qui.... <a href="http://demo.idir.intelekt.net.pl/dirs/quia-id-aliquam">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6InZwK3JkR3pobDRZRVBPS3hxdjlxTnc9PSIsInZhbHVlIjoiL0JOeXFPajZQS0ZoTEsxWVdJdFpOSlIwWklCR1Z5WUlJby9QWm5MV2FGTEwzWTExM1ZrT2l3a29RTHNlWlp3WmRKQ3lQcjdSSzJTR01BanNIVDlKQnc9PSIsIm1hYyI6ImFmNTk4ZTRkMTk5YzIzMDkyZGI3Y2EyYjgxMTgzZDAwNDNmOWE2YjQwMzIwYjg1NDc1MGQ5MTg5ZWE1NTVmY2IiLCJ0YWciOiIifQ=='
                      sum_rating: '0.00'
                      created_at: '2022-11-07T12:16:25.000000Z'
                      updated_at: '2022-11-07T12:16:25.000000Z'
                      links: []
                    order:
                      id: 8
                      type: transfer
                      price: '3.60'
                      regular_price: '3.60'
                      discount_price: null
                      discount: null
                      qr_as_image: null
                      days: null
                      created_at: '2022-11-07T12:16:25.000000Z'
                      updated_at: '2022-11-07T12:16:25.000000Z'
                  url: 'https://paytest.cashbill.pl/pl/payment/eydJpZCI6IlRFU1RfNmV6OWZ6dXpvIiwicGMiOiIiLCJ0b2tlbiI6ImJiNjQ3ZGFhOTQ3NDU1NzM0OGRhMzhkYjEyMTE0YTI5MTA0NDhkMGUifQ--'
                properties:
                  data:
                    type: object
                    example:
                      uuid: 19706e7a-e38e-498d-9af1-f047776031f2
                      driver: null
                      status:
                        value: 2
                        label: pending
                      created_at: '2022-11-07T12:16:25.000000Z'
                      updated_at: '2022-11-07T12:16:25.000000Z'
                      morph:
                        id: 13340
                        slug: quia-id-aliquam
                        title: 'Quia id aliquam.'
                        url: 'https://et-possimus-eos-voluptatem-qui-aut-voluptatem-esse.pl'
                        short_content: 'Aut aspernatur porro quia. Non repellendus culpa sequi eaque sit. Saepe id molestiae modi doloribus doloribus. Molestias eum et adipisci laborum debitis. Debitis rem eos quis aut ea veritatis voluptatum. Ut magnam unde qui.'
                        content: 'Aut aspernatur porro quia. Non repellendus culpa sequi eaque sit. Saepe id molestiae modi doloribus doloribus. Molestias eum et adipisci laborum debitis. Debitis rem eos quis aut ea veritatis voluptatum. Ut magnam unde qui.'
                        content_html: 'Aut aspernatur porro quia. Non repellendus culpa sequi eaque sit. Saepe id molestiae modi doloribus doloribus. Molestias eum et adipisci laborum debitis. Debitis rem eos quis aut ea veritatis voluptatum. Ut magnam unde qui.'
                        less_content_html: 'Aut aspernatur porro quia. Non repellendus culpa sequi eaque sit. Saepe id molestiae modi doloribus doloribus. Molestias eum et adipisci laborum debitis. Debitis rem eos quis aut ea veritatis voluptatum. Ut magnam unde qui.... <a href="http://demo.idir.intelekt.net.pl/dirs/quia-id-aliquam">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6InZwK3JkR3pobDRZRVBPS3hxdjlxTnc9PSIsInZhbHVlIjoiL0JOeXFPajZQS0ZoTEsxWVdJdFpOSlIwWklCR1Z5WUlJby9QWm5MV2FGTEwzWTExM1ZrT2l3a29RTHNlWlp3WmRKQ3lQcjdSSzJTR01BanNIVDlKQnc9PSIsIm1hYyI6ImFmNTk4ZTRkMTk5YzIzMDkyZGI3Y2EyYjgxMTgzZDAwNDNmOWE2YjQwMzIwYjg1NDc1MGQ5MTg5ZWE1NTVmY2IiLCJ0YWciOiIifQ=='
                        sum_rating: '0.00'
                        created_at: '2022-11-07T12:16:25.000000Z'
                        updated_at: '2022-11-07T12:16:25.000000Z'
                        links: []
                      order:
                        id: 8
                        type: transfer
                        price: '3.60'
                        regular_price: '3.60'
                        discount_price: null
                        discount: null
                        qr_as_image: null
                        days: null
                        created_at: '2022-11-07T12:16:25.000000Z'
                        updated_at: '2022-11-07T12:16:25.000000Z'
                  url:
                    type: string
                    example: 'https://paytest.cashbill.pl/pl/payment/eydJpZCI6IlRFU1RfNmV6OWZ6dXpvIiwicGMiOiIiLCJ0b2tlbiI6ImJiNjQ3ZGFhOTQ3NDU1NzM0OGRhMzhkYjEyMTE0YTI5MTA0NDhkMGUifQ--'
                    description: "Link to the driver's payment page (for transfer type payment)."
      tags:
        - Payments
      security: []
    parameters:
      -
        in: path
        name: payment_dir_pending
        description: 'The payment UUID.'
        example: null
        required: true
        schema:
          type: string
      -
        in: path
        name: driver
        description: 'Optional parameter. The payment driver.'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
  /api/posts/index:
    post:
      summary: 'Index of posts'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.posts.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 4
                      slug: eum-repudiandae-perspiciatis-doloremque-et-odit-iusto
                      title: 'Eum repudiandae perspiciatis doloremque et odit iusto.'
                      short_content: 'Voluptatibus qui fuga inventore laboriosam a. Dolorum assumenda totam nisi aliquid. Sunt est id ea ut. Nihil hic omnis molestiae corrupti sed. Ducimus aut odit perferendis. Quidem incidunt nam iusto similique recusandae totam. Cum molestias itaque quia rerum labore. Maxime omnis sint molestias eum aperiam. Ipsum assumenda est quia recusandae. Est sit incidunt natus atque corrupti expedita. Nihil et repellendus placeat fuga odit nihil vitae rem. Numquam ipsum commodi recusandae hic adipisci. Comm'
[...]
