openapi: 3.0.3
info:
  title: 'API Documentation - iDir - nowoczesny katalog stron'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://demo.idir.intelekt.net.pl'
paths:
  /api/user:
    get:
      summary: 'Show user'
      description: "Show authenticated User resource\n\n<aside class=\"notice\">Available only to users with permission: api.access.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 11875
                    name: 'Prof. Rene Roberts'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-10-06T12:13:00.000000Z'
                    updated_at: '2022-10-06T12:13:00.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2022-09-16T00:16:56.000000Z'
                        updated_at: '2022-09-16T00:16:56.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 11875
                      name: 'Prof. Rene Roberts'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-10-06T12:13:00.000000Z'
                      updated_at: '2022-10-06T12:13:00.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2022-09-16T00:16:56.000000Z'
                          updated_at: '2022-09-16T00:16:56.000000Z'
      tags:
        - 'Authenticated user'
  /api/user/dirs:
    post:
      summary: "Index of user's dirs"
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 13316
                      slug: sed-et-consequatur
                      title: 'Sed et consequatur.'
                      url: 'http://quia-perferendis-dolorem-ut-laudantium-recusandae.pl'
                      short_content: 'Libero fuga veritatis eos consequatur ut. Blanditiis itaque molestiae ipsum voluptatem beatae. Optio enim rerum repudiandae sint quia ab atque. Et quibusdam culpa voluptatum. Animi possimus id mollitia ipsam est. Officia numquam voluptatem aut iusto '
                      content: 'Libero fuga veritatis eos consequatur ut. Blanditiis itaque molestiae ipsum voluptatem beatae. Optio enim rerum repudiandae sint quia ab atque. Et quibusdam culpa voluptatum. Animi possimus id mollitia ipsam est. Officia numquam voluptatem aut iusto ipsa tempora dolorum. Magni a minus exercitationem dicta.'
                      content_html: 'Libero fuga veritatis eos consequatur ut. Blanditiis itaque molestiae ipsum voluptatem beatae. Optio enim rerum repudiandae sint quia ab atque. Et quibusdam culpa voluptatum. Animi possimus id mollitia ipsam est. Officia numquam voluptatem aut iusto ipsa tempora dolorum. Magni a minus exercitationem dicta.'
                      less_content_html: 'Libero fuga veritatis eos consequatur ut. Blanditiis itaque molestiae ipsum voluptatem beatae. Optio enim rerum repudiandae sint quia ab atque. Et quibusdam culpa voluptatum. Animi possimus id mollitia ipsam est. Officia numquam voluptatem aut iusto ... <a href="https://demo.idir.intelekt.net.pl/dirs/sed-et-consequatur">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IjJPOE44OTE0VUdpVWkvdVQ5ejl4NFE9PSIsInZhbHVlIjoiZFRtS25McnMyNnJrM3pyNEgwOEZJdlora3owVk9jVXRha1lRa0FpTW05UDJJMEpEWGMwRVJEVTBIckxNZUEyTTFtdUhDV2dzUEVkeDE3K0ZMeGdrbGc9PSIsIm1hYyI6IjdjYTU5M2VhMDliODlkNTk1OTQxZTljZDk4YWY0YjNiN2E3YTVmOWVlNTM1YjA1ZTllNDQ0M2QzYmM3Yjc4Y2UiLCJ0YWciOiIifQ=='
                      sum_rating: '0.00'
                      created_at: '2022-10-06T12:12:57.000000Z'
                      updated_at: '2022-10-06T12:12:57.000000Z'
                      categories:
                        -
                          id: 1448
                          name: Doloribus
                          slug: doloribus
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-10-06T12:12:57.000000Z'
                          updated_at: '2022-10-06T12:12:57.000000Z'
                      links: []
                    -
                      id: 13317
                      slug: aliquid
                      title: Aliquid.
                      url: 'https://voluptatem-natus-aut-deleniti-ullam.pl'
                      short_content: 'Hic ratione ut nam neque. Vel nemo vel dolorem eum. Nostrum pariatur aspernatur ut consequatur velit quo et. Magni doloribus esse quis minima. Distinctio dolores assumenda qui voluptatibus molestiae in voluptatem.'
                      content: 'Hic ratione ut nam neque. Vel nemo vel dolorem eum. Nostrum pariatur aspernatur ut consequatur velit quo et. Magni doloribus esse quis minima. Distinctio dolores assumenda qui voluptatibus molestiae in voluptatem.'
                      content_html: 'Hic ratione ut nam neque. Vel nemo vel dolorem eum. Nostrum pariatur aspernatur ut consequatur velit quo et. Magni doloribus esse quis minima. Distinctio dolores assumenda qui voluptatibus molestiae in voluptatem.'
                      less_content_html: 'Hic ratione ut nam neque. Vel nemo vel dolorem eum. Nostrum pariatur aspernatur ut consequatur velit quo et. Magni doloribus esse quis minima. Distinctio dolores assumenda qui voluptatibus molestiae in voluptatem.... <a href="https://demo.idir.intelekt.net.pl/dirs/aliquid">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6Im1VRzl3U3FMenUvQWh6M0Evd1M3MFE9PSIsInZhbHVlIjoicHpYV083Vkt2V2FkZ0dObXVYMXltYXBCRUtZQWlJSVpiVzFReURmN29QR1BKbTJvSFZBTlFDcE9UUERJZTNSMCIsIm1hYyI6ImJhN2E2M2M5NTM5YWNkZmM4NjlkMjkwMDk0NDcwMWM4NTBiYmE2MDE5YzI5ZWUzYTJlMzFjYTAzZGM5OTBlOWMiLCJ0YWciOiIifQ=='
                      sum_rating: '0.00'
                      created_at: '2022-10-06T12:12:57.000000Z'
                      updated_at: '2022-10-06T12:12:57.000000Z'
                      categories:
                        -
                          id: 1449
                          name: Aperiam
                          slug: aperiam
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-10-06T12:12:57.000000Z'
                          updated_at: '2022-10-06T12:12:57.000000Z'
                      links: []
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 13316
                        slug: sed-et-consequatur
                        title: 'Sed et consequatur.'
                        url: 'http://quia-perferendis-dolorem-ut-laudantium-recusandae.pl'
                        short_content: 'Libero fuga veritatis eos consequatur ut. Blanditiis itaque molestiae ipsum voluptatem beatae. Optio enim rerum repudiandae sint quia ab atque. Et quibusdam culpa voluptatum. Animi possimus id mollitia ipsam est. Officia numquam voluptatem aut iusto '
                        content: 'Libero fuga veritatis eos consequatur ut. Blanditiis itaque molestiae ipsum voluptatem beatae. Optio enim rerum repudiandae sint quia ab atque. Et quibusdam culpa voluptatum. Animi possimus id mollitia ipsam est. Officia numquam voluptatem aut iusto ipsa tempora dolorum. Magni a minus exercitationem dicta.'
                        content_html: 'Libero fuga veritatis eos consequatur ut. Blanditiis itaque molestiae ipsum voluptatem beatae. Optio enim rerum repudiandae sint quia ab atque. Et quibusdam culpa voluptatum. Animi possimus id mollitia ipsam est. Officia numquam voluptatem aut iusto ipsa tempora dolorum. Magni a minus exercitationem dicta.'
                        less_content_html: 'Libero fuga veritatis eos consequatur ut. Blanditiis itaque molestiae ipsum voluptatem beatae. Optio enim rerum repudiandae sint quia ab atque. Et quibusdam culpa voluptatum. Animi possimus id mollitia ipsam est. Officia numquam voluptatem aut iusto ... <a href="https://demo.idir.intelekt.net.pl/dirs/sed-et-consequatur">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IjJPOE44OTE0VUdpVWkvdVQ5ejl4NFE9PSIsInZhbHVlIjoiZFRtS25McnMyNnJrM3pyNEgwOEZJdlora3owVk9jVXRha1lRa0FpTW05UDJJMEpEWGMwRVJEVTBIckxNZUEyTTFtdUhDV2dzUEVkeDE3K0ZMeGdrbGc9PSIsIm1hYyI6IjdjYTU5M2VhMDliODlkNTk1OTQxZTljZDk4YWY0YjNiN2E3YTVmOWVlNTM1YjA1ZTllNDQ0M2QzYmM3Yjc4Y2UiLCJ0YWciOiIifQ=='
                        sum_rating: '0.00'
                        created_at: '2022-10-06T12:12:57.000000Z'
                        updated_at: '2022-10-06T12:12:57.000000Z'
                        categories:
                          -
                            id: 1448
                            name: Doloribus
                            slug: doloribus
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-10-06T12:12:57.000000Z'
                            updated_at: '2022-10-06T12:12:57.000000Z'
                        links: []
                      -
                        id: 13317
                        slug: aliquid
                        title: Aliquid.
                        url: 'https://voluptatem-natus-aut-deleniti-ullam.pl'
                        short_content: 'Hic ratione ut nam neque. Vel nemo vel dolorem eum. Nostrum pariatur aspernatur ut consequatur velit quo et. Magni doloribus esse quis minima. Distinctio dolores assumenda qui voluptatibus molestiae in voluptatem.'
                        content: 'Hic ratione ut nam neque. Vel nemo vel dolorem eum. Nostrum pariatur aspernatur ut consequatur velit quo et. Magni doloribus esse quis minima. Distinctio dolores assumenda qui voluptatibus molestiae in voluptatem.'
                        content_html: 'Hic ratione ut nam neque. Vel nemo vel dolorem eum. Nostrum pariatur aspernatur ut consequatur velit quo et. Magni doloribus esse quis minima. Distinctio dolores assumenda qui voluptatibus molestiae in voluptatem.'
                        less_content_html: 'Hic ratione ut nam neque. Vel nemo vel dolorem eum. Nostrum pariatur aspernatur ut consequatur velit quo et. Magni doloribus esse quis minima. Distinctio dolores assumenda qui voluptatibus molestiae in voluptatem.... <a href="https://demo.idir.intelekt.net.pl/dirs/aliquid">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6Im1VRzl3U3FMenUvQWh6M0Evd1M3MFE9PSIsInZhbHVlIjoicHpYV083Vkt2V2FkZ0dObXVYMXltYXBCRUtZQWlJSVpiVzFReURmN29QR1BKbTJvSFZBTlFDcE9UUERJZTNSMCIsIm1hYyI6ImJhN2E2M2M5NTM5YWNkZmM4NjlkMjkwMDk0NDcwMWM4NTBiYmE2MDE5YzI5ZWUzYTJlMzFjYTAzZGM5OTBlOWMiLCJ0YWciOiIifQ=='
                        sum_rating: '0.00'
                        created_at: '2022-10-06T12:12:57.000000Z'
                        updated_at: '2022-10-06T12:12:57.000000Z'
                        categories:
                          -
                            id: 1449
                            name: Aperiam
                            slug: aperiam
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-10-06T12:12:57.000000Z'
                            updated_at: '2022-10-06T12:12:57.000000Z'
                        links: []
                    items:
                      type: object
      tags:
        - 'Authenticated user'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be between 0 and 5.'
                      example: ''
                    group:
                      type: integer
                      description: 'ID of Group relationship.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>title|asc</code>, <code>title|desc</code>, <code>sum_rating|desc</code>, <code>sum_rating|asc</code>, <code>click|asc</code>, <code>click|desc</code>, <code>view|asc</code>, or <code>view|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
  /api/token:
    post:
      summary: Token
      description: "Create access token and (optional) refresh token.\n\n<aside class=\"notice\">Access token expires after 2 hours. Refresh token expires after 1 year.</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: '(only if remember param was true)'
      tags:
        - Authentication
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: kontakt@demo.idir.intelekt.net.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                remember:
                  type: boolean
                  description: ''
                  example: true
      security: []
  /api/register:
    post:
      summary: Register
      description: 'Create user and send email verification notification'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 11878
                    name: 'Maxine Ullrich'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-10-06T12:13:01.000000Z'
                    updated_at: '2022-10-06T12:13:01.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2022-09-16T00:16:56.000000Z'
                        updated_at: '2022-09-16T00:16:56.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 11878
                      name: 'Maxine Ullrich'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-10-06T12:13:01.000000Z'
                      updated_at: '2022-10-06T12:13:01.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2022-09-16T00:16:56.000000Z'
                          updated_at: '2022-09-16T00:16:56.000000Z'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: N1ebieski
                email:
                  type: string
                  description: ''
                  example: example@example.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                password_confirmation:
                  type: string
                  description: ''
                  example: demo1234
                privacy_agreement:
                  type: boolean
                  description: 'Acceptance of privacy policy'
                  example: true
                contact_agreement:
                  type: boolean
                  description: 'Acceptance of receiving e-mail system notifications'
                  example: true
                marketing_agreement:
                  type: boolean
                  description: 'Acceptance of receiving marketing information notifications'
                  example: true
              required:
                - name
                - email
                - password
                - password_confirmation
                - privacy_agreement
                - contact_agreement
      security: []
  /api/revoke:
    post:
      summary: 'Revoke token'
      description: 'Revoke access token and refresh token.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        204:
          description: success
      tags:
        - Authentication
  /api/refresh:
    post:
      summary: 'Refresh token'
      description: "Create new access token and refresh token.\n\n<aside class=\"success\">Refresh token must be in the Authorization header with the value \"Bearer {YOUR_REFRESH_TOKEN}\".</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_REFRESH_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: ''
      tags:
        - Authentication
  /api/categories/dir/index:
    post:
      summary: "Index of dir's categories"
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1456
                      name: 'Omnis molestiae'
                      slug: omnis-molestiae
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-10-06T12:12:59.000000Z'
                      updated_at: '2022-10-06T12:12:59.000000Z'
                    -
                      id: 1457
                      name: 'Perspiciatis aut'
                      slug: perspiciatis-aut
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-10-06T12:12:59.000000Z'
                      updated_at: '2022-10-06T12:12:59.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1456
                        name: 'Omnis molestiae'
                        slug: omnis-molestiae
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-06T12:12:59.000000Z'
                        updated_at: '2022-10-06T12:12:59.000000Z'
                      -
                        id: 1457
                        name: 'Perspiciatis aut'
                        slug: perspiciatis-aut
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-06T12:12:59.000000Z'
                        updated_at: '2022-10-06T12:12:59.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/categories/post/index:
    post:
      summary: "Index of post's categories"
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1458
                      name: 'Aliquid ab'
                      slug: aliquid-ab
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-10-06T12:13:00.000000Z'
                      updated_at: '2022-10-06T12:13:00.000000Z'
                    -
                      id: 1459
                      name: 'Ut quis'
                      slug: ut-quis
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-10-06T12:13:00.000000Z'
                      updated_at: '2022-10-06T12:13:00.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1458
                        name: 'Aliquid ab'
                        slug: aliquid-ab
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-06T12:13:00.000000Z'
                        updated_at: '2022-10-06T12:13:00.000000Z'
                      -
                        id: 1459
                        name: 'Ut quis'
                        slug: ut-quis
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-06T12:13:00.000000Z'
                        updated_at: '2022-10-06T12:13:00.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/categories/index:
    post:
      summary: 'Index of all categories'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1460
                      name: 'Molestias molestias'
                      slug: molestias-molestias
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-10-06T12:13:00.000000Z'
                      updated_at: '2022-10-06T12:13:00.000000Z'
                    -
                      id: 1461
                      name: 'Modi impedit'
                      slug: modi-impedit
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-10-06T12:13:01.000000Z'
                      updated_at: '2022-10-06T12:13:01.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1460
                        name: 'Molestias molestias'
                        slug: molestias-molestias
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-06T12:13:00.000000Z'
                        updated_at: '2022-10-06T12:13:00.000000Z'
                      -
                        id: 1461
                        name: 'Modi impedit'
                        slug: modi-impedit
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-06T12:13:01.000000Z'
                        updated_at: '2022-10-06T12:13:01.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/dirs/index:
    post:
      summary: 'Index of dirs'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.dirs.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 13321
                      slug: voluptatem-et
                      title: 'Voluptatem et.'
                      url: 'https://ad-similique-vel-et-sint-nam.pl'
                      short_content: 'Quidem sapiente magnam mollitia aliquam aliquid. Quo recusandae est amet eveniet. Aperiam eum adipisci ipsam voluptas doloremque ab natus laborum.'
                      content: 'Quidem sapiente magnam mollitia aliquam aliquid. Quo recusandae est amet eveniet. Aperiam eum adipisci ipsam voluptas doloremque ab natus laborum.'
                      content_html: 'Quidem sapiente magnam mollitia aliquam aliquid. Quo recusandae est amet eveniet. Aperiam eum adipisci ipsam voluptas doloremque ab natus laborum.'
                      less_content_html: 'Quidem sapiente magnam mollitia aliquam aliquid. Quo recusandae est amet eveniet. Aperiam eum adipisci ipsam voluptas doloremque ab natus laborum.... <a href="http://demo.idir.intelekt.net.pl/dirs/voluptatem-et">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6ImtIUkl3NWIvUXhjOUNpWXhaMHdyVWc9PSIsInZhbHVlIjoiSDBjczFHSEZ3YnFQSEdXWm4xODU1UW9OZlN5TnQ2Z0VlcDVMUEFnRFY4YUZLQ0hPS3ZheXpxMjkwMGIxMEtHLyIsIm1hYyI6IjJhYmMzNmFkZTgxZjY5MTExMjFjMTZlM2ZlZWQ0MGJkYTZkYWVmZDYyMzY5NGU3NGNkYWUyMWFiMmIxOWU5OGUiLCJ0YWciOiIifQ=='
                      sum_rating: '0.00'
                      created_at: '2022-10-06T12:12:59.000000Z'
                      updated_at: '2022-10-06T12:12:59.000000Z'
                      categories:
                        -
                          id: 1453
                          name: Similique
                          slug: similique
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-10-06T12:12:59.000000Z'
                          updated_at: '2022-10-06T12:12:59.000000Z'
                      links: []
                    -
                      id: 13322
                      slug: modi-assumenda-quia-similique
                      title: 'Modi assumenda quia similique.'
                      url: 'https://voluptatem-quia-ad-excepturi-dolor-illum-ab-non.pl'
                      short_content: 'Cupiditate in omnis aut totam accusantium voluptatum. Quae architecto qui in numquam tempore porro illo. Rerum id cum quibusdam inventore ducimus cumque. Non enim repudiandae sed accusantium praesentium nobis.'
                      content: 'Cupiditate in omnis aut totam accusantium voluptatum. Quae architecto qui in numquam tempore porro illo. Rerum id cum quibusdam inventore ducimus cumque. Non enim repudiandae sed accusantium praesentium nobis.'
                      content_html: 'Cupiditate in omnis aut totam accusantium voluptatum. Quae architecto qui in numquam tempore porro illo. Rerum id cum quibusdam inventore ducimus cumque. Non enim repudiandae sed accusantium praesentium nobis.'
                      less_content_html: 'Cupiditate in omnis aut totam accusantium voluptatum. Quae architecto qui in numquam tempore porro illo. Rerum id cum quibusdam inventore ducimus cumque. Non enim repudiandae sed accusantium praesentium nobis.... <a href="http://demo.idir.intelekt.net.pl/dirs/modi-assumenda-quia-similique">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6InVtMW84UGtITFBmYWltcXh4SUFLN2c9PSIsInZhbHVlIjoieUs2MjJueHdYZ0pyN3lzdlJqM0hSN3lBWGVNU2tnWWMrd2R3NW0wUndVREZaT3pKUVc5TzErTC9EZzdIVzhPd0hXQURUOTBENW9xektsakxNa0VwV0E9PSIsIm1hYyI6IjIyODY4YTI3M2ZjZDhlODQyYjQ5MDlkODM2YTM4Njk1M2VlNGNjMzNhNTI3NDUwMTYwZmM4ODM5YjFlMmY0ZDciLCJ0YWciOiIifQ=='
                      sum_rating: '0.00'
                      created_at: '2022-10-06T12:12:59.000000Z'
                      updated_at: '2022-10-06T12:12:59.000000Z'
                      categories:
                        -
                          id: 1454
                          name: Consequatur
                          slug: consequatur
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-10-06T12:12:59.000000Z'
                          updated_at: '2022-10-06T12:12:59.000000Z'
                      links: []
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 13321
                        slug: voluptatem-et
                        title: 'Voluptatem et.'
                        url: 'https://ad-similique-vel-et-sint-nam.pl'
                        short_content: 'Quidem sapiente magnam mollitia aliquam aliquid. Quo recusandae est amet eveniet. Aperiam eum adipisci ipsam voluptas doloremque ab natus laborum.'
                        content: 'Quidem sapiente magnam mollitia aliquam aliquid. Quo recusandae est amet eveniet. Aperiam eum adipisci ipsam voluptas doloremque ab natus laborum.'
                        content_html: 'Quidem sapiente magnam mollitia aliquam aliquid. Quo recusandae est amet eveniet. Aperiam eum adipisci ipsam voluptas doloremque ab natus laborum.'
                        less_content_html: 'Quidem sapiente magnam mollitia aliquam aliquid. Quo recusandae est amet eveniet. Aperiam eum adipisci ipsam voluptas doloremque ab natus laborum.... <a href="http://demo.idir.intelekt.net.pl/dirs/voluptatem-et">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6ImtIUkl3NWIvUXhjOUNpWXhaMHdyVWc9PSIsInZhbHVlIjoiSDBjczFHSEZ3YnFQSEdXWm4xODU1UW9OZlN5TnQ2Z0VlcDVMUEFnRFY4YUZLQ0hPS3ZheXpxMjkwMGIxMEtHLyIsIm1hYyI6IjJhYmMzNmFkZTgxZjY5MTExMjFjMTZlM2ZlZWQ0MGJkYTZkYWVmZDYyMzY5NGU3NGNkYWUyMWFiMmIxOWU5OGUiLCJ0YWciOiIifQ=='
                        sum_rating: '0.00'
                        created_at: '2022-10-06T12:12:59.000000Z'
                        updated_at: '2022-10-06T12:12:59.000000Z'
                        categories:
                          -
                            id: 1453
                            name: Similique
                            slug: similique
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-10-06T12:12:59.000000Z'
                            updated_at: '2022-10-06T12:12:59.000000Z'
                        links: []
                      -
                        id: 13322
                        slug: modi-assumenda-quia-similique
                        title: 'Modi assumenda quia similique.'
                        url: 'https://voluptatem-quia-ad-excepturi-dolor-illum-ab-non.pl'
                        short_content: 'Cupiditate in omnis aut totam accusantium voluptatum. Quae architecto qui in numquam tempore porro illo. Rerum id cum quibusdam inventore ducimus cumque. Non enim repudiandae sed accusantium praesentium nobis.'
                        content: 'Cupiditate in omnis aut totam accusantium voluptatum. Quae architecto qui in numquam tempore porro illo. Rerum id cum quibusdam inventore ducimus cumque. Non enim repudiandae sed accusantium praesentium nobis.'
                        content_html: 'Cupiditate in omnis aut totam accusantium voluptatum. Quae architecto qui in numquam tempore porro illo. Rerum id cum quibusdam inventore ducimus cumque. Non enim repudiandae sed accusantium praesentium nobis.'
                        less_content_html: 'Cupiditate in omnis aut totam accusantium voluptatum. Quae architecto qui in numquam tempore porro illo. Rerum id cum quibusdam inventore ducimus cumque. Non enim repudiandae sed accusantium praesentium nobis.... <a href="http://demo.idir.intelekt.net.pl/dirs/modi-assumenda-quia-similique">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6InVtMW84UGtITFBmYWltcXh4SUFLN2c9PSIsInZhbHVlIjoieUs2MjJueHdYZ0pyN3lzdlJqM0hSN3lBWGVNU2tnWWMrd2R3NW0wUndVREZaT3pKUVc5TzErTC9EZzdIVzhPd0hXQURUOTBENW9xektsakxNa0VwV0E9PSIsIm1hYyI6IjIyODY4YTI3M2ZjZDhlODQyYjQ5MDlkODM2YTM4Njk1M2VlNGNjMzNhNTI3NDUwMTYwZmM4ODM5YjFlMmY0ZDciLCJ0YWciOiIifQ=='
                        sum_rating: '0.00'
                        created_at: '2022-10-06T12:12:59.000000Z'
                        updated_at: '2022-10-06T12:12:59.000000Z'
                        categories:
                          -
                            id: 1454
                            name: Consequatur
                            slug: consequatur
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-10-06T12:12:59.000000Z'
                            updated_at: '2022-10-06T12:12:59.000000Z'
                        links: []
                    items:
                      type: object
      tags:
        - Dirs
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or (available only for admin.dirs.view): 0, 2, 3, 4, 5.'
                      example: 1
                    group:
                      type: integer
                      description: 'ID of Group relationship.'
                      example: ''
                    category:
                      type: integer
                      description: 'ID of Category relationship.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>title|asc</code>, <code>title|desc</code>, <code>sum_rating|desc</code>, <code>sum_rating|asc</code>, <code>click|desc</code>, <code>click|asc</code>, <code>view|desc</code>, or <code>view|asc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
                    author:
                      type: integer
                      description: '(available only for admin.dirs.view) ID of User relationship.'
                      example: null
                    report:
                      type: integer
                      description: '(available only for admin.dirs.view) Must be one of 1 or 0.'
                      example: null
  '/api/dirs/{dir_id}':
    delete:
      summary: 'Delete dir'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.dirs.delete.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        204:
          description: ''
      tags:
        - Dirs
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: '(available only for admin.dirs.delete).'
                  example: null
    parameters:
      -
        in: path
        name: dir_id
        description: 'The ID of the dir.'
        example: null
        required: true
        schema:
          type: integer
  '/api/dirs/{dir_id}/status':
    patch:
      summary: 'Edit status dir'
      description: '<aside class="notice">Available only to users with permissions: api.access, api.dirs.status and admin.dirs.status.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 13319
                    slug: doloribus-fuga-earum
                    title: 'Doloribus fuga earum.'
                    url: 'https://fuga-id-laborum-pariatur-fugiat-accusamus-quibusdam-voluptatum.pl'
                    short_content: 'Delectus beatae magnam ut facilis vero laudantium ut. Aut nesciunt modi est aut quis quas minus consequuntur. Facilis nam reprehenderit dolores ut nobis. Ipsum non quaerat est magni facere.'
                    content: 'Delectus beatae magnam ut facilis vero laudantium ut. Aut nesciunt modi est aut quis quas minus consequuntur. Facilis nam reprehenderit dolores ut nobis. Ipsum non quaerat est magni facere.'
                    content_html: 'Delectus beatae magnam ut facilis vero laudantium ut. Aut nesciunt modi est aut quis quas minus consequuntur. Facilis nam reprehenderit dolores ut nobis. Ipsum non quaerat est magni facere.'
                    less_content_html: 'Delectus beatae magnam ut facilis vero laudantium ut. Aut nesciunt modi est aut quis quas minus consequuntur. Facilis nam reprehenderit dolores ut nobis. Ipsum non quaerat est magni facere.... <a href="http://demo.idir.intelekt.net.pl/dirs/doloribus-fuga-earum">show more &raquo</a>'
                    thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IlJtc284QWFPaWowbElEZGlPYnZkeGc9PSIsInZhbHVlIjoiQ0Q3RUM3ditWSUZSa2RyRkhzdkdxZkNNVFp4TmxqUHl1N0tjbExsMUd1TnllQnFUN1dOMFdOSG94TWFXL1BHRHg2Y0ZabkZ0RGxvYU03YWQ0V1pDOHF3STJvY3hwdlh1bnF6MVVWMUVqVjg9IiwibWFjIjoiMTk2OTQzNjM2N2Y3NDllNWM3NjU0MmM0NWUyMWU0ZDJiMjNlNjNiMWQ2MGVlZTQzMmI0MzA1NTlmNGU2YmMzMiIsInRhZyI6IiJ9'
                    sum_rating: '0.00'
                    created_at: '2022-10-06T12:12:58.000000Z'
                    updated_at: '2022-10-06T12:12:58.000000Z'
                    categories:
                      -
                        id: 1451
                        name: Amet
                        slug: amet
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-06T12:12:58.000000Z'
                        updated_at: '2022-10-06T12:12:58.000000Z'
                    links: []
                properties:
                  data:
                    type: object
                    example:
                      id: 13319
                      slug: doloribus-fuga-earum
                      title: 'Doloribus fuga earum.'
                      url: 'https://fuga-id-laborum-pariatur-fugiat-accusamus-quibusdam-voluptatum.pl'
                      short_content: 'Delectus beatae magnam ut facilis vero laudantium ut. Aut nesciunt modi est aut quis quas minus consequuntur. Facilis nam reprehenderit dolores ut nobis. Ipsum non quaerat est magni facere.'
                      content: 'Delectus beatae magnam ut facilis vero laudantium ut. Aut nesciunt modi est aut quis quas minus consequuntur. Facilis nam reprehenderit dolores ut nobis. Ipsum non quaerat est magni facere.'
                      content_html: 'Delectus beatae magnam ut facilis vero laudantium ut. Aut nesciunt modi est aut quis quas minus consequuntur. Facilis nam reprehenderit dolores ut nobis. Ipsum non quaerat est magni facere.'
                      less_content_html: 'Delectus beatae magnam ut facilis vero laudantium ut. Aut nesciunt modi est aut quis quas minus consequuntur. Facilis nam reprehenderit dolores ut nobis. Ipsum non quaerat est magni facere.... <a href="http://demo.idir.intelekt.net.pl/dirs/doloribus-fuga-earum">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IlJtc284QWFPaWowbElEZGlPYnZkeGc9PSIsInZhbHVlIjoiQ0Q3RUM3ditWSUZSa2RyRkhzdkdxZkNNVFp4TmxqUHl1N0tjbExsMUd1TnllQnFUN1dOMFdOSG94TWFXL1BHRHg2Y0ZabkZ0RGxvYU03YWQ0V1pDOHF3STJvY3hwdlh1bnF6MVVWMUVqVjg9IiwibWFjIjoiMTk2OTQzNjM2N2Y3NDllNWM3NjU0MmM0NWUyMWU0ZDJiMjNlNjNiMWQ2MGVlZTQzMmI0MzA1NTlmNGU2YmMzMiIsInRhZyI6IiJ9'
                      sum_rating: '0.00'
                      created_at: '2022-10-06T12:12:58.000000Z'
                      updated_at: '2022-10-06T12:12:58.000000Z'
                      categories:
                        -
                          id: 1451
                          name: Amet
                          slug: amet
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-10-06T12:12:58.000000Z'
                          updated_at: '2022-10-06T12:12:58.000000Z'
                      links: []
      tags:
        - Dirs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: 'Must be one of <code>1</code>, <code>0</code>, or <code>5</code>.'
                  example: 1
                reason:
                  type: string
                  description: ''
                  example: consequuntur
              required:
                - status
    parameters:
      -
        in: path
        name: dir_id
        description: 'The ID of the dir.'
        example: null
        required: true
        schema:
          type: integer
  '/api/dirs/{dir_id}/group/{group_id}':
    put:
      summary: 'Edit dir'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.dirs.edit.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 13320
                    slug: repellat-aut
                    title: 'Repellat aut.'
                    url: 'http://illum-exercitationem-nostrum-dolores-corrupti-excepturi-consequatur-dolor.pl'
                    short_content: 'Excepturi quia consequatur vero. Voluptatibus maiores vitae possimus ea. Quo accusamus consequuntur iste eos. Est adipisci modi fugiat consequatur molestias animi repudiandae.'
                    content: 'Excepturi quia consequatur vero. Voluptatibus maiores vitae possimus ea. Quo accusamus consequuntur iste eos. Est adipisci modi fugiat consequatur molestias animi repudiandae.'
                    content_html: 'Excepturi quia consequatur vero. Voluptatibus maiores vitae possimus ea. Quo accusamus consequuntur iste eos. Est adipisci modi fugiat consequatur molestias animi repudiandae.'
                    less_content_html: 'Excepturi quia consequatur vero. Voluptatibus maiores vitae possimus ea. Quo accusamus consequuntur iste eos. Est adipisci modi fugiat consequatur molestias animi repudiandae.... <a href="http://demo.idir.intelekt.net.pl/dirs/repellat-aut">show more &raquo</a>'
                    thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6ImlLaURWcEtWb1BtbkFMdUtsa1BzUlE9PSIsInZhbHVlIjoiRDRRNHJQNnl2aVVwcUxhRzh2MUduaXFLMVpxVUljbTNQNmRZQ2dCaXc4cUxGN2ltbDBhSnhKT1NaVXhtZk53OVNkSHRhdlNtNUJXMFdPdXVOVU05MHdLTFJ1aXQ5czBGRGFTbnc1aHlYR2xsdjA4T0RPS0hWcll5YkVsTXdZNmgiLCJtYWMiOiI4YTQwNGE4ZDQ0ZGE4MGU5ODMyZTFmMDc3MjYzYzk5ZjQ4OWZjMTA2MTkyODAyNWIwOTBmYjhmNjhhYmUwMmRhIiwidGFnIjoiIn0='
                    sum_rating: '0.00'
                    created_at: '2022-10-06T12:12:58.000000Z'
                    updated_at: '2022-10-06T12:12:58.000000Z'
                    categories:
                      -
                        id: 1452
                        name: Atque
                        slug: atque
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-06T12:12:58.000000Z'
                        updated_at: '2022-10-06T12:12:58.000000Z'
                    links: []
                properties:
                  data:
                    type: object
                    example:
                      id: 13320
                      slug: repellat-aut
                      title: 'Repellat aut.'
                      url: 'http://illum-exercitationem-nostrum-dolores-corrupti-excepturi-consequatur-dolor.pl'
                      short_content: 'Excepturi quia consequatur vero. Voluptatibus maiores vitae possimus ea. Quo accusamus consequuntur iste eos. Est adipisci modi fugiat consequatur molestias animi repudiandae.'
                      content: 'Excepturi quia consequatur vero. Voluptatibus maiores vitae possimus ea. Quo accusamus consequuntur iste eos. Est adipisci modi fugiat consequatur molestias animi repudiandae.'
                      content_html: 'Excepturi quia consequatur vero. Voluptatibus maiores vitae possimus ea. Quo accusamus consequuntur iste eos. Est adipisci modi fugiat consequatur molestias animi repudiandae.'
                      less_content_html: 'Excepturi quia consequatur vero. Voluptatibus maiores vitae possimus ea. Quo accusamus consequuntur iste eos. Est adipisci modi fugiat consequatur molestias animi repudiandae.... <a href="http://demo.idir.intelekt.net.pl/dirs/repellat-aut">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6ImlLaURWcEtWb1BtbkFMdUtsa1BzUlE9PSIsInZhbHVlIjoiRDRRNHJQNnl2aVVwcUxhRzh2MUduaXFLMVpxVUljbTNQNmRZQ2dCaXc4cUxGN2ltbDBhSnhKT1NaVXhtZk53OVNkSHRhdlNtNUJXMFdPdXVOVU05MHdLTFJ1aXQ5czBGRGFTbnc1aHlYR2xsdjA4T0RPS0hWcll5YkVsTXdZNmgiLCJtYWMiOiI4YTQwNGE4ZDQ0ZGE4MGU5ODMyZTFmMDc3MjYzYzk5ZjQ4OWZjMTA2MTkyODAyNWIwOTBmYjhmNjhhYmUwMmRhIiwidGFnIjoiIn0='
                      sum_rating: '0.00'
                      created_at: '2022-10-06T12:12:58.000000Z'
                      updated_at: '2022-10-06T12:12:58.000000Z'
                      categories:
                        -
                          id: 1452
                          name: Atque
                          slug: atque
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-10-06T12:12:58.000000Z'
                          updated_at: '2022-10-06T12:12:58.000000Z'
                      links: []
      tags:
        - Dirs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must be between 3 and 100 characters.'
                  example: 'Lorem ipsum dolor sit amet'
                tags:
                  type: array
                  description: 'Must be at least 3 characters. Must not be greater than 30 characters.'
                  example:
                    - kufzwosuxfq
                  items:
                    type: string
                categories:
                  type: array
                  description: 'Array containing category IDs.'
                  example:
                    - 13
                  items:
                    type: integer
                content_html:
                  type: string
                  description: 'Description. Must be between 255 and 1000 characters.'
                  example: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                notes:
                  type: string
                  description: 'Additional information for the moderator. Must be between 3 and 255 characters.'
                  example: ''
                url:
                  type: string
                  description: 'Unique website url with http/https protocol.'
                  example: 'https://demo.idir.intelekt.net.pl'
                backlink:
                  type: integer
                  description: 'ID of the selected backlink.'
                  example: null
                backlink_url:
                  type: string
                  description: 'Url with http/https protocol to backlink.'
                  example: null
                captcha:
                  type: string
                  description: 'Logic captcha response. Only required for free groups.'
                  example: sapiente
                field:
                  type: array
                  description: 'Array containing additional form fields if the group allows it.'
                  example: null
                  items:
                    type: object
                user:
                  type: integer
                  description: '(available only for admin.dirs.edit) ID of User author. If null is no author.'
                  example: null
                payment_type:
                  type: string
                  description: 'If the group requires a payment, the selected type must be defined. Must be one of <code>transfer</code>, <code>code_transfer</code>, <code>code_sms</code>, or <code>paypal_express</code>.'
                  example: null
                payment_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>transfer</code>.'
                  example: null
                payment_code_sms:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_sms</code>.'
                  example: null
                code_sms:
                  type: string
                  description: 'Received code if payment_type is <code>code_sms</code>.'
                  example: null
                payment_code_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_transfer</code>.'
                  example: null
                code_transfer:
                  type: string
                  description: 'Received code if payment_type is <code>code_transfer</code>.'
                  example: null
                payment_paypal_express:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>paypal_express</code>.'
                  example: null
              required:
                - captcha
    parameters:
      -
        in: path
        name: dir_id
        description: 'The ID of the dir.'
        example: null
        required: true
        schema:
          type: integer
      -
        in: path
        name: group_id
        description: 'The ID of the group. If same as current and has active premium time then no new payment is required.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/dirs/group/{group_id}':
    post:
      summary: 'Create dir'
      description: '<aside class="notice">If the user is authenticated the entry is added to his/her account, if not, an account is created for the email address provided.</aside>'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 13323
                    slug: dolorem-similique-dolor-consequatur-quia
                    title: 'Dolorem similique dolor consequatur quia.'
                    url: 'https://non-vero-illum-aut-sunt.pl'
                    short_content: 'Earum qui deleniti non ab ut porro alias. Voluptas eum sint autem et est voluptatibus asperiores. Et quasi ratione aut quaerat aut incidunt. Voluptatem velit maxime molestias sit perspiciatis. Perspiciatis magni incidunt est quo placeat occaecati adi'
                    content: 'Earum qui deleniti non ab ut porro alias. Voluptas eum sint autem et est voluptatibus asperiores. Et quasi ratione aut quaerat aut incidunt. Voluptatem velit maxime molestias sit perspiciatis. Perspiciatis magni incidunt est quo placeat occaecati adipisci. Laudantium dolores ratione quo facere et ad.'
                    content_html: 'Earum qui deleniti non ab ut porro alias. Voluptas eum sint autem et est voluptatibus asperiores. Et quasi ratione aut quaerat aut incidunt. Voluptatem velit maxime molestias sit perspiciatis. Perspiciatis magni incidunt est quo placeat occaecati adipisci. Laudantium dolores ratione quo facere et ad.'
                    less_content_html: 'Earum qui deleniti non ab ut porro alias. Voluptas eum sint autem et est voluptatibus asperiores. Et quasi ratione aut quaerat aut incidunt. Voluptatem velit maxime molestias sit perspiciatis. Perspiciatis magni incidunt est quo placeat occaecati adi... <a href="http://demo.idir.intelekt.net.pl/dirs/dolorem-similique-dolor-consequatur-quia">show more &raquo</a>'
                    thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IkFxVFVyaXdJRDhhaDNYL0NVQkRjcGc9PSIsInZhbHVlIjoicHY2WWdrM0U0UXQvNDloNzZUN3NMRUxFdjBwd01rYTgyYUhBZC80cVpET29Ua1E2MVFWRW01Z1drMVdJWTZDRSIsIm1hYyI6IjA1NmRiZmQyOTJiNjJhMThiNjFlMDFjNzQxMWI2NTVlM2FmZGM1OTE5NTM0Nzk3MGM3YThiZGUzODBkODM1MDIiLCJ0YWciOiIifQ=='
                    sum_rating: '0.00'
                    created_at: '2022-10-06T12:12:59.000000Z'
                    updated_at: '2022-10-06T12:12:59.000000Z'
                    categories:
                      -
                        id: 1455
                        name: Officiis
                        slug: officiis
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-06T12:12:59.000000Z'
                        updated_at: '2022-10-06T12:12:59.000000Z'
                    links: []
                properties:
                  data:
                    type: object
                    example:
                      id: 13323
                      slug: dolorem-similique-dolor-consequatur-quia
                      title: 'Dolorem similique dolor consequatur quia.'
                      url: 'https://non-vero-illum-aut-sunt.pl'
                      short_content: 'Earum qui deleniti non ab ut porro alias. Voluptas eum sint autem et est voluptatibus asperiores. Et quasi ratione aut quaerat aut incidunt. Voluptatem velit maxime molestias sit perspiciatis. Perspiciatis magni incidunt est quo placeat occaecati adi'
                      content: 'Earum qui deleniti non ab ut porro alias. Voluptas eum sint autem et est voluptatibus asperiores. Et quasi ratione aut quaerat aut incidunt. Voluptatem velit maxime molestias sit perspiciatis. Perspiciatis magni incidunt est quo placeat occaecati adipisci. Laudantium dolores ratione quo facere et ad.'
                      content_html: 'Earum qui deleniti non ab ut porro alias. Voluptas eum sint autem et est voluptatibus asperiores. Et quasi ratione aut quaerat aut incidunt. Voluptatem velit maxime molestias sit perspiciatis. Perspiciatis magni incidunt est quo placeat occaecati adipisci. Laudantium dolores ratione quo facere et ad.'
                      less_content_html: 'Earum qui deleniti non ab ut porro alias. Voluptas eum sint autem et est voluptatibus asperiores. Et quasi ratione aut quaerat aut incidunt. Voluptatem velit maxime molestias sit perspiciatis. Perspiciatis magni incidunt est quo placeat occaecati adi... <a href="http://demo.idir.intelekt.net.pl/dirs/dolorem-similique-dolor-consequatur-quia">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IkFxVFVyaXdJRDhhaDNYL0NVQkRjcGc9PSIsInZhbHVlIjoicHY2WWdrM0U0UXQvNDloNzZUN3NMRUxFdjBwd01rYTgyYUhBZC80cVpET29Ua1E2MVFWRW01Z1drMVdJWTZDRSIsIm1hYyI6IjA1NmRiZmQyOTJiNjJhMThiNjFlMDFjNzQxMWI2NTVlM2FmZGM1OTE5NTM0Nzk3MGM3YThiZGUzODBkODM1MDIiLCJ0YWciOiIifQ=='
                      sum_rating: '0.00'
                      created_at: '2022-10-06T12:12:59.000000Z'
                      updated_at: '2022-10-06T12:12:59.000000Z'
                      categories:
                        -
                          id: 1455
                          name: Officiis
                          slug: officiis
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-10-06T12:12:59.000000Z'
                          updated_at: '2022-10-06T12:12:59.000000Z'
                      links: []
      tags:
        - Dirs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must be between 3 and 100 characters.'
                  example: 'Lorem ipsum dolor sit amet'
                tags:
                  type: array
                  description: 'Must be at least 3 characters. Must not be greater than 30 characters.'
                  example:
                    - j
                  items:
                    type: string
                categories:
                  type: array
                  description: 'Array containing category IDs.'
                  example:
                    - 9
                  items:
                    type: integer
                content_html:
                  type: string
                  description: 'Description. Must be between 255 and 1000 characters.'
                  example: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                notes:
                  type: string
                  description: 'Additional information for the moderator. Must be between 3 and 255 characters.'
                  example: ''
                url:
                  type: string
                  description: 'Unique website url with http/https protocol.'
                  example: 'https://demo.idir.intelekt.net.pl'
                backlink:
                  type: integer
                  description: 'ID of the selected backlink.'
                  example: null
                backlink_url:
                  type: string
                  description: 'Url with http/https protocol to backlink.'
                  example: null
                email:
                  type: string
                  description: 'Email address, required if the user adds the entry as unauthenticated.'
                  example: kontakt@intelekt.net.pl
                captcha:
                  type: string
                  description: 'Logic captcha response. Only required for free groups.'
                  example: dignissimos
                field:
                  type: array
                  description: 'Array containing additional form fields if the group allows it.'
                  example: null
                  items:
                    type: object
                payment_type:
                  type: string
                  description: 'If the group requires a payment, the selected type must be defined. Must be one of <code>transfer</code>, <code>code_transfer</code>, <code>code_sms</code>, or <code>paypal_express</code>.'
                  example: null
                payment_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>transfer</code>.'
                  example: null
                payment_code_sms:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_sms</code>.'
                  example: null
                code_sms:
                  type: string
                  description: 'Received code if payment_type is <code>code_sms</code>.'
                  example: null
                payment_code_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_transfer</code>.'
                  example: null
                code_transfer:
                  type: string
                  description: 'Received code if payment_type is <code>code_transfer</code>.'
                  example: null
                payment_paypal_express:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>paypal_express</code>.'
                  example: null
              required:
                - title
                - categories
                - content_html
                - captcha
      security: []
    parameters:
      -
        in: path
        name: group_id
        description: 'The ID of the group.'
        example: 1
        required: true
        schema:
          type: integer
  /api/groups/index:
    post:
      summary: 'Index of groups'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 16
                      slug: ut
                      position: 10
                      name: Ut
                      desc: 'Itaque dolores velit non ipsum quo. At cum dolorem sunt aut consequuntur inventore vitae modi. Ut ab aliquam quaerat. Enim esse sit enim id ab temporibus quae. Inventore ut modi et. Quas fugit molestiae ipsum molestiae aut. Eos cumque laborum cum animi.'
                      border: null
                      max_cats: 5
                      max_models: null
                      max_models_daily: 8
                      visible:
                        value: 1
                        label: public
                      apply_status:
                        value: 0
                        label: 'pending acceptance'
                      url:
                        value: 1
                        label: optional
                      backlink:
                        value: 1
                        label: optional
                      created_at: '2022-10-06T12:12:57.000000Z'
                      updated_at: '2022-10-06T12:12:57.000000Z'
                      alt: null
                      privileges:
                        -
                          id: 9
                          name: 'additional options for editing content'
                          created_at: '2022-09-16T00:16:56.000000Z'
                          updated_at: '2022-09-16T00:16:56.000000Z'
                    -
                      id: 17
                      slug: id
                      position: 11
                      name: Id
                      desc: 'Maiores cumque id est molestiae repudiandae ut harum. Consequatur sit et nihil eos omnis qui. Ea dicta nemo doloribus delectus. Dignissimos dignissimos distinctio voluptas et. Recusandae id fuga et quaerat molestiae iusto recusandae. Dolores ut omnis ut dolorum aut sed aliquam.'
                      border: null
                      max_cats: 5
                      max_models: null
                      max_models_daily: null
                      visible:
                        value: 1
                        label: public
                      apply_status:
                        value: 1
                        label: 'active immediately'
                      url:
                        value: 0
                        label: none
                      backlink:
                        value: 0
                        label: none
                      created_at: '2022-10-06T12:12:57.000000Z'
                      updated_at: '2022-10-06T12:12:57.000000Z'
                      alt: null
                      privileges:
                        -
                          id: 9
                          name: 'additional options for editing content'
                          created_at: '2022-09-16T00:16:56.000000Z'
                          updated_at: '2022-09-16T00:16:56.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 16
                        slug: ut
                        position: 10
                        name: Ut
                        desc: 'Itaque dolores velit non ipsum quo. At cum dolorem sunt aut consequuntur inventore vitae modi. Ut ab aliquam quaerat. Enim esse sit enim id ab temporibus quae. Inventore ut modi et. Quas fugit molestiae ipsum molestiae aut. Eos cumque laborum cum animi.'
                        border: null
                        max_cats: 5
                        max_models: null
                        max_models_daily: 8
                        visible:
                          value: 1
                          label: public
                        apply_status:
                          value: 0
                          label: 'pending acceptance'
                        url:
                          value: 1
                          label: optional
                        backlink:
                          value: 1
                          label: optional
                        created_at: '2022-10-06T12:12:57.000000Z'
                        updated_at: '2022-10-06T12:12:57.000000Z'
                        alt: null
                        privileges:
                          -
                            id: 9
                            name: 'additional options for editing content'
                            created_at: '2022-09-16T00:16:56.000000Z'
                            updated_at: '2022-09-16T00:16:56.000000Z'
                      -
                        id: 17
                        slug: id
                        position: 11
                        name: Id
                        desc: 'Maiores cumque id est molestiae repudiandae ut harum. Consequatur sit et nihil eos omnis qui. Ea dicta nemo doloribus delectus. Dignissimos dignissimos distinctio voluptas et. Recusandae id fuga et quaerat molestiae iusto recusandae. Dolores ut omnis ut dolorum aut sed aliquam.'
                        border: null
                        max_cats: 5
                        max_models: null
                        max_models_daily: null
                        visible:
                          value: 1
                          label: public
                        apply_status:
                          value: 1
                          label: 'active immediately'
                        url:
                          value: 0
                          label: none
                        backlink:
                          value: 0
                          label: none
                        created_at: '2022-10-06T12:12:57.000000Z'
                        updated_at: '2022-10-06T12:12:57.000000Z'
                        alt: null
                        privileges:
                          -
                            id: 9
                            name: 'additional options for editing content'
                            created_at: '2022-09-16T00:16:56.000000Z'
                            updated_at: '2022-09-16T00:16:56.000000Z'
                    items:
                      type: object
      tags:
        - Groups
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    visible:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.groups.view).'
                      example: 1
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, or <code>position|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  '/api/payments/{payment_dir_pending}/dir/{driver}':
    get:
      summary: "Show dir's payment"
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    uuid: 449fa6d2-7139-41c1-a7c1-2c8859c86a53
                    driver: null
                    status:
                      value: 2
                      label: pending
                    created_at: '2022-10-06T12:12:57.000000Z'
                    updated_at: '2022-10-06T12:12:57.000000Z'
                    morph:
                      id: 13318
                      slug: aut
                      title: Aut.
                      url: 'http://impedit-nostrum-soluta-ducimus-omnis.pl'
                      short_content: 'Autem voluptas dolorem vero dolorem harum repellat. Id quia vero eum quo. Nisi sunt voluptate cumque. Qui laboriosam est quam deleniti. Ratione harum eos dolores tempora dolorum ut. Delectus mollitia amet molestiae voluptatibus ut temporibus. Modi ei'
                      content: 'Autem voluptas dolorem vero dolorem harum repellat. Id quia vero eum quo. Nisi sunt voluptate cumque. Qui laboriosam est quam deleniti. Ratione harum eos dolores tempora dolorum ut. Delectus mollitia amet molestiae voluptatibus ut temporibus. Modi eius vero voluptatem qui voluptatibus.'
                      content_html: 'Autem voluptas dolorem vero dolorem harum repellat. Id quia vero eum quo. Nisi sunt voluptate cumque. Qui laboriosam est quam deleniti. Ratione harum eos dolores tempora dolorum ut. Delectus mollitia amet molestiae voluptatibus ut temporibus. Modi eius vero voluptatem qui voluptatibus.'
                      less_content_html: 'Autem voluptas dolorem vero dolorem harum repellat. Id quia vero eum quo. Nisi sunt voluptate cumque. Qui laboriosam est quam deleniti. Ratione harum eos dolores tempora dolorum ut. Delectus mollitia amet molestiae voluptatibus ut temporibus. Modi ei... <a href="http://demo.idir.intelekt.net.pl/dirs/aut">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IlpOWHhTR2NKWEV1WE9XeVdkamhxaWc9PSIsInZhbHVlIjoiU2g1dmwrVSs0Z01IanNTS1RzVlZZUDBsVi9NTEJJNGxwUGUrOUZIbmdtRWllc2pJeC9PT3B4dEVFVm1YTGtxNSIsIm1hYyI6ImM5NzVlYWU1Y2M1NDM2ZTc0YzFlZGU1Mjc3NjVjOGU1Nzc0YTQ3MDEzNTI1ZTQ0MjUyZTE5ZjI2ZDMzZmFjMjkiLCJ0YWciOiIifQ=='
                      sum_rating: '0.00'
                      created_at: '2022-10-06T12:12:57.000000Z'
                      updated_at: '2022-10-06T12:12:57.000000Z'
                      links: []
                    order:
                      id: 4
                      type: transfer
                      price: '4.80'
                      regular_price: '4.80'
                      discount_price: null
                      discount: null
                      qr_as_image: null
                      days: 307
                      created_at: '2022-10-06T12:12:57.000000Z'
                      updated_at: '2022-10-06T12:12:57.000000Z'
                  url: 'https://paytest.cashbill.pl/pl/payment/eydJpZCI6IlRFU1RfNmV6OWZ6dXpvIiwicGMiOiIiLCJ0b2tlbiI6ImJiNjQ3ZGFhOTQ3NDU1NzM0OGRhMzhkYjEyMTE0YTI5MTA0NDhkMGUifQ--'
                properties:
                  data:
                    type: object
                    example:
                      uuid: 449fa6d2-7139-41c1-a7c1-2c8859c86a53
                      driver: null
                      status:
                        value: 2
                        label: pending
                      created_at: '2022-10-06T12:12:57.000000Z'
                      updated_at: '2022-10-06T12:12:57.000000Z'
                      morph:
                        id: 13318
                        slug: aut
                        title: Aut.
                        url: 'http://impedit-nostrum-soluta-ducimus-omnis.pl'
                        short_content: 'Autem voluptas dolorem vero dolorem harum repellat. Id quia vero eum quo. Nisi sunt voluptate cumque. Qui laboriosam est quam deleniti. Ratione harum eos dolores tempora dolorum ut. Delectus mollitia amet molestiae voluptatibus ut temporibus. Modi ei'
                        content: 'Autem voluptas dolorem vero dolorem harum repellat. Id quia vero eum quo. Nisi sunt voluptate cumque. Qui laboriosam est quam deleniti. Ratione harum eos dolores tempora dolorum ut. Delectus mollitia amet molestiae voluptatibus ut temporibus. Modi eius vero voluptatem qui voluptatibus.'
                        content_html: 'Autem voluptas dolorem vero dolorem harum repellat. Id quia vero eum quo. Nisi sunt voluptate cumque. Qui laboriosam est quam deleniti. Ratione harum eos dolores tempora dolorum ut. Delectus mollitia amet molestiae voluptatibus ut temporibus. Modi eius vero voluptatem qui voluptatibus.'
                        less_content_html: 'Autem voluptas dolorem vero dolorem harum repellat. Id quia vero eum quo. Nisi sunt voluptate cumque. Qui laboriosam est quam deleniti. Ratione harum eos dolores tempora dolorum ut. Delectus mollitia amet molestiae voluptatibus ut temporibus. Modi ei... <a href="http://demo.idir.intelekt.net.pl/dirs/aut">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IlpOWHhTR2NKWEV1WE9XeVdkamhxaWc9PSIsInZhbHVlIjoiU2g1dmwrVSs0Z01IanNTS1RzVlZZUDBsVi9NTEJJNGxwUGUrOUZIbmdtRWllc2pJeC9PT3B4dEVFVm1YTGtxNSIsIm1hYyI6ImM5NzVlYWU1Y2M1NDM2ZTc0YzFlZGU1Mjc3NjVjOGU1Nzc0YTQ3MDEzNTI1ZTQ0MjUyZTE5ZjI2ZDMzZmFjMjkiLCJ0YWciOiIifQ=='
                        sum_rating: '0.00'
                        created_at: '2022-10-06T12:12:57.000000Z'
                        updated_at: '2022-10-06T12:12:57.000000Z'
                        links: []
                      order:
                        id: 4
                        type: transfer
                        price: '4.80'
                        regular_price: '4.80'
                        discount_price: null
                        discount: null
                        qr_as_image: null
                        days: 307
                        created_at: '2022-10-06T12:12:57.000000Z'
                        updated_at: '2022-10-06T12:12:57.000000Z'
                  url:
                    type: string
                    example: 'https://paytest.cashbill.pl/pl/payment/eydJpZCI6IlRFU1RfNmV6OWZ6dXpvIiwicGMiOiIiLCJ0b2tlbiI6ImJiNjQ3ZGFhOTQ3NDU1NzM0OGRhMzhkYjEyMTE0YTI5MTA0NDhkMGUifQ--'
                    description: "Link to the driver's payment page (for transfer type payment)."
      tags:
        - Payments
      security: []
    parameters:
      -
        in: path
        name: payment_dir_pending
        description: 'The payment UUID.'
        example: null
        required: true
        schema:
          type: string
      -
        in: path
        name: driver
        description: 'Optional parameter. The payment driver.'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
  /api/posts/index:
    post:
      summary: 'Index of posts'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.posts.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2
                      slug: non-sequi-quia-eos-est-molestias-consequatur
                      title: 'Non sequi quia eos est molestias consequatur.'
                      short_content: 'Ab aspernatur doloribus rerum explicabo sed consequatur velit. Sit reprehenderit hic ullam maiores voluptas et placeat. Recusandae ut vitae perspiciatis ea. Nihil beatae hic unde laboriosam cumque inventore vel. Culpa fugit quibusdam consequatur. Ut ut quod delectus. Deserunt numquam sunt ut ut minus quo. Sunt consequatur ipsam officia est eum amet. Quia perferendis quam labore optio enim quam ipsa modi. Commodi possimus explicabo omnis distinctio. Distinctio dolorum molestiae et qui. Vitae adip'
                      content: 'Ab aspernatur doloribus rerum explicabo sed consequatur velit. Sit reprehenderit hic ullam maiores voluptas et placeat. Recusandae ut vitae perspiciatis ea. Nihil beatae hic unde laboriosam cumque inventore vel. Culpa fugit quibusdam consequatur. Ut ut quod delectus. Deserunt numquam sunt ut ut minus quo. Sunt consequatur ipsam officia est eum amet. Quia perferendis quam labore optio enim quam ipsa modi. Commodi possimus explicabo omnis distinctio. Distinctio dolorum molestiae et qui. Vitae adipisci eum perferendis accusantium porro fugiat. Porro amet quia animi aliquam eaque. Illum accusantium quis odit dolorem quia consequatur. Non possimus odio voluptatum rerum aut. Quibusdam fuga laborum mollitia dolore ut debitis. Eaque voluptatem quaerat et quaerat quia. Cumque dolor alias veritatis necessitatibus eos minima rerum. Ut numquam qui aut maxime molestias. Dolores nesciunt modi perferendis consequatur sit quod. Aut quia corporis quis. Deserunt vel quis rerum voluptatem ea voluptas quis. Laboriosam perspiciatis aut non similique voluptatem non. Totam voluptatum voluptatem esse esse quaerat et et qui. Aperiam aut et qui fugiat blanditiis. Harum eum et nihil expedita. Sed asperiores quia est facilis sunt. Et dolorem quia voluptates vero ut similique voluptate. Ex qui nihil cum quos maxime impedit voluptates quia. Aliquid aut debitis rerum eligendi. Tenetur totam nihil est magnam voluptatem provident. Alias magnam et dolorem est a mollitia quod. Sequi et magnam voluptatem. Et consequatur consequatur voluptates. Non dolor adipisci ut accusamus quia. Aliquam fugit ut voluptas. Rem voluptatem et eos aperiam soluta eos deleniti. Eaque cupiditate repudiandae autem qui. Quia et et quis quae et et. Facilis quia asperiores quo quidem quibusdam at. Vero doloribus dolorem velit aperiam voluptas ipsa error. Tenetur et optio fugiat sit aut assumenda enim. Voluptas esse et quod repudiandae repudiandae maxime voluptates. Omnis quaerat ut quia quia sunt rerum.'
[...]
