openapi: 3.0.3
info:
  title: 'API Documentation - iDir - nowoczesny katalog stron'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://demo.idir.intelekt.net.pl'
paths:
  /api/user:
    get:
      summary: 'Show user'
      description: "Show authenticated User resource\n\n<aside class=\"notice\">Available only to users with permission: api.access.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 12272
                    name: 'Evangeline Effertz'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-05-24T09:11:20.000000Z'
                    updated_at: '2022-05-24T09:11:20.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2021-01-06T16:58:51.000000Z'
                        updated_at: '2021-01-06T16:58:51.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 12272
                      name: 'Evangeline Effertz'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-05-24T09:11:20.000000Z'
                      updated_at: '2022-05-24T09:11:20.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T16:58:51.000000Z'
                          updated_at: '2021-01-06T16:58:51.000000Z'
      tags:
        - 'Authenticated user'
  /api/user/dirs:
    post:
      summary: 'Index of user''s dirs'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 13436
                      slug: et-saepe-qui
                      title: 'Et saepe qui.'
                      url: 'http://jerde.info'
                      short_content: 'Soluta earum numquam sequi praesentium. Occaecati eligendi quaerat illo magni voluptatibus ratione quod suscipit. Reiciendis quasi voluptatem odio repellendus reiciendis. Qui tenetur et qui hic eos voluptatem non. Excepturi cum optio atque quasi even'
                      content: 'Soluta earum numquam sequi praesentium. Occaecati eligendi quaerat illo magni voluptatibus ratione quod suscipit. Reiciendis quasi voluptatem odio repellendus reiciendis. Qui tenetur et qui hic eos voluptatem non. Excepturi cum optio atque quasi eveniet rerum sit. Nihil pariatur et eveniet ducimus commodi.'
                      content_html: 'Soluta earum numquam sequi praesentium. Occaecati eligendi quaerat illo magni voluptatibus ratione quod suscipit. Reiciendis quasi voluptatem odio repellendus reiciendis. Qui tenetur et qui hic eos voluptatem non. Excepturi cum optio atque quasi eveniet rerum sit. Nihil pariatur et eveniet ducimus commodi.'
                      less_content_html: 'Soluta earum numquam sequi praesentium. Occaecati eligendi quaerat illo magni voluptatibus ratione quod suscipit. Reiciendis quasi voluptatem odio repellendus reiciendis. Qui tenetur et qui hic eos voluptatem non. Excepturi cum optio atque quasi even... <a href="https://demo.idir.intelekt.net.pl/dirs/et-saepe-qui">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6IkpHMjk3ZFNDNzFJeHNMakdOU3YvZ0E9PSIsInZhbHVlIjoiU0JNdXVleC9oZDhDNjlrRmlkV0ZQZmtwOW5rVDhpK3UvaVFHWVlzR0czZz0iLCJtYWMiOiI5OTkxZGI0NDBlNWNhOTRlYTViYjdjNjM1MDU3NmJhMGE2OWE4ZGI1N2MxYzMwOGU1ODEzNThiZGJjYjNlMjg4IiwidGFnIjoiIn0='
                      sum_rating: '0.00'
                      created_at: '2022-05-24T09:11:19.000000Z'
                      updated_at: '2022-05-24T09:11:19.000000Z'
                      categories:
                        -
                          id: 2537
                          name: Ut
                          slug: ut-27
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-05-24T09:11:19.000000Z'
                          updated_at: '2022-05-24T09:11:19.000000Z'
                      links: []
                    -
                      id: 13437
                      slug: ratione-cumque-quibusdam
                      title: 'Ratione cumque quibusdam.'
                      url: 'http://shanahan.net'
                      short_content: 'Fugit quia totam ratione est aut dolorum aut. Facilis aspernatur accusantium hic. Amet tenetur distinctio accusantium. Sapiente qui omnis soluta laborum necessitatibus harum deserunt. At non voluptatem ut labore. Nemo dignissimos sed corporis tempori'
                      content: 'Fugit quia totam ratione est aut dolorum aut. Facilis aspernatur accusantium hic. Amet tenetur distinctio accusantium. Sapiente qui omnis soluta laborum necessitatibus harum deserunt. At non voluptatem ut labore. Nemo dignissimos sed corporis temporibus cum eos error. Voluptatem qui ipsum alias repellendus dicta magnam.'
                      content_html: 'Fugit quia totam ratione est aut dolorum aut. Facilis aspernatur accusantium hic. Amet tenetur distinctio accusantium. Sapiente qui omnis soluta laborum necessitatibus harum deserunt. At non voluptatem ut labore. Nemo dignissimos sed corporis temporibus cum eos error. Voluptatem qui ipsum alias repellendus dicta magnam.'
                      less_content_html: 'Fugit quia totam ratione est aut dolorum aut. Facilis aspernatur accusantium hic. Amet tenetur distinctio accusantium. Sapiente qui omnis soluta laborum necessitatibus harum deserunt. At non voluptatem ut labore. Nemo dignissimos sed corporis tempori... <a href="https://demo.idir.intelekt.net.pl/dirs/ratione-cumque-quibusdam">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6IlJUTFhMUk8xQW4yZkxtSytIYU1NV3c9PSIsInZhbHVlIjoiK2hkbDJmcThwc1dtTjdySVh2a2ZNU25rZVk2NitoaFdCQmxiN0RFMXpybz0iLCJtYWMiOiI4N2UxYjYzYzhjMDlhNzFmZTdhNDI2MmE5NjBlZmVmNWY1OWQ2MDgyNjgyNjY1MDlmMWNiZmJhZTJjMzE0OWRlIiwidGFnIjoiIn0='
                      sum_rating: '0.00'
                      created_at: '2022-05-24T09:11:19.000000Z'
                      updated_at: '2022-05-24T09:11:19.000000Z'
                      categories:
                        -
                          id: 2538
                          name: Dicta
                          slug: dicta-3
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-05-24T09:11:19.000000Z'
                          updated_at: '2022-05-24T09:11:19.000000Z'
                      links: []
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 13436
                        slug: et-saepe-qui
                        title: 'Et saepe qui.'
                        url: 'http://jerde.info'
                        short_content: 'Soluta earum numquam sequi praesentium. Occaecati eligendi quaerat illo magni voluptatibus ratione quod suscipit. Reiciendis quasi voluptatem odio repellendus reiciendis. Qui tenetur et qui hic eos voluptatem non. Excepturi cum optio atque quasi even'
                        content: 'Soluta earum numquam sequi praesentium. Occaecati eligendi quaerat illo magni voluptatibus ratione quod suscipit. Reiciendis quasi voluptatem odio repellendus reiciendis. Qui tenetur et qui hic eos voluptatem non. Excepturi cum optio atque quasi eveniet rerum sit. Nihil pariatur et eveniet ducimus commodi.'
                        content_html: 'Soluta earum numquam sequi praesentium. Occaecati eligendi quaerat illo magni voluptatibus ratione quod suscipit. Reiciendis quasi voluptatem odio repellendus reiciendis. Qui tenetur et qui hic eos voluptatem non. Excepturi cum optio atque quasi eveniet rerum sit. Nihil pariatur et eveniet ducimus commodi.'
                        less_content_html: 'Soluta earum numquam sequi praesentium. Occaecati eligendi quaerat illo magni voluptatibus ratione quod suscipit. Reiciendis quasi voluptatem odio repellendus reiciendis. Qui tenetur et qui hic eos voluptatem non. Excepturi cum optio atque quasi even... <a href="https://demo.idir.intelekt.net.pl/dirs/et-saepe-qui">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6IkpHMjk3ZFNDNzFJeHNMakdOU3YvZ0E9PSIsInZhbHVlIjoiU0JNdXVleC9oZDhDNjlrRmlkV0ZQZmtwOW5rVDhpK3UvaVFHWVlzR0czZz0iLCJtYWMiOiI5OTkxZGI0NDBlNWNhOTRlYTViYjdjNjM1MDU3NmJhMGE2OWE4ZGI1N2MxYzMwOGU1ODEzNThiZGJjYjNlMjg4IiwidGFnIjoiIn0='
                        sum_rating: '0.00'
                        created_at: '2022-05-24T09:11:19.000000Z'
                        updated_at: '2022-05-24T09:11:19.000000Z'
                        categories:
                          -
                            id: 2537
                            name: Ut
                            slug: ut-27
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-05-24T09:11:19.000000Z'
                            updated_at: '2022-05-24T09:11:19.000000Z'
                        links: []
                      -
                        id: 13437
                        slug: ratione-cumque-quibusdam
                        title: 'Ratione cumque quibusdam.'
                        url: 'http://shanahan.net'
                        short_content: 'Fugit quia totam ratione est aut dolorum aut. Facilis aspernatur accusantium hic. Amet tenetur distinctio accusantium. Sapiente qui omnis soluta laborum necessitatibus harum deserunt. At non voluptatem ut labore. Nemo dignissimos sed corporis tempori'
                        content: 'Fugit quia totam ratione est aut dolorum aut. Facilis aspernatur accusantium hic. Amet tenetur distinctio accusantium. Sapiente qui omnis soluta laborum necessitatibus harum deserunt. At non voluptatem ut labore. Nemo dignissimos sed corporis temporibus cum eos error. Voluptatem qui ipsum alias repellendus dicta magnam.'
                        content_html: 'Fugit quia totam ratione est aut dolorum aut. Facilis aspernatur accusantium hic. Amet tenetur distinctio accusantium. Sapiente qui omnis soluta laborum necessitatibus harum deserunt. At non voluptatem ut labore. Nemo dignissimos sed corporis temporibus cum eos error. Voluptatem qui ipsum alias repellendus dicta magnam.'
                        less_content_html: 'Fugit quia totam ratione est aut dolorum aut. Facilis aspernatur accusantium hic. Amet tenetur distinctio accusantium. Sapiente qui omnis soluta laborum necessitatibus harum deserunt. At non voluptatem ut labore. Nemo dignissimos sed corporis tempori... <a href="https://demo.idir.intelekt.net.pl/dirs/ratione-cumque-quibusdam">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6IlJUTFhMUk8xQW4yZkxtSytIYU1NV3c9PSIsInZhbHVlIjoiK2hkbDJmcThwc1dtTjdySVh2a2ZNU25rZVk2NitoaFdCQmxiN0RFMXpybz0iLCJtYWMiOiI4N2UxYjYzYzhjMDlhNzFmZTdhNDI2MmE5NjBlZmVmNWY1OWQ2MDgyNjgyNjY1MDlmMWNiZmJhZTJjMzE0OWRlIiwidGFnIjoiIn0='
                        sum_rating: '0.00'
                        created_at: '2022-05-24T09:11:19.000000Z'
                        updated_at: '2022-05-24T09:11:19.000000Z'
                        categories:
                          -
                            id: 2538
                            name: Dicta
                            slug: dicta-3
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-05-24T09:11:19.000000Z'
                            updated_at: '2022-05-24T09:11:19.000000Z'
                        links: []
                    items:
                      type: object
      tags:
        - 'Authenticated user'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be between 0 and 5.'
                      example: ''
                    group:
                      type: integer
                      description: 'ID of Group relationship.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>title|asc</code>, <code>title|desc</code>, <code>sum_rating|desc</code>, <code>sum_rating|asc</code>, <code>click|asc</code>, <code>click|desc</code>, <code>view|asc</code>, or <code>view|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
  /api/token:
    post:
      summary: Token
      description: "Create access token and (optional) refresh token.\n\n<aside class=\"notice\">Access token expires after 2 hours. Refresh token expires after 1 year.</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: '(only if remember param was true)'
      tags:
        - Authentication
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: kontakt@demo.idir.intelekt.net.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                remember:
                  type: boolean
                  description: ''
                  example: true
      security: []
  /api/register:
    post:
      summary: Register
      description: 'Create user and send email verification notification'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 12275
                    name: 'Raina Schmidt'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-05-24T09:11:21.000000Z'
                    updated_at: '2022-05-24T09:11:21.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2021-01-06T16:58:51.000000Z'
                        updated_at: '2021-01-06T16:58:51.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 12275
                      name: 'Raina Schmidt'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-05-24T09:11:21.000000Z'
                      updated_at: '2022-05-24T09:11:21.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2021-01-06T16:58:51.000000Z'
                          updated_at: '2021-01-06T16:58:51.000000Z'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: N1ebieski
                email:
                  type: string
                  description: ''
                  example: example@example.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                password_confirmation:
                  type: string
                  description: ''
                  example: demo1234
                privacy_agreement:
                  type: boolean
                  description: 'Acceptance of privacy policy'
                  example: true
                contact_agreement:
                  type: boolean
                  description: 'Acceptance of receiving e-mail system notifications'
                  example: true
                marketing_agreement:
                  type: boolean
                  description: 'Acceptance of receiving marketing information notifications'
                  example: true
              required:
                - name
                - email
                - password
                - password_confirmation
                - privacy_agreement
                - contact_agreement
      security: []
  /api/revoke:
    post:
      summary: 'Revoke token'
      description: 'Revoke access token and refresh token.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        204:
          description: success
      tags:
        - Authentication
  /api/refresh:
    post:
      summary: 'Refresh token'
      description: "Create new access token and refresh token.\n\n<aside class=\"success\">Refresh token must be in the Authorization header with the value \"Bearer {YOUR_REFRESH_TOKEN}\".</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_REFRESH_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: ''
      tags:
        - Authentication
  /api/categories/dir/index:
    post:
      summary: 'Index of dir''s categories'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2545
                      name: 'Hic ut'
                      slug: hic-ut
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-05-24T09:11:20.000000Z'
                      updated_at: '2022-05-24T09:11:20.000000Z'
                    -
                      id: 2546
                      name: 'Velit veritatis'
                      slug: velit-veritatis
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-05-24T09:11:20.000000Z'
                      updated_at: '2022-05-24T09:11:20.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2545
                        name: 'Hic ut'
                        slug: hic-ut
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-24T09:11:20.000000Z'
                        updated_at: '2022-05-24T09:11:20.000000Z'
                      -
                        id: 2546
                        name: 'Velit veritatis'
                        slug: velit-veritatis
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-24T09:11:20.000000Z'
                        updated_at: '2022-05-24T09:11:20.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/categories/post/index:
    post:
      summary: 'Index of post''s categories'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2547
                      name: 'Sit hic'
                      slug: sit-hic
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-05-24T09:11:21.000000Z'
                      updated_at: '2022-05-24T09:11:21.000000Z'
                    -
                      id: 2548
                      name: 'Nisi voluptatem'
                      slug: nisi-voluptatem
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-05-24T09:11:21.000000Z'
                      updated_at: '2022-05-24T09:11:21.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2547
                        name: 'Sit hic'
                        slug: sit-hic
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-24T09:11:21.000000Z'
                        updated_at: '2022-05-24T09:11:21.000000Z'
                      -
                        id: 2548
                        name: 'Nisi voluptatem'
                        slug: nisi-voluptatem
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-24T09:11:21.000000Z'
                        updated_at: '2022-05-24T09:11:21.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/categories/index:
    post:
      summary: 'Index of all categories'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2549
                      name: 'Debitis non'
                      slug: debitis-non
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-05-24T09:11:21.000000Z'
                      updated_at: '2022-05-24T09:11:21.000000Z'
                    -
                      id: 2550
                      name: 'Omnis maiores'
                      slug: omnis-maiores
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-05-24T09:11:21.000000Z'
                      updated_at: '2022-05-24T09:11:21.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2549
                        name: 'Debitis non'
                        slug: debitis-non
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-24T09:11:21.000000Z'
                        updated_at: '2022-05-24T09:11:21.000000Z'
                      -
                        id: 2550
                        name: 'Omnis maiores'
                        slug: omnis-maiores
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-24T09:11:21.000000Z'
                        updated_at: '2022-05-24T09:11:21.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  '/api/dirs/group/{group}':
    post:
      summary: 'Create dir'
      description: '<aside class="notice">If the user is authenticated the entry is added to his/her account, if not, an account is created for the email address provided.</aside>'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: multipart/form-data
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 13443
                    slug: autem-quia-quod
                    title: 'Autem quia quod.'
                    url: 'https://wisozk.com'
                    short_content: 'Incidunt et quam doloremque ut. Delectus tempore facere rem et. Et odit ipsa neque ducimus et. Nemo iure et nesciunt tempore. Quo ut ab ipsum neque doloremque hic possimus. Consectetur iusto aliquid voluptate.'
                    content: 'Incidunt et quam doloremque ut. Delectus tempore facere rem et. Et odit ipsa neque ducimus et. Nemo iure et nesciunt tempore. Quo ut ab ipsum neque doloremque hic possimus. Consectetur iusto aliquid voluptate.'
                    content_html: 'Incidunt et quam doloremque ut. Delectus tempore facere rem et. Et odit ipsa neque ducimus et. Nemo iure et nesciunt tempore. Quo ut ab ipsum neque doloremque hic possimus. Consectetur iusto aliquid voluptate.'
                    less_content_html: 'Incidunt et quam doloremque ut. Delectus tempore facere rem et. Et odit ipsa neque ducimus et. Nemo iure et nesciunt tempore. Quo ut ab ipsum neque doloremque hic possimus. Consectetur iusto aliquid voluptate.... <a href="http://demo.idir.intelekt.net.pl/dirs/autem-quia-quod">show more &raquo</a>'
                    thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6Im14UTJ4SU03alZNR1Vzd0FRM09yaUE9PSIsInZhbHVlIjoiZXVlS3J6dFE0OTNNMjRnOVB2UzVkaVpkUjdYUmp6RUcrVkhzSENDWlhBUT0iLCJtYWMiOiI4ZmJjMzA4YTJmODg2OGYzYWZlMTVjZjg3NDdiNmFlMjFlNWNkNTA2YmQyMjE3NzEzMTM4NjgzZDJiMWZlNjRlIiwidGFnIjoiIn0='
                    sum_rating: '0.00'
                    created_at: '2022-05-24T09:11:20.000000Z'
                    updated_at: '2022-05-24T09:11:20.000000Z'
                    categories:
                      -
                        id: 2544
                        name: Ex
                        slug: ex-5
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-24T09:11:20.000000Z'
                        updated_at: '2022-05-24T09:11:20.000000Z'
                    links: []
                properties:
                  data:
                    type: object
                    example:
                      id: 13443
                      slug: autem-quia-quod
                      title: 'Autem quia quod.'
                      url: 'https://wisozk.com'
                      short_content: 'Incidunt et quam doloremque ut. Delectus tempore facere rem et. Et odit ipsa neque ducimus et. Nemo iure et nesciunt tempore. Quo ut ab ipsum neque doloremque hic possimus. Consectetur iusto aliquid voluptate.'
                      content: 'Incidunt et quam doloremque ut. Delectus tempore facere rem et. Et odit ipsa neque ducimus et. Nemo iure et nesciunt tempore. Quo ut ab ipsum neque doloremque hic possimus. Consectetur iusto aliquid voluptate.'
                      content_html: 'Incidunt et quam doloremque ut. Delectus tempore facere rem et. Et odit ipsa neque ducimus et. Nemo iure et nesciunt tempore. Quo ut ab ipsum neque doloremque hic possimus. Consectetur iusto aliquid voluptate.'
                      less_content_html: 'Incidunt et quam doloremque ut. Delectus tempore facere rem et. Et odit ipsa neque ducimus et. Nemo iure et nesciunt tempore. Quo ut ab ipsum neque doloremque hic possimus. Consectetur iusto aliquid voluptate.... <a href="http://demo.idir.intelekt.net.pl/dirs/autem-quia-quod">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6Im14UTJ4SU03alZNR1Vzd0FRM09yaUE9PSIsInZhbHVlIjoiZXVlS3J6dFE0OTNNMjRnOVB2UzVkaVpkUjdYUmp6RUcrVkhzSENDWlhBUT0iLCJtYWMiOiI4ZmJjMzA4YTJmODg2OGYzYWZlMTVjZjg3NDdiNmFlMjFlNWNkNTA2YmQyMjE3NzEzMTM4NjgzZDJiMWZlNjRlIiwidGFnIjoiIn0='
                      sum_rating: '0.00'
                      created_at: '2022-05-24T09:11:20.000000Z'
                      updated_at: '2022-05-24T09:11:20.000000Z'
                      categories:
                        -
                          id: 2544
                          name: Ex
                          slug: ex-5
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-05-24T09:11:20.000000Z'
                          updated_at: '2022-05-24T09:11:20.000000Z'
                      links: []
      tags:
        - Dirs
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must be between 3 and 100 characters.'
                  example: 'Lorem ipsum dolor sit amet'
                tags:
                  type: array
                  description: 'Must be at least 3 characters. Must not be greater than 30 characters.'
                  example:
                    - vsa
                  items:
                    type: string
                categories:
                  type: array
                  description: 'Array containing category IDs.'
                  example:
                    - 13
                  items:
                    type: integer
                content_html:
                  type: string
                  description: 'Description. Must be between 255 and 1000 characters.'
                  example: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                notes:
                  type: string
                  description: 'Additional information for the moderator. Must be between 3 and 255 characters.'
                  example: ''
                url:
                  type: string
                  description: 'Unique website url with http/https protocol.'
                  example: 'https://demo.idir.intelekt.net.pl'
                backlink:
                  type: integer
                  description: 'ID of the selected backlink.'
                  example: null
                backlink_url:
                  type: string
                  description: 'Url with http/https protocol to backlink.'
                  example: null
                email:
                  type: string
                  description: 'Email address, required if the user adds the entry as unauthenticated.'
                  example: kontakt@intelekt.net.pl
                g-recaptcha-response:
                  type: string
                  description: 'Recaptcha response. Only required for free groups.'
                  example: molestias
                field:
                  type: array
                  description: 'Array containing additional form fields if the group allows it.'
                  example: null
                  items:
                    type: object
                    properties:
                      9:
                        type: string
                        format: binary
                        description: 'Must be an image. Must not be greater than 2048 kilobytes.'
                      10:
                        type: array
                        description: 'Must be one of <code>dsadas</code>, <code>sdas</code>, or <code>asdasd</code>.'
                        example: dsadas
                        items:
                          type: string
                      13:
                        type: string
                        description: 'Must be at least 3 characters. Must not be greater than 255 characters.'
                        example: wxusbifbcuvwpthqqpiabkbrzqosvnkhazapbgnooqlikheywgovz
                    required:
                      - 13
                payment_type:
                  type: string
                  description: 'If the group requires a payment, the selected type must be defined. Must be one of <code>transfer</code>, <code>code_transfer</code>, <code>code_sms</code>, or <code>paypal_express</code>.'
                  example: null
                payment_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>transfer</code>.'
                  example: null
                payment_code_sms:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_sms</code>.'
                  example: null
                code_sms:
                  type: string
                  description: 'Received code if payment_type is <code>code_sms</code>.'
                  example: null
                payment_code_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_transfer</code>.'
                  example: null
                code_transfer:
                  type: string
                  description: 'Received code if payment_type is <code>code_transfer</code>.'
                  example: null
                payment_paypal_express:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>paypal_express</code>.'
                  example: null
              required:
                - title
                - categories
                - content_html
                - g-recaptcha-response
      security: []
    parameters:
      -
        in: path
        name: group
        description: 'The group ID.'
        example: 1
        required: true
        schema:
          type: integer
  /api/dirs/index:
    post:
      summary: 'Index of dirs'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.dirs.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 13441
                      slug: est-quia-sapiente-quia
                      title: 'Est quia sapiente quia.'
                      url: 'http://www.kassulke.biz'
                      short_content: 'Itaque consectetur rem quia sint quas. Placeat odit doloribus aut sapiente voluptas. Earum nostrum excepturi qui porro voluptas. Et non eum voluptatibus nulla perferendis et. Dolorem libero ut aut quidem sed ut. Neque nesciunt culpa delectus et place'
                      content: 'Itaque consectetur rem quia sint quas. Placeat odit doloribus aut sapiente voluptas. Earum nostrum excepturi qui porro voluptas. Et non eum voluptatibus nulla perferendis et. Dolorem libero ut aut quidem sed ut. Neque nesciunt culpa delectus et placeat quia. Eius sunt similique aut ratione saepe dolor.'
                      content_html: 'Itaque consectetur rem quia sint quas. Placeat odit doloribus aut sapiente voluptas. Earum nostrum excepturi qui porro voluptas. Et non eum voluptatibus nulla perferendis et. Dolorem libero ut aut quidem sed ut. Neque nesciunt culpa delectus et placeat quia. Eius sunt similique aut ratione saepe dolor.'
                      less_content_html: 'Itaque consectetur rem quia sint quas. Placeat odit doloribus aut sapiente voluptas. Earum nostrum excepturi qui porro voluptas. Et non eum voluptatibus nulla perferendis et. Dolorem libero ut aut quidem sed ut. Neque nesciunt culpa delectus et place... <a href="http://demo.idir.intelekt.net.pl/dirs/est-quia-sapiente-quia">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6IjRJelV0QlJIdGREakZwMjM4bEUzcXc9PSIsInZhbHVlIjoiZ29JS3RYZFplM05kZzNWSkFBMFp2a0t5b1duTlN2T1ptOUc4dEVTNWhWYz0iLCJtYWMiOiJhMjJjZTczNWE0NTZiNGY4NmY1OTE0MmQzN2U4M2JlMzNlMGYwOGQ0ZjQ4ZGZhYjQwMDIzYjk3NWRiNDMzMGZhIiwidGFnIjoiIn0='
                      sum_rating: '0.00'
                      created_at: '2022-05-24T09:11:20.000000Z'
                      updated_at: '2022-05-24T09:11:20.000000Z'
                      categories:
                        -
                          id: 2542
                          name: Voluptatem
                          slug: voluptatem-20
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-05-24T09:11:20.000000Z'
                          updated_at: '2022-05-24T09:11:20.000000Z'
                      links: []
                    -
                      id: 13442
                      slug: error-odio-aperiam
                      title: 'Error odio aperiam.'
                      url: 'http://davis.org'
                      short_content: 'Voluptatem occaecati similique aut dolorum accusamus vitae. Et minus aut sed aut. Consequuntur dolor quis fugit sit esse consequatur repudiandae. Fuga eum tempora aliquam nihil corporis omnis ut repellendus.'
                      content: 'Voluptatem occaecati similique aut dolorum accusamus vitae. Et minus aut sed aut. Consequuntur dolor quis fugit sit esse consequatur repudiandae. Fuga eum tempora aliquam nihil corporis omnis ut repellendus.'
                      content_html: 'Voluptatem occaecati similique aut dolorum accusamus vitae. Et minus aut sed aut. Consequuntur dolor quis fugit sit esse consequatur repudiandae. Fuga eum tempora aliquam nihil corporis omnis ut repellendus.'
                      less_content_html: 'Voluptatem occaecati similique aut dolorum accusamus vitae. Et minus aut sed aut. Consequuntur dolor quis fugit sit esse consequatur repudiandae. Fuga eum tempora aliquam nihil corporis omnis ut repellendus.... <a href="http://demo.idir.intelekt.net.pl/dirs/error-odio-aperiam">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6InBpeEh1dy80cFcwY2NoTkZXREhVNEE9PSIsInZhbHVlIjoiK3B4Si9naXJLMk1MV2NnZy9FbkVNVjFRTFJrMEsxbGRQUE51UGptQkhLMD0iLCJtYWMiOiJjN2MxYTBmMzcyYmNiZGFhMTEyNjJlODgxZTA3Mzk5NjAzNTZjNmI0ZWU5MWM4MDQ0OTA0YWQ0NGYzOTUxOTQ3IiwidGFnIjoiIn0='
                      sum_rating: '0.00'
                      created_at: '2022-05-24T09:11:20.000000Z'
                      updated_at: '2022-05-24T09:11:20.000000Z'
                      categories:
                        -
                          id: 2543
                          name: Consequatur
                          slug: consequatur-11
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-05-24T09:11:20.000000Z'
                          updated_at: '2022-05-24T09:11:20.000000Z'
                      links: []
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 13441
                        slug: est-quia-sapiente-quia
                        title: 'Est quia sapiente quia.'
                        url: 'http://www.kassulke.biz'
                        short_content: 'Itaque consectetur rem quia sint quas. Placeat odit doloribus aut sapiente voluptas. Earum nostrum excepturi qui porro voluptas. Et non eum voluptatibus nulla perferendis et. Dolorem libero ut aut quidem sed ut. Neque nesciunt culpa delectus et place'
                        content: 'Itaque consectetur rem quia sint quas. Placeat odit doloribus aut sapiente voluptas. Earum nostrum excepturi qui porro voluptas. Et non eum voluptatibus nulla perferendis et. Dolorem libero ut aut quidem sed ut. Neque nesciunt culpa delectus et placeat quia. Eius sunt similique aut ratione saepe dolor.'
                        content_html: 'Itaque consectetur rem quia sint quas. Placeat odit doloribus aut sapiente voluptas. Earum nostrum excepturi qui porro voluptas. Et non eum voluptatibus nulla perferendis et. Dolorem libero ut aut quidem sed ut. Neque nesciunt culpa delectus et placeat quia. Eius sunt similique aut ratione saepe dolor.'
                        less_content_html: 'Itaque consectetur rem quia sint quas. Placeat odit doloribus aut sapiente voluptas. Earum nostrum excepturi qui porro voluptas. Et non eum voluptatibus nulla perferendis et. Dolorem libero ut aut quidem sed ut. Neque nesciunt culpa delectus et place... <a href="http://demo.idir.intelekt.net.pl/dirs/est-quia-sapiente-quia">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6IjRJelV0QlJIdGREakZwMjM4bEUzcXc9PSIsInZhbHVlIjoiZ29JS3RYZFplM05kZzNWSkFBMFp2a0t5b1duTlN2T1ptOUc4dEVTNWhWYz0iLCJtYWMiOiJhMjJjZTczNWE0NTZiNGY4NmY1OTE0MmQzN2U4M2JlMzNlMGYwOGQ0ZjQ4ZGZhYjQwMDIzYjk3NWRiNDMzMGZhIiwidGFnIjoiIn0='
                        sum_rating: '0.00'
                        created_at: '2022-05-24T09:11:20.000000Z'
                        updated_at: '2022-05-24T09:11:20.000000Z'
                        categories:
                          -
                            id: 2542
                            name: Voluptatem
                            slug: voluptatem-20
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-05-24T09:11:20.000000Z'
                            updated_at: '2022-05-24T09:11:20.000000Z'
                        links: []
                      -
                        id: 13442
                        slug: error-odio-aperiam
                        title: 'Error odio aperiam.'
                        url: 'http://davis.org'
                        short_content: 'Voluptatem occaecati similique aut dolorum accusamus vitae. Et minus aut sed aut. Consequuntur dolor quis fugit sit esse consequatur repudiandae. Fuga eum tempora aliquam nihil corporis omnis ut repellendus.'
                        content: 'Voluptatem occaecati similique aut dolorum accusamus vitae. Et minus aut sed aut. Consequuntur dolor quis fugit sit esse consequatur repudiandae. Fuga eum tempora aliquam nihil corporis omnis ut repellendus.'
                        content_html: 'Voluptatem occaecati similique aut dolorum accusamus vitae. Et minus aut sed aut. Consequuntur dolor quis fugit sit esse consequatur repudiandae. Fuga eum tempora aliquam nihil corporis omnis ut repellendus.'
                        less_content_html: 'Voluptatem occaecati similique aut dolorum accusamus vitae. Et minus aut sed aut. Consequuntur dolor quis fugit sit esse consequatur repudiandae. Fuga eum tempora aliquam nihil corporis omnis ut repellendus.... <a href="http://demo.idir.intelekt.net.pl/dirs/error-odio-aperiam">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6InBpeEh1dy80cFcwY2NoTkZXREhVNEE9PSIsInZhbHVlIjoiK3B4Si9naXJLMk1MV2NnZy9FbkVNVjFRTFJrMEsxbGRQUE51UGptQkhLMD0iLCJtYWMiOiJjN2MxYTBmMzcyYmNiZGFhMTEyNjJlODgxZTA3Mzk5NjAzNTZjNmI0ZWU5MWM4MDQ0OTA0YWQ0NGYzOTUxOTQ3IiwidGFnIjoiIn0='
                        sum_rating: '0.00'
                        created_at: '2022-05-24T09:11:20.000000Z'
                        updated_at: '2022-05-24T09:11:20.000000Z'
                        categories:
                          -
                            id: 2543
                            name: Consequatur
                            slug: consequatur-11
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-05-24T09:11:20.000000Z'
                            updated_at: '2022-05-24T09:11:20.000000Z'
                        links: []
                    items:
                      type: object
      tags:
        - Dirs
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or (available only for admin.dirs.view): 0, 2, 3, 4, 5.'
                      example: 1
                    group:
                      type: integer
                      description: 'ID of Group relationship.'
                      example: ''
                    category:
                      type: integer
                      description: 'ID of Category relationship.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>title|asc</code>, <code>title|desc</code>, <code>sum_rating|desc</code>, <code>sum_rating|asc</code>, <code>click|desc</code>, <code>click|asc</code>, <code>view|desc</code>, or <code>view|asc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
                    author:
                      type: integer
                      description: '(available only for admin.dirs.view) ID of User relationship.'
                      example: null
                    report:
                      type: integer
                      description: '(available only for admin.dirs.view) Must be one of 1 or 0.'
                      example: null
  '/api/dirs/{dir}/group/{group}':
    put:
      summary: 'Edit dir'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.dirs.edit.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: multipart/form-data
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 13440
                    slug: rerum-esse-cum
                    title: 'Rerum esse cum.'
                    url: 'https://www.altenwerth.com'
                    short_content: 'Ipsa maiores repudiandae distinctio et. Inventore et nesciunt soluta assumenda alias. Dolorum nobis praesentium dolores et ea non fuga voluptas. Sapiente atque quia voluptas aut voluptatibus quisquam. Et ut impedit et cum in quas. Dicta laboriosam so'
                    content: 'Ipsa maiores repudiandae distinctio et. Inventore et nesciunt soluta assumenda alias. Dolorum nobis praesentium dolores et ea non fuga voluptas. Sapiente atque quia voluptas aut voluptatibus quisquam. Et ut impedit et cum in quas. Dicta laboriosam soluta inventore exercitationem.'
                    content_html: 'Ipsa maiores repudiandae distinctio et. Inventore et nesciunt soluta assumenda alias. Dolorum nobis praesentium dolores et ea non fuga voluptas. Sapiente atque quia voluptas aut voluptatibus quisquam. Et ut impedit et cum in quas. Dicta laboriosam soluta inventore exercitationem.'
                    less_content_html: 'Ipsa maiores repudiandae distinctio et. Inventore et nesciunt soluta assumenda alias. Dolorum nobis praesentium dolores et ea non fuga voluptas. Sapiente atque quia voluptas aut voluptatibus quisquam. Et ut impedit et cum in quas. Dicta laboriosam so... <a href="http://demo.idir.intelekt.net.pl/dirs/rerum-esse-cum">show more &raquo</a>'
                    thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6IitYUTVrN3ovYXVwYjlvdE5ZYS9MZnc9PSIsInZhbHVlIjoiR0pCaFRvSGtZdkwxR3VoQW9BSk9hTVphQkhxd0dYR3BwSDZrSVZROWpNVT0iLCJtYWMiOiJmMWFlNDMyM2QxYTA2NjhlNTRmN2M0Y2M5MThkOTljOGE1NDU3MTNlMDY4MTU4ZjBjNTgzZGQ5NDViNjJlZTg3IiwidGFnIjoiIn0='
                    sum_rating: '0.00'
                    created_at: '2022-05-24T09:11:20.000000Z'
                    updated_at: '2022-05-24T09:11:20.000000Z'
                    categories:
                      -
                        id: 2541
                        name: Ut
                        slug: ut-27
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-24T09:11:20.000000Z'
                        updated_at: '2022-05-24T09:11:20.000000Z'
                    links: []
                properties:
                  data:
                    type: object
                    example:
                      id: 13440
                      slug: rerum-esse-cum
                      title: 'Rerum esse cum.'
                      url: 'https://www.altenwerth.com'
                      short_content: 'Ipsa maiores repudiandae distinctio et. Inventore et nesciunt soluta assumenda alias. Dolorum nobis praesentium dolores et ea non fuga voluptas. Sapiente atque quia voluptas aut voluptatibus quisquam. Et ut impedit et cum in quas. Dicta laboriosam so'
                      content: 'Ipsa maiores repudiandae distinctio et. Inventore et nesciunt soluta assumenda alias. Dolorum nobis praesentium dolores et ea non fuga voluptas. Sapiente atque quia voluptas aut voluptatibus quisquam. Et ut impedit et cum in quas. Dicta laboriosam soluta inventore exercitationem.'
                      content_html: 'Ipsa maiores repudiandae distinctio et. Inventore et nesciunt soluta assumenda alias. Dolorum nobis praesentium dolores et ea non fuga voluptas. Sapiente atque quia voluptas aut voluptatibus quisquam. Et ut impedit et cum in quas. Dicta laboriosam soluta inventore exercitationem.'
                      less_content_html: 'Ipsa maiores repudiandae distinctio et. Inventore et nesciunt soluta assumenda alias. Dolorum nobis praesentium dolores et ea non fuga voluptas. Sapiente atque quia voluptas aut voluptatibus quisquam. Et ut impedit et cum in quas. Dicta laboriosam so... <a href="http://demo.idir.intelekt.net.pl/dirs/rerum-esse-cum">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6IitYUTVrN3ovYXVwYjlvdE5ZYS9MZnc9PSIsInZhbHVlIjoiR0pCaFRvSGtZdkwxR3VoQW9BSk9hTVphQkhxd0dYR3BwSDZrSVZROWpNVT0iLCJtYWMiOiJmMWFlNDMyM2QxYTA2NjhlNTRmN2M0Y2M5MThkOTljOGE1NDU3MTNlMDY4MTU4ZjBjNTgzZGQ5NDViNjJlZTg3IiwidGFnIjoiIn0='
                      sum_rating: '0.00'
                      created_at: '2022-05-24T09:11:20.000000Z'
                      updated_at: '2022-05-24T09:11:20.000000Z'
                      categories:
                        -
                          id: 2541
                          name: Ut
                          slug: ut-27
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-05-24T09:11:20.000000Z'
                          updated_at: '2022-05-24T09:11:20.000000Z'
                      links: []
      tags:
        - Dirs
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must be between 3 and 100 characters.'
                  example: 'Lorem ipsum dolor sit amet'
                tags:
                  type: array
                  description: 'Must be at least 3 characters. Must not be greater than 30 characters.'
                  example:
                    - coeriquwnfbdythdblsoe
                  items:
                    type: string
                categories:
                  type: array
                  description: 'Array containing category IDs.'
                  example:
                    - 13
                  items:
                    type: integer
                content_html:
                  type: string
                  description: 'Description. Must be between 255 and 1000 characters.'
                  example: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                notes:
                  type: string
                  description: 'Additional information for the moderator. Must be between 3 and 255 characters.'
                  example: ''
                url:
                  type: string
                  description: 'Unique website url with http/https protocol.'
                  example: 'https://demo.idir.intelekt.net.pl'
                backlink:
                  type: integer
                  description: 'ID of the selected backlink.'
                  example: null
                backlink_url:
                  type: string
                  description: 'Url with http/https protocol to backlink.'
                  example: null
                g-recaptcha-response:
                  type: string
                  description: 'Recaptcha response. Only required for free groups.'
                  example: recusandae
                field:
                  type: array
                  description: 'Array containing additional form fields if the group allows it.'
                  example: null
                  items:
                    type: object
                    properties:
                      9:
                        type: string
                        format: binary
                        description: 'Must be an image. Must not be greater than 2048 kilobytes.'
                      10:
                        type: array
                        description: 'Must be one of <code>dsadas</code>, <code>sdas</code>, or <code>asdasd</code>.'
                        example: sdas
                        items:
                          type: string
                      13:
                        type: string
                        description: 'Must be at least 3 characters. Must not be greater than 255 characters.'
                        example: yyyjmtsfbeam
                    required:
                      - 13
                user:
                  type: integer
                  description: '(available only for admin.dirs.edit) ID of User author. If null is no author.'
                  example: null
                payment_type:
                  type: string
                  description: 'If the group requires a payment, the selected type must be defined. Must be one of <code>transfer</code>, <code>code_transfer</code>, <code>code_sms</code>, or <code>paypal_express</code>.'
                  example: null
                payment_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>transfer</code>.'
                  example: null
                payment_code_sms:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_sms</code>.'
                  example: null
                code_sms:
                  type: string
                  description: 'Received code if payment_type is <code>code_sms</code>.'
                  example: null
                payment_code_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_transfer</code>.'
                  example: null
                code_transfer:
                  type: string
                  description: 'Received code if payment_type is <code>code_transfer</code>.'
                  example: null
                payment_paypal_express:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>paypal_express</code>.'
                  example: null
              required:
                - g-recaptcha-response
    parameters:
      -
        in: path
        name: dir
        description: 'The dir ID.'
        example: null
        required: true
        schema:
          type: integer
      -
        in: path
        name: group
        description: 'The group ID. If same as current and has active premium time then no new payment is required.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/dirs/{dir}':
    delete:
      summary: 'Delete dir'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.dirs.delete.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        204:
          description: ''
      tags:
        - Dirs
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: '(available only for admin.dirs.delete).'
                  example: null
    parameters:
      -
        in: path
        name: dir
        description: 'The dir ID.'
        example: null
        required: true
        schema:
          type: integer
  '/api/dirs/{dir}/status':
    patch:
      summary: 'Edit status dir'
      description: '<aside class="notice">Available only to users with permissions: api.access, api.dirs.status and admin.dirs.status.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 13439
                    slug: quidem
                    title: Quidem.
                    url: 'http://berge.com'
                    short_content: 'Modi nobis pariatur voluptate deleniti repellendus reiciendis aut. Fugiat tempora rem harum. Sequi dolor deserunt fuga sint architecto. Ut voluptatem accusantium velit est. Ab est ipsa id officiis quos sunt atque. Quisquam consequatur nobis molestiae'
                    content: 'Modi nobis pariatur voluptate deleniti repellendus reiciendis aut. Fugiat tempora rem harum. Sequi dolor deserunt fuga sint architecto. Ut voluptatem accusantium velit est. Ab est ipsa id officiis quos sunt atque. Quisquam consequatur nobis molestiae explicabo praesentium non quia.'
                    content_html: 'Modi nobis pariatur voluptate deleniti repellendus reiciendis aut. Fugiat tempora rem harum. Sequi dolor deserunt fuga sint architecto. Ut voluptatem accusantium velit est. Ab est ipsa id officiis quos sunt atque. Quisquam consequatur nobis molestiae explicabo praesentium non quia.'
                    less_content_html: 'Modi nobis pariatur voluptate deleniti repellendus reiciendis aut. Fugiat tempora rem harum. Sequi dolor deserunt fuga sint architecto. Ut voluptatem accusantium velit est. Ab est ipsa id officiis quos sunt atque. Quisquam consequatur nobis molestiae... <a href="http://demo.idir.intelekt.net.pl/dirs/quidem">show more &raquo</a>'
                    thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6Ijc3RzZvdVFzWlZvZjlKNlRYaGNoNHc9PSIsInZhbHVlIjoiNk1WN0cwUkpXTUtLS1crVzQvZEhSWWlaVUZYOTdleS9kb21xSkVPWHdkdz0iLCJtYWMiOiJjYzU3OGUxMGQyMTVjZDk4ZTljZDExOTdiYWZmODNlYmJiYzc3ZmRjZWIxMjZjNjdhY2MwNTBkMDMwYTc1NmY1IiwidGFnIjoiIn0='
                    sum_rating: '0.00'
                    created_at: '2022-05-24T09:11:19.000000Z'
                    updated_at: '2022-05-24T09:11:19.000000Z'
                    categories:
                      -
                        id: 2540
                        name: Dolorem
                        slug: dolorem-10
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-05-24T09:11:19.000000Z'
                        updated_at: '2022-05-24T09:11:19.000000Z'
                    links: []
                properties:
                  data:
                    type: object
                    example:
                      id: 13439
                      slug: quidem
                      title: Quidem.
                      url: 'http://berge.com'
                      short_content: 'Modi nobis pariatur voluptate deleniti repellendus reiciendis aut. Fugiat tempora rem harum. Sequi dolor deserunt fuga sint architecto. Ut voluptatem accusantium velit est. Ab est ipsa id officiis quos sunt atque. Quisquam consequatur nobis molestiae'
                      content: 'Modi nobis pariatur voluptate deleniti repellendus reiciendis aut. Fugiat tempora rem harum. Sequi dolor deserunt fuga sint architecto. Ut voluptatem accusantium velit est. Ab est ipsa id officiis quos sunt atque. Quisquam consequatur nobis molestiae explicabo praesentium non quia.'
                      content_html: 'Modi nobis pariatur voluptate deleniti repellendus reiciendis aut. Fugiat tempora rem harum. Sequi dolor deserunt fuga sint architecto. Ut voluptatem accusantium velit est. Ab est ipsa id officiis quos sunt atque. Quisquam consequatur nobis molestiae explicabo praesentium non quia.'
                      less_content_html: 'Modi nobis pariatur voluptate deleniti repellendus reiciendis aut. Fugiat tempora rem harum. Sequi dolor deserunt fuga sint architecto. Ut voluptatem accusantium velit est. Ab est ipsa id officiis quos sunt atque. Quisquam consequatur nobis molestiae... <a href="http://demo.idir.intelekt.net.pl/dirs/quidem">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6Ijc3RzZvdVFzWlZvZjlKNlRYaGNoNHc9PSIsInZhbHVlIjoiNk1WN0cwUkpXTUtLS1crVzQvZEhSWWlaVUZYOTdleS9kb21xSkVPWHdkdz0iLCJtYWMiOiJjYzU3OGUxMGQyMTVjZDk4ZTljZDExOTdiYWZmODNlYmJiYzc3ZmRjZWIxMjZjNjdhY2MwNTBkMDMwYTc1NmY1IiwidGFnIjoiIn0='
                      sum_rating: '0.00'
                      created_at: '2022-05-24T09:11:19.000000Z'
                      updated_at: '2022-05-24T09:11:19.000000Z'
                      categories:
                        -
                          id: 2540
                          name: Dolorem
                          slug: dolorem-10
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-05-24T09:11:19.000000Z'
                          updated_at: '2022-05-24T09:11:19.000000Z'
                      links: []
      tags:
        - Dirs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: 'Must be one of <code>1</code>, <code>0</code>, or <code>5</code>.'
                  example: 1
                reason:
                  type: string
                  description: ''
                  example: nihil
              required:
                - status
    parameters:
      -
        in: path
        name: dir
        description: 'The dir ID.'
        example: null
        required: true
        schema:
          type: integer
  /api/groups/index:
    post:
      summary: 'Index of groups'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 19
                      slug: rerum
                      position: 10
                      name: Rerum
                      desc: 'Omnis id sit expedita sit deserunt et sed. In fugit et et ratione eos. Pariatur voluptates fugit sint nam praesentium amet minima. Ipsa ducimus illum et esse. Et consectetur accusantium corrupti aliquid doloremque. Enim similique est voluptate soluta autem laborum. Aliquid quod saepe sint maxime.'
                      border: null
                      max_cats: 3
                      max_models: 49
                      max_models_daily: 9
                      visible:
                        value: 1
                        label: public
                      apply_status:
                        value: 0
                        label: 'pending acceptance'
                      url:
                        value: 2
                        label: required
                      backlink:
                        value: 1
                        label: optional
                      created_at: '2022-05-24T09:11:19.000000Z'
                      updated_at: '2022-05-24T09:11:19.000000Z'
                      alt: null
                      privileges:
                        -
                          id: 9
                          name: 'additional options for editing content'
                          created_at: '2021-01-06T16:58:51.000000Z'
                          updated_at: '2021-01-06T16:58:51.000000Z'
                    -
                      id: 20
                      slug: facere
                      position: 11
                      name: Facere
                      desc: 'Non quasi necessitatibus quasi fuga laudantium sit nostrum. Ipsa dolores autem fugit excepturi in eum cumque tempore. Ut totam fugit provident suscipit. Iure sint facilis nesciunt ut provident alias dolor. Esse tenetur et non modi porro aut. Molestias consequatur et minima voluptatum.'
                      border: null
                      max_cats: 2
                      max_models: null
                      max_models_daily: null
                      visible:
                        value: 1
                        label: public
                      apply_status:
                        value: 1
                        label: 'active immediately'
                      url:
                        value: 2
                        label: required
                      backlink:
                        value: 1
                        label: optional
                      created_at: '2022-05-24T09:11:19.000000Z'
                      updated_at: '2022-05-24T09:11:19.000000Z'
                      alt: null
                      privileges:
                        -
                          id: 9
                          name: 'additional options for editing content'
                          created_at: '2021-01-06T16:58:51.000000Z'
                          updated_at: '2021-01-06T16:58:51.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 19
                        slug: rerum
                        position: 10
                        name: Rerum
                        desc: 'Omnis id sit expedita sit deserunt et sed. In fugit et et ratione eos. Pariatur voluptates fugit sint nam praesentium amet minima. Ipsa ducimus illum et esse. Et consectetur accusantium corrupti aliquid doloremque. Enim similique est voluptate soluta autem laborum. Aliquid quod saepe sint maxime.'
                        border: null
                        max_cats: 3
                        max_models: 49
                        max_models_daily: 9
                        visible:
                          value: 1
                          label: public
                        apply_status:
                          value: 0
                          label: 'pending acceptance'
                        url:
                          value: 2
                          label: required
                        backlink:
                          value: 1
                          label: optional
                        created_at: '2022-05-24T09:11:19.000000Z'
                        updated_at: '2022-05-24T09:11:19.000000Z'
                        alt: null
                        privileges:
                          -
                            id: 9
                            name: 'additional options for editing content'
                            created_at: '2021-01-06T16:58:51.000000Z'
                            updated_at: '2021-01-06T16:58:51.000000Z'
                      -
                        id: 20
                        slug: facere
                        position: 11
                        name: Facere
                        desc: 'Non quasi necessitatibus quasi fuga laudantium sit nostrum. Ipsa dolores autem fugit excepturi in eum cumque tempore. Ut totam fugit provident suscipit. Iure sint facilis nesciunt ut provident alias dolor. Esse tenetur et non modi porro aut. Molestias consequatur et minima voluptatum.'
                        border: null
                        max_cats: 2
                        max_models: null
                        max_models_daily: null
                        visible:
                          value: 1
                          label: public
                        apply_status:
                          value: 1
                          label: 'active immediately'
                        url:
                          value: 2
                          label: required
                        backlink:
                          value: 1
                          label: optional
                        created_at: '2022-05-24T09:11:19.000000Z'
                        updated_at: '2022-05-24T09:11:19.000000Z'
                        alt: null
                        privileges:
                          -
                            id: 9
                            name: 'additional options for editing content'
                            created_at: '2021-01-06T16:58:51.000000Z'
                            updated_at: '2021-01-06T16:58:51.000000Z'
                    items:
                      type: object
      tags:
        - Groups
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    visible:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.groups.view).'
                      example: 1
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, or <code>position|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  '/api/payments/{payment_dir_pending}/dir/{driver}':
    get:
      summary: 'Show dir''s payment'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    uuid: 36e85436-ab67-42e1-8f8e-7e397492d166
                    driver: null
                    status:
                      value: 2
                      label: pending
                    created_at: '2022-05-24T09:11:19.000000Z'
                    updated_at: '2022-05-24T09:11:19.000000Z'
                    morph:
                      id: 13438
                      slug: libero-provident
                      title: 'Libero provident.'
                      url: 'http://www.orn.org'
                      short_content: 'Voluptatem debitis architecto veniam placeat. Inventore voluptas vel animi deserunt id qui. Est corrupti in quia mollitia quisquam illo aut. Sit voluptas quia et sed rerum. Non sed facilis modi ut ut rerum provident. Est sit laboriosam ut qui quas. R'
                      content: 'Voluptatem debitis architecto veniam placeat. Inventore voluptas vel animi deserunt id qui. Est corrupti in quia mollitia quisquam illo aut. Sit voluptas quia et sed rerum. Non sed facilis modi ut ut rerum provident. Est sit laboriosam ut qui quas. Recusandae fugit voluptas quidem et rerum officiis.'
                      content_html: 'Voluptatem debitis architecto veniam placeat. Inventore voluptas vel animi deserunt id qui. Est corrupti in quia mollitia quisquam illo aut. Sit voluptas quia et sed rerum. Non sed facilis modi ut ut rerum provident. Est sit laboriosam ut qui quas. Recusandae fugit voluptas quidem et rerum officiis.'
                      less_content_html: 'Voluptatem debitis architecto veniam placeat. Inventore voluptas vel animi deserunt id qui. Est corrupti in quia mollitia quisquam illo aut. Sit voluptas quia et sed rerum. Non sed facilis modi ut ut rerum provident. Est sit laboriosam ut qui quas. R... <a href="http://demo.idir.intelekt.net.pl/dirs/libero-provident">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6Inc2NjJZbGNOZ0VFcGxEN05pc3RHK1E9PSIsInZhbHVlIjoiL3RkNVFhK2Z1dTNFSXJYMEx4ZWNZK093K0k4VEFLaHh3blcyblRTcHFmRT0iLCJtYWMiOiJlMDFhOTk1YjU1NzQ1YTliNWNiNGEzZGJmNjQ1NGRiM2U4Yjg3YjA0NThjNGM2MjUyZTM1MTA4Y2IyZDM4NGQ5IiwidGFnIjoiIn0='
                      sum_rating: '0.00'
                      created_at: '2022-05-24T09:11:19.000000Z'
                      updated_at: '2022-05-24T09:11:19.000000Z'
                      links: []
                    order:
                      id: 20
                      type: transfer
                      price: '1.70'
                      regular_price: '1.70'
                      discount_price: null
                      discount: null
                      qr_as_image: null
                      days: null
                      created_at: '2022-05-24T09:11:19.000000Z'
                      updated_at: '2022-05-24T09:11:19.000000Z'
                  url: 'https://paytest.cashbill.pl/pl/payment/eydJpZCI6IlRFU1RfNmV6OWZ6dXpvIiwicGMiOiIiLCJ0b2tlbiI6ImJiNjQ3ZGFhOTQ3NDU1NzM0OGRhMzhkYjEyMTE0YTI5MTA0NDhkMGUifQ--'
                properties:
                  data:
                    type: object
                    example:
                      uuid: 36e85436-ab67-42e1-8f8e-7e397492d166
                      driver: null
                      status:
                        value: 2
                        label: pending
                      created_at: '2022-05-24T09:11:19.000000Z'
                      updated_at: '2022-05-24T09:11:19.000000Z'
                      morph:
                        id: 13438
                        slug: libero-provident
                        title: 'Libero provident.'
                        url: 'http://www.orn.org'
                        short_content: 'Voluptatem debitis architecto veniam placeat. Inventore voluptas vel animi deserunt id qui. Est corrupti in quia mollitia quisquam illo aut. Sit voluptas quia et sed rerum. Non sed facilis modi ut ut rerum provident. Est sit laboriosam ut qui quas. R'
                        content: 'Voluptatem debitis architecto veniam placeat. Inventore voluptas vel animi deserunt id qui. Est corrupti in quia mollitia quisquam illo aut. Sit voluptas quia et sed rerum. Non sed facilis modi ut ut rerum provident. Est sit laboriosam ut qui quas. Recusandae fugit voluptas quidem et rerum officiis.'
                        content_html: 'Voluptatem debitis architecto veniam placeat. Inventore voluptas vel animi deserunt id qui. Est corrupti in quia mollitia quisquam illo aut. Sit voluptas quia et sed rerum. Non sed facilis modi ut ut rerum provident. Est sit laboriosam ut qui quas. Recusandae fugit voluptas quidem et rerum officiis.'
                        less_content_html: 'Voluptatem debitis architecto veniam placeat. Inventore voluptas vel animi deserunt id qui. Est corrupti in quia mollitia quisquam illo aut. Sit voluptas quia et sed rerum. Non sed facilis modi ut ut rerum provident. Est sit laboriosam ut qui quas. R... <a href="http://demo.idir.intelekt.net.pl/dirs/libero-provident">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test:8443/thumbnails?url=eyJpdiI6Inc2NjJZbGNOZ0VFcGxEN05pc3RHK1E9PSIsInZhbHVlIjoiL3RkNVFhK2Z1dTNFSXJYMEx4ZWNZK093K0k4VEFLaHh3blcyblRTcHFmRT0iLCJtYWMiOiJlMDFhOTk1YjU1NzQ1YTliNWNiNGEzZGJmNjQ1NGRiM2U4Yjg3YjA0NThjNGM2MjUyZTM1MTA4Y2IyZDM4NGQ5IiwidGFnIjoiIn0='
                        sum_rating: '0.00'
                        created_at: '2022-05-24T09:11:19.000000Z'
                        updated_at: '2022-05-24T09:11:19.000000Z'
                        links: []
                      order:
                        id: 20
                        type: transfer
                        price: '1.70'
                        regular_price: '1.70'
                        discount_price: null
                        discount: null
                        qr_as_image: null
                        days: null
                        created_at: '2022-05-24T09:11:19.000000Z'
                        updated_at: '2022-05-24T09:11:19.000000Z'
                  url:
                    type: string
                    example: 'https://paytest.cashbill.pl/pl/payment/eydJpZCI6IlRFU1RfNmV6OWZ6dXpvIiwicGMiOiIiLCJ0b2tlbiI6ImJiNjQ3ZGFhOTQ3NDU1NzM0OGRhMzhkYjEyMTE0YTI5MTA0NDhkMGUifQ--'
                    description: 'Link to the driver''s payment page (for transfer type payment).'
      tags:
        - Payments
      security: []
    parameters:
      -
        in: path
        name: payment_dir_pending
        description: 'The payment UUID.'
        example: null
        required: true
        schema:
          type: string
      -
        in: path
        name: driver
        description: 'Optional parameter. The payment driver.'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
  /api/posts/index:
    post:
      summary: 'Index of posts'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.posts.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 187
                      slug: natus-aspernatur-voluptas-occaecati-velit
                      title: 'Natus aspernatur voluptas occaecati velit.'
                      short_content: 'Sed est consequatur totam nemo nulla animi. Qui ipsam dolorum dolorem et nesciunt magni vel. Dolorem illo incidunt fuga suscipit. Id cupiditate autem esse provident sint. Fugit id error reprehenderit consequatur magnam dolor et. Voluptas placeat et illum debitis occaecati et. Rerum et facilis fugiat ex tempore. Ut reiciendis totam ut quod iure in. Veniam vero aperiam minima aut. Consequatur magnam ab voluptatum iste. Animi non et in sapiente enim ut earum a. Repudiandae nesciunt eius illum repel'
[...]
