openapi: 3.0.3
info:
  title: 'API Documentation - iDir - nowoczesny katalog stron'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://demo.idir.intelekt.net.pl'
paths:
  /api/user:
    get:
      summary: 'Show user'
      description: "Show authenticated User resource\n\n<aside class=\"notice\">Available only to users with permission: api.access.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 11876
                    name: 'Lydia Conroy'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-10-06T18:01:42.000000Z'
                    updated_at: '2022-10-06T18:01:42.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2022-09-16T00:16:56.000000Z'
                        updated_at: '2022-09-16T00:16:56.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 11876
                      name: 'Lydia Conroy'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-10-06T18:01:42.000000Z'
                      updated_at: '2022-10-06T18:01:42.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2022-09-16T00:16:56.000000Z'
                          updated_at: '2022-09-16T00:16:56.000000Z'
      tags:
        - 'Authenticated user'
  /api/user/dirs:
    post:
      summary: "Index of user's dirs"
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 13319
                      slug: sunt-quo-totam
                      title: 'Sunt quo totam.'
                      url: 'https://amet-voluptates-quisquam-qui-nam-hic-quas.pl'
                      short_content: 'Adipisci occaecati at illum doloremque aut. Rerum error sed modi sint ut a autem. Rerum nemo sed odit facilis. Iste alias rerum cum consequuntur facilis tenetur voluptatem. Consequuntur quia enim rerum delectus.'
                      content: 'Adipisci occaecati at illum doloremque aut. Rerum error sed modi sint ut a autem. Rerum nemo sed odit facilis. Iste alias rerum cum consequuntur facilis tenetur voluptatem. Consequuntur quia enim rerum delectus.'
                      content_html: 'Adipisci occaecati at illum doloremque aut. Rerum error sed modi sint ut a autem. Rerum nemo sed odit facilis. Iste alias rerum cum consequuntur facilis tenetur voluptatem. Consequuntur quia enim rerum delectus.'
                      less_content_html: 'Adipisci occaecati at illum doloremque aut. Rerum error sed modi sint ut a autem. Rerum nemo sed odit facilis. Iste alias rerum cum consequuntur facilis tenetur voluptatem. Consequuntur quia enim rerum delectus.... <a href="https://demo.idir.intelekt.net.pl/dirs/sunt-quo-totam">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IktZSHNRZ2JjVGdCbTlvekhyY2dHNlE9PSIsInZhbHVlIjoiYW80T3ZDbzE5cGt1UDNldEdSeXBaRkExZDBYRlRhZmlHa1VNSzVKWm55M3BHN3UrT2lVRUhCV01sWHE5WVFpK0ZmU3RJbFJweGV1UTV4UDM3RG1hRkE9PSIsIm1hYyI6ImRlYzJiOGMyNGRkZTAzNDExYTBlY2M5NmU1MjY4YzdlYTlkMWIwMDU2Njk4ZDUwOGEwMDYwOWFkNDExMGNjNjIiLCJ0YWciOiIifQ=='
                      sum_rating: '0.00'
                      created_at: '2022-10-06T18:01:40.000000Z'
                      updated_at: '2022-10-06T18:01:40.000000Z'
                      categories:
                        -
                          id: 1451
                          name: Fuga
                          slug: fuga
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-10-06T18:01:40.000000Z'
                          updated_at: '2022-10-06T18:01:40.000000Z'
                      links: []
                    -
                      id: 13320
                      slug: nostrum
                      title: Nostrum.
                      url: 'https://molestiae-dignissimos-architecto-aut.pl'
                      short_content: 'Dolorum placeat et ratione. Natus harum tempora ut rerum sit voluptas. Fuga fugit praesentium rerum quibusdam aliquam recusandae quam velit. Quia mollitia laboriosam est assumenda ut iusto dolores. Illo consequuntur ducimus molestiae quo totam corpor'
                      content: 'Dolorum placeat et ratione. Natus harum tempora ut rerum sit voluptas. Fuga fugit praesentium rerum quibusdam aliquam recusandae quam velit. Quia mollitia laboriosam est assumenda ut iusto dolores. Illo consequuntur ducimus molestiae quo totam corporis. Corrupti quibusdam eos rerum.'
                      content_html: 'Dolorum placeat et ratione. Natus harum tempora ut rerum sit voluptas. Fuga fugit praesentium rerum quibusdam aliquam recusandae quam velit. Quia mollitia laboriosam est assumenda ut iusto dolores. Illo consequuntur ducimus molestiae quo totam corporis. Corrupti quibusdam eos rerum.'
                      less_content_html: 'Dolorum placeat et ratione. Natus harum tempora ut rerum sit voluptas. Fuga fugit praesentium rerum quibusdam aliquam recusandae quam velit. Quia mollitia laboriosam est assumenda ut iusto dolores. Illo consequuntur ducimus molestiae quo totam corpor... <a href="https://demo.idir.intelekt.net.pl/dirs/nostrum">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IjNoWG0yc21KNkEwR251bFRwcGw2NXc9PSIsInZhbHVlIjoiaG9wSnhQUDhxMjU1VGZLR1gvNkRUeTdBWXRiVlBsQzM0VHoraElXOUlwc09WY2dQbzhBUkdVdDFkWlBoN0NObyIsIm1hYyI6Ijc4MTY1OGNkNWQyZGEzYTM5MjY3N2M4MTFjZDkwMjQ4Nzg2MTk0Y2JkM2RiNjgwMzJhYzdjOWE1ODIwYTE0YjEiLCJ0YWciOiIifQ=='
                      sum_rating: '0.00'
                      created_at: '2022-10-06T18:01:40.000000Z'
                      updated_at: '2022-10-06T18:01:40.000000Z'
                      categories:
                        -
                          id: 1452
                          name: Et
                          slug: et
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-10-06T18:01:40.000000Z'
                          updated_at: '2022-10-06T18:01:40.000000Z'
                      links: []
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 13319
                        slug: sunt-quo-totam
                        title: 'Sunt quo totam.'
                        url: 'https://amet-voluptates-quisquam-qui-nam-hic-quas.pl'
                        short_content: 'Adipisci occaecati at illum doloremque aut. Rerum error sed modi sint ut a autem. Rerum nemo sed odit facilis. Iste alias rerum cum consequuntur facilis tenetur voluptatem. Consequuntur quia enim rerum delectus.'
                        content: 'Adipisci occaecati at illum doloremque aut. Rerum error sed modi sint ut a autem. Rerum nemo sed odit facilis. Iste alias rerum cum consequuntur facilis tenetur voluptatem. Consequuntur quia enim rerum delectus.'
                        content_html: 'Adipisci occaecati at illum doloremque aut. Rerum error sed modi sint ut a autem. Rerum nemo sed odit facilis. Iste alias rerum cum consequuntur facilis tenetur voluptatem. Consequuntur quia enim rerum delectus.'
                        less_content_html: 'Adipisci occaecati at illum doloremque aut. Rerum error sed modi sint ut a autem. Rerum nemo sed odit facilis. Iste alias rerum cum consequuntur facilis tenetur voluptatem. Consequuntur quia enim rerum delectus.... <a href="https://demo.idir.intelekt.net.pl/dirs/sunt-quo-totam">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IktZSHNRZ2JjVGdCbTlvekhyY2dHNlE9PSIsInZhbHVlIjoiYW80T3ZDbzE5cGt1UDNldEdSeXBaRkExZDBYRlRhZmlHa1VNSzVKWm55M3BHN3UrT2lVRUhCV01sWHE5WVFpK0ZmU3RJbFJweGV1UTV4UDM3RG1hRkE9PSIsIm1hYyI6ImRlYzJiOGMyNGRkZTAzNDExYTBlY2M5NmU1MjY4YzdlYTlkMWIwMDU2Njk4ZDUwOGEwMDYwOWFkNDExMGNjNjIiLCJ0YWciOiIifQ=='
                        sum_rating: '0.00'
                        created_at: '2022-10-06T18:01:40.000000Z'
                        updated_at: '2022-10-06T18:01:40.000000Z'
                        categories:
                          -
                            id: 1451
                            name: Fuga
                            slug: fuga
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-10-06T18:01:40.000000Z'
                            updated_at: '2022-10-06T18:01:40.000000Z'
                        links: []
                      -
                        id: 13320
                        slug: nostrum
                        title: Nostrum.
                        url: 'https://molestiae-dignissimos-architecto-aut.pl'
                        short_content: 'Dolorum placeat et ratione. Natus harum tempora ut rerum sit voluptas. Fuga fugit praesentium rerum quibusdam aliquam recusandae quam velit. Quia mollitia laboriosam est assumenda ut iusto dolores. Illo consequuntur ducimus molestiae quo totam corpor'
                        content: 'Dolorum placeat et ratione. Natus harum tempora ut rerum sit voluptas. Fuga fugit praesentium rerum quibusdam aliquam recusandae quam velit. Quia mollitia laboriosam est assumenda ut iusto dolores. Illo consequuntur ducimus molestiae quo totam corporis. Corrupti quibusdam eos rerum.'
                        content_html: 'Dolorum placeat et ratione. Natus harum tempora ut rerum sit voluptas. Fuga fugit praesentium rerum quibusdam aliquam recusandae quam velit. Quia mollitia laboriosam est assumenda ut iusto dolores. Illo consequuntur ducimus molestiae quo totam corporis. Corrupti quibusdam eos rerum.'
                        less_content_html: 'Dolorum placeat et ratione. Natus harum tempora ut rerum sit voluptas. Fuga fugit praesentium rerum quibusdam aliquam recusandae quam velit. Quia mollitia laboriosam est assumenda ut iusto dolores. Illo consequuntur ducimus molestiae quo totam corpor... <a href="https://demo.idir.intelekt.net.pl/dirs/nostrum">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IjNoWG0yc21KNkEwR251bFRwcGw2NXc9PSIsInZhbHVlIjoiaG9wSnhQUDhxMjU1VGZLR1gvNkRUeTdBWXRiVlBsQzM0VHoraElXOUlwc09WY2dQbzhBUkdVdDFkWlBoN0NObyIsIm1hYyI6Ijc4MTY1OGNkNWQyZGEzYTM5MjY3N2M4MTFjZDkwMjQ4Nzg2MTk0Y2JkM2RiNjgwMzJhYzdjOWE1ODIwYTE0YjEiLCJ0YWciOiIifQ=='
                        sum_rating: '0.00'
                        created_at: '2022-10-06T18:01:40.000000Z'
                        updated_at: '2022-10-06T18:01:40.000000Z'
                        categories:
                          -
                            id: 1452
                            name: Et
                            slug: et
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-10-06T18:01:40.000000Z'
                            updated_at: '2022-10-06T18:01:40.000000Z'
                        links: []
                    items:
                      type: object
      tags:
        - 'Authenticated user'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be between 0 and 5.'
                      example: ''
                    group:
                      type: integer
                      description: 'ID of Group relationship.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>title|asc</code>, <code>title|desc</code>, <code>sum_rating|desc</code>, <code>sum_rating|asc</code>, <code>click|asc</code>, <code>click|desc</code>, <code>view|asc</code>, or <code>view|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
  /api/token:
    post:
      summary: Token
      description: "Create access token and (optional) refresh token.\n\n<aside class=\"notice\">Access token expires after 2 hours. Refresh token expires after 1 year.</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 1|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 2|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: '(only if remember param was true)'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: kontakt@demo.idir.intelekt.net.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                remember:
                  type: boolean
                  description: ''
                  example: true
              required:
                - email
                - password
      security: []
  /api/register:
    post:
      summary: Register
      description: 'Create user and send email verification notification'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 11879
                    name: 'Prof. Oswaldo Nitzsche V'
                    status:
                      value: 1
                      label: active
                    created_at: '2022-10-06T18:01:44.000000Z'
                    updated_at: '2022-10-06T18:01:44.000000Z'
                    roles:
                      -
                        id: 3
                        name: user
                        created_at: '2022-09-16T00:16:56.000000Z'
                        updated_at: '2022-09-16T00:16:56.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 11879
                      name: 'Prof. Oswaldo Nitzsche V'
                      status:
                        value: 1
                        label: active
                      created_at: '2022-10-06T18:01:44.000000Z'
                      updated_at: '2022-10-06T18:01:44.000000Z'
                      roles:
                        -
                          id: 3
                          name: user
                          created_at: '2022-09-16T00:16:56.000000Z'
                          updated_at: '2022-09-16T00:16:56.000000Z'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: N1ebieski
                email:
                  type: string
                  description: ''
                  example: example@example.pl
                password:
                  type: string
                  description: ''
                  example: demo1234
                password_confirmation:
                  type: string
                  description: ''
                  example: demo1234
                privacy_agreement:
                  type: boolean
                  description: 'Acceptance of privacy policy'
                  example: true
                contact_agreement:
                  type: boolean
                  description: 'Acceptance of receiving e-mail system notifications'
                  example: true
                marketing_agreement:
                  type: boolean
                  description: 'Acceptance of receiving marketing information notifications'
                  example: true
              required:
                - name
                - email
                - password
                - password_confirmation
                - privacy_agreement
                - contact_agreement
      security: []
  /api/revoke:
    post:
      summary: 'Revoke token'
      description: 'Revoke access token and refresh token.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        204:
          description: success
      tags:
        - Authentication
  /api/refresh:
    post:
      summary: 'Refresh token'
      description: "Create new access token and refresh token.\n\n<aside class=\"success\">Refresh token must be in the Authorization header with the value \"Bearer {YOUR_REFRESH_TOKEN}\".</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_REFRESH_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                  refresh_token: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                properties:
                  access_token:
                    type: string
                    example: 3|LN8Gmqe6cRHQpPr5X5GW9wFXuqHVK09L8FSb7Ju9
                    description: ''
                  refresh_token:
                    type: string
                    example: 4|hVHAhrgiBmSbyYjbVAC17wjwAJyKK8TQmhglBAtM
                    description: ''
      tags:
        - Authentication
  /api/categories/dir/index:
    post:
      summary: "Index of dir's categories"
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1459
                      name: 'Dicta qui'
                      slug: dicta-qui
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-10-06T18:01:42.000000Z'
                      updated_at: '2022-10-06T18:01:42.000000Z'
                    -
                      id: 1460
                      name: 'Reiciendis tempora'
                      slug: reiciendis-tempora
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-10-06T18:01:42.000000Z'
                      updated_at: '2022-10-06T18:01:42.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1459
                        name: 'Dicta qui'
                        slug: dicta-qui
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-06T18:01:42.000000Z'
                        updated_at: '2022-10-06T18:01:42.000000Z'
                      -
                        id: 1460
                        name: 'Reiciendis tempora'
                        slug: reiciendis-tempora
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-06T18:01:42.000000Z'
                        updated_at: '2022-10-06T18:01:42.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/categories/post/index:
    post:
      summary: "Index of post's categories"
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1461
                      name: 'Dolorum amet'
                      slug: dolorum-amet
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-10-06T18:01:43.000000Z'
                      updated_at: '2022-10-06T18:01:43.000000Z'
                    -
                      id: 1462
                      name: 'Officia et'
                      slug: officia-et
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-10-06T18:01:43.000000Z'
                      updated_at: '2022-10-06T18:01:43.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1461
                        name: 'Dolorum amet'
                        slug: dolorum-amet
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-06T18:01:43.000000Z'
                        updated_at: '2022-10-06T18:01:43.000000Z'
                      -
                        id: 1462
                        name: 'Officia et'
                        slug: officia-et
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-06T18:01:43.000000Z'
                        updated_at: '2022-10-06T18:01:43.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/categories/index:
    post:
      summary: 'Index of all categories'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1463
                      name: 'Hic fuga'
                      slug: hic-fuga
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-10-06T18:01:44.000000Z'
                      updated_at: '2022-10-06T18:01:44.000000Z'
                    -
                      id: 1464
                      name: 'Est sed'
                      slug: est-sed
                      icon: null
                      status:
                        value: 1
                        label: active
                      real_depth: 0
                      created_at: '2022-10-06T18:01:44.000000Z'
                      updated_at: '2022-10-06T18:01:44.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1463
                        name: 'Hic fuga'
                        slug: hic-fuga
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-06T18:01:44.000000Z'
                        updated_at: '2022-10-06T18:01:44.000000Z'
                      -
                        id: 1464
                        name: 'Est sed'
                        slug: est-sed
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-06T18:01:44.000000Z'
                        updated_at: '2022-10-06T18:01:44.000000Z'
                    items:
                      type: object
      tags:
        - Categories
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.categories.view).'
                      example: 1
                    parent:
                      type: integer
                      description: 'ID of category parent. If 0, shows only roots.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, <code>position|desc</code>, <code>real_depth|asc</code>, or <code>real_depth|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  /api/dirs/index:
    post:
      summary: 'Index of dirs'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.dirs.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 13324
                      slug: voluptate-enim
                      title: 'Voluptate enim.'
                      url: 'http://exercitationem-rerum-veritatis-quod-aspernatur-deleniti.pl'
                      short_content: 'Reprehenderit vel et et. Illum rerum doloremque reiciendis nesciunt id. Qui voluptatem facere quia porro eveniet. Modi qui excepturi qui odio velit dolorem magnam. Omnis ut sed quod iure aut voluptatum harum. Explicabo doloremque aut doloribus nisi s'
                      content: 'Reprehenderit vel et et. Illum rerum doloremque reiciendis nesciunt id. Qui voluptatem facere quia porro eveniet. Modi qui excepturi qui odio velit dolorem magnam. Omnis ut sed quod iure aut voluptatum harum. Explicabo doloremque aut doloribus nisi sunt. Sapiente ex voluptatem occaecati est iure adipisci eum. Quo voluptatibus asperiores et.'
                      content_html: 'Reprehenderit vel et et. Illum rerum doloremque reiciendis nesciunt id. Qui voluptatem facere quia porro eveniet. Modi qui excepturi qui odio velit dolorem magnam. Omnis ut sed quod iure aut voluptatum harum. Explicabo doloremque aut doloribus nisi sunt. Sapiente ex voluptatem occaecati est iure adipisci eum. Quo voluptatibus asperiores et.'
                      less_content_html: 'Reprehenderit vel et et. Illum rerum doloremque reiciendis nesciunt id. Qui voluptatem facere quia porro eveniet. Modi qui excepturi qui odio velit dolorem magnam. Omnis ut sed quod iure aut voluptatum harum. Explicabo doloremque aut doloribus nisi s... <a href="http://demo.idir.intelekt.net.pl/dirs/voluptate-enim">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6ImN6eGNvRmtQaE4xZSs1eUFBQ0NOZlE9PSIsInZhbHVlIjoieE9UTXIrcW80ckhUY2h2eXVCbHlFUDcwaDlkNGMvNHg0TVB6V3g2TExSM0JvMGVFRWNIallLOHJvM2NlNFk2TjgzRjVDNVpEQ0t0c05uSmNGeVFpUmdjRkQwS2R6UXRBRlg4b0JwU2l0TVk9IiwibWFjIjoiNzE5Y2RjNTNhNjJhZGI5MTk0MDcyNjM4ZWNiZDU5NzRkMWI4NTg5YjQ4OGQ2MjE1MTk0NWE2OTdkMTk4ZDQ2NyIsInRhZyI6IiJ9'
                      sum_rating: '0.00'
                      created_at: '2022-10-06T18:01:41.000000Z'
                      updated_at: '2022-10-06T18:01:41.000000Z'
                      categories:
                        -
                          id: 1456
                          name: Temporibus
                          slug: temporibus
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-10-06T18:01:42.000000Z'
                          updated_at: '2022-10-06T18:01:42.000000Z'
                      links: []
                    -
                      id: 13325
                      slug: amet
                      title: Amet.
                      url: 'https://nostrum-magnam-et-delectus-eum-consequuntur-voluptates-quo-nemo.pl'
                      short_content: 'Accusantium suscipit praesentium ut eveniet consectetur ullam animi. Aut vel aspernatur magnam repellat qui a magnam. Et ut quasi qui adipisci quia vel et. Ipsa et nostrum aliquam. Impedit aut architecto illo illo sint voluptas amet fugiat. Aut velit'
                      content: 'Accusantium suscipit praesentium ut eveniet consectetur ullam animi. Aut vel aspernatur magnam repellat qui a magnam. Et ut quasi qui adipisci quia vel et. Ipsa et nostrum aliquam. Impedit aut architecto illo illo sint voluptas amet fugiat. Aut velit nulla sit modi. Exercitationem rerum dolor laborum corporis nesciunt.'
                      content_html: 'Accusantium suscipit praesentium ut eveniet consectetur ullam animi. Aut vel aspernatur magnam repellat qui a magnam. Et ut quasi qui adipisci quia vel et. Ipsa et nostrum aliquam. Impedit aut architecto illo illo sint voluptas amet fugiat. Aut velit nulla sit modi. Exercitationem rerum dolor laborum corporis nesciunt.'
                      less_content_html: 'Accusantium suscipit praesentium ut eveniet consectetur ullam animi. Aut vel aspernatur magnam repellat qui a magnam. Et ut quasi qui adipisci quia vel et. Ipsa et nostrum aliquam. Impedit aut architecto illo illo sint voluptas amet fugiat. Aut velit... <a href="http://demo.idir.intelekt.net.pl/dirs/amet">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IlJRb2VmaERlWE50QWZrY2tYbm0xOHc9PSIsInZhbHVlIjoiNDVWQ3FwcklEak5US2dRbEJyaFBKOENaVmxKbnNGc1FDSlE4bitRclFxVFJPdXZDOHN4TU5iWUFzVWJoM3dzQkorblpVSlpPenBva3F4SkdDVzIrR3dUVUdRMEdZaFJZQ3pySHRnUGlxV009IiwibWFjIjoiMzgyNzUxNjYxNjFiODBkODM1YWViZmUwZWI5NmRjMjM3ZTJlNjJmYTY5ODRiMjMyOWE5ZjdiMjNjOGI1ZjQwZSIsInRhZyI6IiJ9'
                      sum_rating: '0.00'
                      created_at: '2022-10-06T18:01:42.000000Z'
                      updated_at: '2022-10-06T18:01:42.000000Z'
                      categories:
                        -
                          id: 1457
                          name: Dolores
                          slug: dolores
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-10-06T18:01:42.000000Z'
                          updated_at: '2022-10-06T18:01:42.000000Z'
                      links: []
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 13324
                        slug: voluptate-enim
                        title: 'Voluptate enim.'
                        url: 'http://exercitationem-rerum-veritatis-quod-aspernatur-deleniti.pl'
                        short_content: 'Reprehenderit vel et et. Illum rerum doloremque reiciendis nesciunt id. Qui voluptatem facere quia porro eveniet. Modi qui excepturi qui odio velit dolorem magnam. Omnis ut sed quod iure aut voluptatum harum. Explicabo doloremque aut doloribus nisi s'
                        content: 'Reprehenderit vel et et. Illum rerum doloremque reiciendis nesciunt id. Qui voluptatem facere quia porro eveniet. Modi qui excepturi qui odio velit dolorem magnam. Omnis ut sed quod iure aut voluptatum harum. Explicabo doloremque aut doloribus nisi sunt. Sapiente ex voluptatem occaecati est iure adipisci eum. Quo voluptatibus asperiores et.'
                        content_html: 'Reprehenderit vel et et. Illum rerum doloremque reiciendis nesciunt id. Qui voluptatem facere quia porro eveniet. Modi qui excepturi qui odio velit dolorem magnam. Omnis ut sed quod iure aut voluptatum harum. Explicabo doloremque aut doloribus nisi sunt. Sapiente ex voluptatem occaecati est iure adipisci eum. Quo voluptatibus asperiores et.'
                        less_content_html: 'Reprehenderit vel et et. Illum rerum doloremque reiciendis nesciunt id. Qui voluptatem facere quia porro eveniet. Modi qui excepturi qui odio velit dolorem magnam. Omnis ut sed quod iure aut voluptatum harum. Explicabo doloremque aut doloribus nisi s... <a href="http://demo.idir.intelekt.net.pl/dirs/voluptate-enim">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6ImN6eGNvRmtQaE4xZSs1eUFBQ0NOZlE9PSIsInZhbHVlIjoieE9UTXIrcW80ckhUY2h2eXVCbHlFUDcwaDlkNGMvNHg0TVB6V3g2TExSM0JvMGVFRWNIallLOHJvM2NlNFk2TjgzRjVDNVpEQ0t0c05uSmNGeVFpUmdjRkQwS2R6UXRBRlg4b0JwU2l0TVk9IiwibWFjIjoiNzE5Y2RjNTNhNjJhZGI5MTk0MDcyNjM4ZWNiZDU5NzRkMWI4NTg5YjQ4OGQ2MjE1MTk0NWE2OTdkMTk4ZDQ2NyIsInRhZyI6IiJ9'
                        sum_rating: '0.00'
                        created_at: '2022-10-06T18:01:41.000000Z'
                        updated_at: '2022-10-06T18:01:41.000000Z'
                        categories:
                          -
                            id: 1456
                            name: Temporibus
                            slug: temporibus
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-10-06T18:01:42.000000Z'
                            updated_at: '2022-10-06T18:01:42.000000Z'
                        links: []
                      -
                        id: 13325
                        slug: amet
                        title: Amet.
                        url: 'https://nostrum-magnam-et-delectus-eum-consequuntur-voluptates-quo-nemo.pl'
                        short_content: 'Accusantium suscipit praesentium ut eveniet consectetur ullam animi. Aut vel aspernatur magnam repellat qui a magnam. Et ut quasi qui adipisci quia vel et. Ipsa et nostrum aliquam. Impedit aut architecto illo illo sint voluptas amet fugiat. Aut velit'
                        content: 'Accusantium suscipit praesentium ut eveniet consectetur ullam animi. Aut vel aspernatur magnam repellat qui a magnam. Et ut quasi qui adipisci quia vel et. Ipsa et nostrum aliquam. Impedit aut architecto illo illo sint voluptas amet fugiat. Aut velit nulla sit modi. Exercitationem rerum dolor laborum corporis nesciunt.'
                        content_html: 'Accusantium suscipit praesentium ut eveniet consectetur ullam animi. Aut vel aspernatur magnam repellat qui a magnam. Et ut quasi qui adipisci quia vel et. Ipsa et nostrum aliquam. Impedit aut architecto illo illo sint voluptas amet fugiat. Aut velit nulla sit modi. Exercitationem rerum dolor laborum corporis nesciunt.'
                        less_content_html: 'Accusantium suscipit praesentium ut eveniet consectetur ullam animi. Aut vel aspernatur magnam repellat qui a magnam. Et ut quasi qui adipisci quia vel et. Ipsa et nostrum aliquam. Impedit aut architecto illo illo sint voluptas amet fugiat. Aut velit... <a href="http://demo.idir.intelekt.net.pl/dirs/amet">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IlJRb2VmaERlWE50QWZrY2tYbm0xOHc9PSIsInZhbHVlIjoiNDVWQ3FwcklEak5US2dRbEJyaFBKOENaVmxKbnNGc1FDSlE4bitRclFxVFJPdXZDOHN4TU5iWUFzVWJoM3dzQkorblpVSlpPenBva3F4SkdDVzIrR3dUVUdRMEdZaFJZQ3pySHRnUGlxV009IiwibWFjIjoiMzgyNzUxNjYxNjFiODBkODM1YWViZmUwZWI5NmRjMjM3ZTJlNjJmYTY5ODRiMjMyOWE5ZjdiMjNjOGI1ZjQwZSIsInRhZyI6IiJ9'
                        sum_rating: '0.00'
                        created_at: '2022-10-06T18:01:42.000000Z'
                        updated_at: '2022-10-06T18:01:42.000000Z'
                        categories:
                          -
                            id: 1457
                            name: Dolores
                            slug: dolores
                            icon: null
                            status:
                              value: 1
                              label: active
                            real_depth: 0
                            created_at: '2022-10-06T18:01:42.000000Z'
                            updated_at: '2022-10-06T18:01:42.000000Z'
                        links: []
                    items:
                      type: object
      tags:
        - Dirs
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    status:
                      type: integer
                      description: 'Must be one of 1 or (available only for admin.dirs.view): 0, 2, 3, 4, 5.'
                      example: 1
                    group:
                      type: integer
                      description: 'ID of Group relationship.'
                      example: ''
                    category:
                      type: integer
                      description: 'ID of Category relationship.'
                      example: ''
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>title|asc</code>, <code>title|desc</code>, <code>sum_rating|desc</code>, <code>sum_rating|asc</code>, <code>click|desc</code>, <code>click|asc</code>, <code>view|desc</code>, or <code>view|asc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
                    author:
                      type: integer
                      description: '(available only for admin.dirs.view) ID of User relationship.'
                      example: null
                    report:
                      type: integer
                      description: '(available only for admin.dirs.view) Must be one of 1 or 0.'
                      example: null
  '/api/dirs/{dir_id}':
    delete:
      summary: 'Delete dir'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.dirs.delete.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        204:
          description: ''
      tags:
        - Dirs
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: '(available only for admin.dirs.delete).'
                  example: null
    parameters:
      -
        in: path
        name: dir_id
        description: 'The ID of the dir.'
        example: null
        required: true
        schema:
          type: integer
  '/api/dirs/{dir_id}/status':
    patch:
      summary: 'Edit status dir'
      description: '<aside class="notice">Available only to users with permissions: api.access, api.dirs.status and admin.dirs.status.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 13322
                    slug: quia-enim
                    title: 'Quia enim.'
                    url: 'http://ad-molestiae-harum-cupiditate-voluptatem-voluptate-hic-aut.pl'
                    short_content: 'Consequatur quis ea nihil sequi ipsum itaque. Enim atque commodi aut corrupti doloremque porro. Nisi cupiditate rerum modi pariatur dolore sunt. Voluptas veniam impedit hic accusamus non deserunt maxime iure.'
                    content: 'Consequatur quis ea nihil sequi ipsum itaque. Enim atque commodi aut corrupti doloremque porro. Nisi cupiditate rerum modi pariatur dolore sunt. Voluptas veniam impedit hic accusamus non deserunt maxime iure.'
                    content_html: 'Consequatur quis ea nihil sequi ipsum itaque. Enim atque commodi aut corrupti doloremque porro. Nisi cupiditate rerum modi pariatur dolore sunt. Voluptas veniam impedit hic accusamus non deserunt maxime iure.'
                    less_content_html: 'Consequatur quis ea nihil sequi ipsum itaque. Enim atque commodi aut corrupti doloremque porro. Nisi cupiditate rerum modi pariatur dolore sunt. Voluptas veniam impedit hic accusamus non deserunt maxime iure.... <a href="http://demo.idir.intelekt.net.pl/dirs/quia-enim">show more &raquo</a>'
                    thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IitzZEc1eHBRbHBveEFHZDlRVUFqbEE9PSIsInZhbHVlIjoiVGc4VGFXbGI4cWE4aC9aMm8vV1R6SklVZ0xZY1dIZGxCbVo5aWVLYjR6VWZBS1JlWlM4QVJuSWdmU2hrTS9CaitBZmNhQXgrWHVjeGxpRXdZcTA2ZG42MWNJZUxGTXR1clhMazJBQUFxTG89IiwibWFjIjoiMjlhYmI3ZjJlYzk2MmVkOTgzYWM0MjU5OTc0MjQ2NjFlNzRhYzhjNzM0MThiNTc0ODY2NmIwNjk2YTJhNzQxZSIsInRhZyI6IiJ9'
                    sum_rating: '0.00'
                    created_at: '2022-10-06T18:01:41.000000Z'
                    updated_at: '2022-10-06T18:01:41.000000Z'
                    categories:
                      -
                        id: 1454
                        name: Consequatur
                        slug: consequatur
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-06T18:01:41.000000Z'
                        updated_at: '2022-10-06T18:01:41.000000Z'
                    links: []
                properties:
                  data:
                    type: object
                    example:
                      id: 13322
                      slug: quia-enim
                      title: 'Quia enim.'
                      url: 'http://ad-molestiae-harum-cupiditate-voluptatem-voluptate-hic-aut.pl'
                      short_content: 'Consequatur quis ea nihil sequi ipsum itaque. Enim atque commodi aut corrupti doloremque porro. Nisi cupiditate rerum modi pariatur dolore sunt. Voluptas veniam impedit hic accusamus non deserunt maxime iure.'
                      content: 'Consequatur quis ea nihil sequi ipsum itaque. Enim atque commodi aut corrupti doloremque porro. Nisi cupiditate rerum modi pariatur dolore sunt. Voluptas veniam impedit hic accusamus non deserunt maxime iure.'
                      content_html: 'Consequatur quis ea nihil sequi ipsum itaque. Enim atque commodi aut corrupti doloremque porro. Nisi cupiditate rerum modi pariatur dolore sunt. Voluptas veniam impedit hic accusamus non deserunt maxime iure.'
                      less_content_html: 'Consequatur quis ea nihil sequi ipsum itaque. Enim atque commodi aut corrupti doloremque porro. Nisi cupiditate rerum modi pariatur dolore sunt. Voluptas veniam impedit hic accusamus non deserunt maxime iure.... <a href="http://demo.idir.intelekt.net.pl/dirs/quia-enim">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IitzZEc1eHBRbHBveEFHZDlRVUFqbEE9PSIsInZhbHVlIjoiVGc4VGFXbGI4cWE4aC9aMm8vV1R6SklVZ0xZY1dIZGxCbVo5aWVLYjR6VWZBS1JlWlM4QVJuSWdmU2hrTS9CaitBZmNhQXgrWHVjeGxpRXdZcTA2ZG42MWNJZUxGTXR1clhMazJBQUFxTG89IiwibWFjIjoiMjlhYmI3ZjJlYzk2MmVkOTgzYWM0MjU5OTc0MjQ2NjFlNzRhYzhjNzM0MThiNTc0ODY2NmIwNjk2YTJhNzQxZSIsInRhZyI6IiJ9'
                      sum_rating: '0.00'
                      created_at: '2022-10-06T18:01:41.000000Z'
                      updated_at: '2022-10-06T18:01:41.000000Z'
                      categories:
                        -
                          id: 1454
                          name: Consequatur
                          slug: consequatur
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-10-06T18:01:41.000000Z'
                          updated_at: '2022-10-06T18:01:41.000000Z'
                      links: []
      tags:
        - Dirs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: 'Must be one of <code>1</code>, <code>0</code>, or <code>5</code>.'
                  example: 1
                reason:
                  type: string
                  description: ''
                  example: aut
              required:
                - status
    parameters:
      -
        in: path
        name: dir_id
        description: 'The ID of the dir.'
        example: null
        required: true
        schema:
          type: integer
  '/api/dirs/{dir_id}/group/{group_id}':
    put:
      summary: 'Edit dir'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.dirs.edit.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 13323
                    slug: optio-corrupti-quibusdam-qui-vitae
                    title: 'Optio corrupti quibusdam qui vitae.'
                    url: 'https://ipsa-dolores-voluptas-omnis-veniam-est.pl'
                    short_content: 'Velit necessitatibus nostrum dolores. Commodi quidem quaerat nobis eos sed. Et deleniti cupiditate reiciendis. Neque accusantium aut vel ullam. Quaerat illum saepe quia officiis totam aut cumque. Et aperiam quod blanditiis fugit dolores. Harum quaera'
                    content: 'Velit necessitatibus nostrum dolores. Commodi quidem quaerat nobis eos sed. Et deleniti cupiditate reiciendis. Neque accusantium aut vel ullam. Quaerat illum saepe quia officiis totam aut cumque. Et aperiam quod blanditiis fugit dolores. Harum quaerat ut libero aliquam ea.'
                    content_html: 'Velit necessitatibus nostrum dolores. Commodi quidem quaerat nobis eos sed. Et deleniti cupiditate reiciendis. Neque accusantium aut vel ullam. Quaerat illum saepe quia officiis totam aut cumque. Et aperiam quod blanditiis fugit dolores. Harum quaerat ut libero aliquam ea.'
                    less_content_html: 'Velit necessitatibus nostrum dolores. Commodi quidem quaerat nobis eos sed. Et deleniti cupiditate reiciendis. Neque accusantium aut vel ullam. Quaerat illum saepe quia officiis totam aut cumque. Et aperiam quod blanditiis fugit dolores. Harum quaera... <a href="http://demo.idir.intelekt.net.pl/dirs/optio-corrupti-quibusdam-qui-vitae">show more &raquo</a>'
                    thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IjU1M1o4QUVPUDRmcE5kQlZGM3Z1bWc9PSIsInZhbHVlIjoiVzRseWkxZWgzKzd6Y0tQcDRZbFVUVVQrNy9HWmNlVGVPTFdhY3RxM3hHbkNCTVBiTWVUUU54QTVuL2JwdW1zWUl3VG43eXF2SVV4bFVzMExVZzlQQmc9PSIsIm1hYyI6ImM4MTU2MDU3YmI2OWQzNzNkOTkxYmI5MThmZDU5Y2EwZTkzYmY2MTJhOWRiZTE1Y2I4NTI4MmY0NDA4ZDI2OWYiLCJ0YWciOiIifQ=='
                    sum_rating: '0.00'
                    created_at: '2022-10-06T18:01:41.000000Z'
                    updated_at: '2022-10-06T18:01:41.000000Z'
                    categories:
                      -
                        id: 1455
                        name: Rerum
                        slug: rerum
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-06T18:01:41.000000Z'
                        updated_at: '2022-10-06T18:01:41.000000Z'
                    links: []
                properties:
                  data:
                    type: object
                    example:
                      id: 13323
                      slug: optio-corrupti-quibusdam-qui-vitae
                      title: 'Optio corrupti quibusdam qui vitae.'
                      url: 'https://ipsa-dolores-voluptas-omnis-veniam-est.pl'
                      short_content: 'Velit necessitatibus nostrum dolores. Commodi quidem quaerat nobis eos sed. Et deleniti cupiditate reiciendis. Neque accusantium aut vel ullam. Quaerat illum saepe quia officiis totam aut cumque. Et aperiam quod blanditiis fugit dolores. Harum quaera'
                      content: 'Velit necessitatibus nostrum dolores. Commodi quidem quaerat nobis eos sed. Et deleniti cupiditate reiciendis. Neque accusantium aut vel ullam. Quaerat illum saepe quia officiis totam aut cumque. Et aperiam quod blanditiis fugit dolores. Harum quaerat ut libero aliquam ea.'
                      content_html: 'Velit necessitatibus nostrum dolores. Commodi quidem quaerat nobis eos sed. Et deleniti cupiditate reiciendis. Neque accusantium aut vel ullam. Quaerat illum saepe quia officiis totam aut cumque. Et aperiam quod blanditiis fugit dolores. Harum quaerat ut libero aliquam ea.'
                      less_content_html: 'Velit necessitatibus nostrum dolores. Commodi quidem quaerat nobis eos sed. Et deleniti cupiditate reiciendis. Neque accusantium aut vel ullam. Quaerat illum saepe quia officiis totam aut cumque. Et aperiam quod blanditiis fugit dolores. Harum quaera... <a href="http://demo.idir.intelekt.net.pl/dirs/optio-corrupti-quibusdam-qui-vitae">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IjU1M1o4QUVPUDRmcE5kQlZGM3Z1bWc9PSIsInZhbHVlIjoiVzRseWkxZWgzKzd6Y0tQcDRZbFVUVVQrNy9HWmNlVGVPTFdhY3RxM3hHbkNCTVBiTWVUUU54QTVuL2JwdW1zWUl3VG43eXF2SVV4bFVzMExVZzlQQmc9PSIsIm1hYyI6ImM4MTU2MDU3YmI2OWQzNzNkOTkxYmI5MThmZDU5Y2EwZTkzYmY2MTJhOWRiZTE1Y2I4NTI4MmY0NDA4ZDI2OWYiLCJ0YWciOiIifQ=='
                      sum_rating: '0.00'
                      created_at: '2022-10-06T18:01:41.000000Z'
                      updated_at: '2022-10-06T18:01:41.000000Z'
                      categories:
                        -
                          id: 1455
                          name: Rerum
                          slug: rerum
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-10-06T18:01:41.000000Z'
                          updated_at: '2022-10-06T18:01:41.000000Z'
                      links: []
      tags:
        - Dirs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must be between 3 and 100 characters.'
                  example: 'Lorem ipsum dolor sit amet'
                tags:
                  type: array
                  description: 'Must be at least 3 characters. Must not be greater than 30 characters.'
                  example:
                    - ffarfqgf
                  items:
                    type: string
                categories:
                  type: array
                  description: 'Array containing category IDs.'
                  example:
                    - 16
                  items:
                    type: integer
                content_html:
                  type: string
                  description: 'Description. Must be between 255 and 1000 characters.'
                  example: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                notes:
                  type: string
                  description: 'Additional information for the moderator. Must be between 3 and 255 characters.'
                  example: ''
                url:
                  type: string
                  description: 'Unique website url with http/https protocol.'
                  example: 'https://demo.idir.intelekt.net.pl'
                backlink:
                  type: integer
                  description: 'ID of the selected backlink.'
                  example: null
                backlink_url:
                  type: string
                  description: 'Url with http/https protocol to backlink.'
                  example: null
                captcha:
                  type: string
                  description: 'Logic captcha response. Only required for free groups.'
                  example: autem
                field:
                  type: array
                  description: 'Array containing additional form fields if the group allows it.'
                  example: null
                  items:
                    type: object
                user:
                  type: integer
                  description: '(available only for admin.dirs.edit) ID of User author. If null is no author.'
                  example: null
                payment_type:
                  type: string
                  description: 'If the group requires a payment, the selected type must be defined. Must be one of <code>transfer</code>, <code>code_transfer</code>, <code>code_sms</code>, or <code>paypal_express</code>.'
                  example: null
                payment_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>transfer</code>.'
                  example: null
                payment_code_sms:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_sms</code>.'
                  example: null
                code_sms:
                  type: string
                  description: 'Received code if payment_type is <code>code_sms</code>.'
                  example: null
                payment_code_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_transfer</code>.'
                  example: null
                code_transfer:
                  type: string
                  description: 'Received code if payment_type is <code>code_transfer</code>.'
                  example: null
                payment_paypal_express:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>paypal_express</code>.'
                  example: null
              required:
                - captcha
    parameters:
      -
        in: path
        name: dir_id
        description: 'The ID of the dir.'
        example: null
        required: true
        schema:
          type: integer
      -
        in: path
        name: group_id
        description: 'The ID of the group. If same as current and has active premium time then no new payment is required.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/dirs/group/{group_id}':
    post:
      summary: 'Create dir'
      description: '<aside class="notice">If the user is authenticated the entry is added to his/her account, if not, an account is created for the email address provided.</aside>'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 13326
                    slug: quasi-neque-iste
                    title: 'Quasi neque iste.'
                    url: 'https://distinctio-in-quo-dolorem-tempore-explicabo-expedita.pl'
                    short_content: 'Sapiente nisi eos earum tempora. Quia dolore deserunt et aliquid distinctio. Accusantium facere iste repellendus. Explicabo aspernatur est et et sed ut consequatur. Libero quia eos explicabo animi pariatur nihil qui. Nulla quidem voluptatem tempora q'
                    content: 'Sapiente nisi eos earum tempora. Quia dolore deserunt et aliquid distinctio. Accusantium facere iste repellendus. Explicabo aspernatur est et et sed ut consequatur. Libero quia eos explicabo animi pariatur nihil qui. Nulla quidem voluptatem tempora qui consequatur sit. Libero itaque nihil temporibus ut repellendus quod exercitationem ea.'
                    content_html: 'Sapiente nisi eos earum tempora. Quia dolore deserunt et aliquid distinctio. Accusantium facere iste repellendus. Explicabo aspernatur est et et sed ut consequatur. Libero quia eos explicabo animi pariatur nihil qui. Nulla quidem voluptatem tempora qui consequatur sit. Libero itaque nihil temporibus ut repellendus quod exercitationem ea.'
                    less_content_html: 'Sapiente nisi eos earum tempora. Quia dolore deserunt et aliquid distinctio. Accusantium facere iste repellendus. Explicabo aspernatur est et et sed ut consequatur. Libero quia eos explicabo animi pariatur nihil qui. Nulla quidem voluptatem tempora q... <a href="http://demo.idir.intelekt.net.pl/dirs/quasi-neque-iste">show more &raquo</a>'
                    thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IkJtY0ovY1dETlFHYWVtZ2R2RUk3S0E9PSIsInZhbHVlIjoiakp0WkdWS2UwWDdkYVZRekhPb0haZXlCNG5NMG4yQUhqRTNVdU00eU1BWnYvR2FMN1pvRjE2S1g3QlR5RVlGY2xQYnNzUURBN0xVem9ITmRmYVhwc2c9PSIsIm1hYyI6IjcyM2QzMmNlYmVmODQ5OTlkOWY2MTc4YTdhZWU0NTY1MTRlMzEzMmMxZDlmZmVmYjEwMjcxNThkMTIzZTA0OGUiLCJ0YWciOiIifQ=='
                    sum_rating: '0.00'
                    created_at: '2022-10-06T18:01:42.000000Z'
                    updated_at: '2022-10-06T18:01:42.000000Z'
                    categories:
                      -
                        id: 1458
                        name: Magnam
                        slug: magnam
                        icon: null
                        status:
                          value: 1
                          label: active
                        real_depth: 0
                        created_at: '2022-10-06T18:01:42.000000Z'
                        updated_at: '2022-10-06T18:01:42.000000Z'
                    links: []
                properties:
                  data:
                    type: object
                    example:
                      id: 13326
                      slug: quasi-neque-iste
                      title: 'Quasi neque iste.'
                      url: 'https://distinctio-in-quo-dolorem-tempore-explicabo-expedita.pl'
                      short_content: 'Sapiente nisi eos earum tempora. Quia dolore deserunt et aliquid distinctio. Accusantium facere iste repellendus. Explicabo aspernatur est et et sed ut consequatur. Libero quia eos explicabo animi pariatur nihil qui. Nulla quidem voluptatem tempora q'
                      content: 'Sapiente nisi eos earum tempora. Quia dolore deserunt et aliquid distinctio. Accusantium facere iste repellendus. Explicabo aspernatur est et et sed ut consequatur. Libero quia eos explicabo animi pariatur nihil qui. Nulla quidem voluptatem tempora qui consequatur sit. Libero itaque nihil temporibus ut repellendus quod exercitationem ea.'
                      content_html: 'Sapiente nisi eos earum tempora. Quia dolore deserunt et aliquid distinctio. Accusantium facere iste repellendus. Explicabo aspernatur est et et sed ut consequatur. Libero quia eos explicabo animi pariatur nihil qui. Nulla quidem voluptatem tempora qui consequatur sit. Libero itaque nihil temporibus ut repellendus quod exercitationem ea.'
                      less_content_html: 'Sapiente nisi eos earum tempora. Quia dolore deserunt et aliquid distinctio. Accusantium facere iste repellendus. Explicabo aspernatur est et et sed ut consequatur. Libero quia eos explicabo animi pariatur nihil qui. Nulla quidem voluptatem tempora q... <a href="http://demo.idir.intelekt.net.pl/dirs/quasi-neque-iste">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IkJtY0ovY1dETlFHYWVtZ2R2RUk3S0E9PSIsInZhbHVlIjoiakp0WkdWS2UwWDdkYVZRekhPb0haZXlCNG5NMG4yQUhqRTNVdU00eU1BWnYvR2FMN1pvRjE2S1g3QlR5RVlGY2xQYnNzUURBN0xVem9ITmRmYVhwc2c9PSIsIm1hYyI6IjcyM2QzMmNlYmVmODQ5OTlkOWY2MTc4YTdhZWU0NTY1MTRlMzEzMmMxZDlmZmVmYjEwMjcxNThkMTIzZTA0OGUiLCJ0YWciOiIifQ=='
                      sum_rating: '0.00'
                      created_at: '2022-10-06T18:01:42.000000Z'
                      updated_at: '2022-10-06T18:01:42.000000Z'
                      categories:
                        -
                          id: 1458
                          name: Magnam
                          slug: magnam
                          icon: null
                          status:
                            value: 1
                            label: active
                          real_depth: 0
                          created_at: '2022-10-06T18:01:42.000000Z'
                          updated_at: '2022-10-06T18:01:42.000000Z'
                      links: []
      tags:
        - Dirs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must be between 3 and 100 characters.'
                  example: 'Lorem ipsum dolor sit amet'
                tags:
                  type: array
                  description: 'Must be at least 3 characters. Must not be greater than 30 characters.'
                  example:
                    - hrqxnavcwwgtfqt
                  items:
                    type: string
                categories:
                  type: array
                  description: 'Array containing category IDs.'
                  example:
                    - 9
                  items:
                    type: integer
                content_html:
                  type: string
                  description: 'Description. Must be between 255 and 1000 characters.'
                  example: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                notes:
                  type: string
                  description: 'Additional information for the moderator. Must be between 3 and 255 characters.'
                  example: ''
                url:
                  type: string
                  description: 'Unique website url with http/https protocol.'
                  example: 'https://demo.idir.intelekt.net.pl'
                backlink:
                  type: integer
                  description: 'ID of the selected backlink.'
                  example: null
                backlink_url:
                  type: string
                  description: 'Url with http/https protocol to backlink.'
                  example: null
                email:
                  type: string
                  description: 'Email address, required if the user adds the entry as unauthenticated.'
                  example: kontakt@intelekt.net.pl
                captcha:
                  type: string
                  description: 'Logic captcha response. Only required for free groups.'
                  example: natus
                field:
                  type: array
                  description: 'Array containing additional form fields if the group allows it.'
                  example: null
                  items:
                    type: object
                payment_type:
                  type: string
                  description: 'If the group requires a payment, the selected type must be defined. Must be one of <code>transfer</code>, <code>code_transfer</code>, <code>code_sms</code>, or <code>paypal_express</code>.'
                  example: null
                payment_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>transfer</code>.'
                  example: null
                payment_code_sms:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_sms</code>.'
                  example: null
                code_sms:
                  type: string
                  description: 'Received code if payment_type is <code>code_sms</code>.'
                  example: null
                payment_code_transfer:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>code_transfer</code>.'
                  example: null
                code_transfer:
                  type: string
                  description: 'Received code if payment_type is <code>code_transfer</code>.'
                  example: null
                payment_paypal_express:
                  type: integer
                  description: 'ID of the selected Price if payment_type is <code>paypal_express</code>.'
                  example: null
              required:
                - title
                - categories
                - content_html
                - captcha
      security: []
    parameters:
      -
        in: path
        name: group_id
        description: 'The ID of the group.'
        example: 1
        required: true
        schema:
          type: integer
  /api/groups/index:
    post:
      summary: 'Index of groups'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 16
                      slug: sed
                      position: 10
                      name: Sed
                      desc: 'Et ut assumenda rem corrupti fugiat non. Eaque omnis voluptas ipsa delectus et sint. Molestiae cumque voluptatem a rerum ut iure suscipit nesciunt. Quaerat ea et illo.'
                      border: null
                      max_cats: 1
                      max_models: 26
                      max_models_daily: null
                      visible:
                        value: 1
                        label: public
                      apply_status:
                        value: 0
                        label: 'pending acceptance'
                      url:
                        value: 2
                        label: required
                      backlink:
                        value: 0
                        label: none
                      created_at: '2022-10-06T18:01:40.000000Z'
                      updated_at: '2022-10-06T18:01:40.000000Z'
                      alt: null
                      privileges:
                        -
                          id: 9
                          name: 'additional options for editing content'
                          created_at: '2022-09-16T00:16:56.000000Z'
                          updated_at: '2022-09-16T00:16:56.000000Z'
                    -
                      id: 17
                      slug: ipsam
                      position: 11
                      name: Ipsam
                      desc: 'Quia cumque totam blanditiis. Ipsam possimus qui minima aliquam dolore. Quaerat quia aliquam ea ut atque. Neque nihil numquam dolor officia consequuntur nostrum eos. Et doloribus est incidunt in illum eos debitis. Incidunt ut aspernatur qui. Qui minus repudiandae voluptas quibusdam molestias.'
                      border: null
                      max_cats: 2
                      max_models: 19
                      max_models_daily: null
                      visible:
                        value: 1
                        label: public
                      apply_status:
                        value: 0
                        label: 'pending acceptance'
                      url:
                        value: 1
                        label: optional
                      backlink:
                        value: 0
                        label: none
                      created_at: '2022-10-06T18:01:40.000000Z'
                      updated_at: '2022-10-06T18:01:40.000000Z'
                      alt: null
                      privileges:
                        -
                          id: 9
                          name: 'additional options for editing content'
                          created_at: '2022-09-16T00:16:56.000000Z'
                          updated_at: '2022-09-16T00:16:56.000000Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 16
                        slug: sed
                        position: 10
                        name: Sed
                        desc: 'Et ut assumenda rem corrupti fugiat non. Eaque omnis voluptas ipsa delectus et sint. Molestiae cumque voluptatem a rerum ut iure suscipit nesciunt. Quaerat ea et illo.'
                        border: null
                        max_cats: 1
                        max_models: 26
                        max_models_daily: null
                        visible:
                          value: 1
                          label: public
                        apply_status:
                          value: 0
                          label: 'pending acceptance'
                        url:
                          value: 2
                          label: required
                        backlink:
                          value: 0
                          label: none
                        created_at: '2022-10-06T18:01:40.000000Z'
                        updated_at: '2022-10-06T18:01:40.000000Z'
                        alt: null
                        privileges:
                          -
                            id: 9
                            name: 'additional options for editing content'
                            created_at: '2022-09-16T00:16:56.000000Z'
                            updated_at: '2022-09-16T00:16:56.000000Z'
                      -
                        id: 17
                        slug: ipsam
                        position: 11
                        name: Ipsam
                        desc: 'Quia cumque totam blanditiis. Ipsam possimus qui minima aliquam dolore. Quaerat quia aliquam ea ut atque. Neque nihil numquam dolor officia consequuntur nostrum eos. Et doloribus est incidunt in illum eos debitis. Incidunt ut aspernatur qui. Qui minus repudiandae voluptas quibusdam molestias.'
                        border: null
                        max_cats: 2
                        max_models: 19
                        max_models_daily: null
                        visible:
                          value: 1
                          label: public
                        apply_status:
                          value: 0
                          label: 'pending acceptance'
                        url:
                          value: 1
                          label: optional
                        backlink:
                          value: 0
                          label: none
                        created_at: '2022-10-06T18:01:40.000000Z'
                        updated_at: '2022-10-06T18:01:40.000000Z'
                        alt: null
                        privileges:
                          -
                            id: 9
                            name: 'additional options for editing content'
                            created_at: '2022-09-16T00:16:56.000000Z'
                            updated_at: '2022-09-16T00:16:56.000000Z'
                    items:
                      type: object
      tags:
        - Groups
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: ''
                  example: 1
                filter:
                  type: object
                  description: ''
                  example: []
                  properties:
                    except:
                      type: array
                      description: 'Array containing IDs, excluding records from the list.'
                      example: []
                      items:
                        type: integer
                    search:
                      type: string
                      description: 'Search by keyword. Must be at least 3 characters. Must not be greater than 255 characters.'
                      example: ''
                    visible:
                      type: integer
                      description: 'Must be one of 1 or 0 (available only for admin.groups.view).'
                      example: 1
                    orderby:
                      type: string
                      description: 'Sorting the result list. Must be one of <code>created_at|asc</code>, <code>created_at|desc</code>, <code>updated_at|asc</code>, <code>updated_at|desc</code>, <code>name|asc</code>, <code>name|desc</code>, <code>position|asc</code>, or <code>position|desc</code>.'
                      example: ''
                    paginate:
                      type: integer
                      description: 'Number of records in the list. Must be one of <code>25</code>, <code>50</code>, or <code>100</code>.'
                      example: ''
      security: []
  '/api/payments/{payment_dir_pending}/dir/{driver}':
    get:
      summary: "Show dir's payment"
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    uuid: 04be27f2-2a1b-4ad6-9b60-c7a9de995a66
                    driver: null
                    status:
                      value: 2
                      label: pending
                    created_at: '2022-10-06T18:01:40.000000Z'
                    updated_at: '2022-10-06T18:01:40.000000Z'
                    morph:
                      id: 13321
                      slug: minus-omnis
                      title: 'Minus omnis.'
                      url: 'http://eius-facere-illum-nisi-expedita.pl'
                      short_content: 'Ut vitae illo repudiandae corrupti quia totam ad. Enim omnis ut quae nam illo facilis dignissimos qui. Sed reiciendis itaque quaerat necessitatibus non unde ullam. Et nam omnis rem ut. Minus qui qui magnam enim maiores non. Ipsum quia ab voluptatem s'
                      content: 'Ut vitae illo repudiandae corrupti quia totam ad. Enim omnis ut quae nam illo facilis dignissimos qui. Sed reiciendis itaque quaerat necessitatibus non unde ullam. Et nam omnis rem ut. Minus qui qui magnam enim maiores non. Ipsum quia ab voluptatem sint dolores dolores sint. Temporibus qui consectetur dolorum.'
                      content_html: 'Ut vitae illo repudiandae corrupti quia totam ad. Enim omnis ut quae nam illo facilis dignissimos qui. Sed reiciendis itaque quaerat necessitatibus non unde ullam. Et nam omnis rem ut. Minus qui qui magnam enim maiores non. Ipsum quia ab voluptatem sint dolores dolores sint. Temporibus qui consectetur dolorum.'
                      less_content_html: 'Ut vitae illo repudiandae corrupti quia totam ad. Enim omnis ut quae nam illo facilis dignissimos qui. Sed reiciendis itaque quaerat necessitatibus non unde ullam. Et nam omnis rem ut. Minus qui qui magnam enim maiores non. Ipsum quia ab voluptatem s... <a href="http://demo.idir.intelekt.net.pl/dirs/minus-omnis">show more &raquo</a>'
                      thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IlljZVZZZmg2TEFweEsxYWF2M1RQdXc9PSIsInZhbHVlIjoidFVrU3A4WkFwTVV0Qklub2xXSThtZGtSd0I2cEhvbWxvdGFzWkdobnNTU2RzeHBFRjBxVThaRG93eGJ2OG9KWiIsIm1hYyI6IjI4ODViOGIxMjRiYzMyODBhZTU1NDM2ZGViNzYwMGM4MjkyNWFjYzI3NmQ5ZmExNDlkOWQwZmY1NWZhY2Q1NDQiLCJ0YWciOiIifQ=='
                      sum_rating: '0.00'
                      created_at: '2022-10-06T18:01:40.000000Z'
                      updated_at: '2022-10-06T18:01:40.000000Z'
                      links: []
                    order:
                      id: 4
                      type: transfer
                      price: '1.50'
                      regular_price: '1.50'
                      discount_price: null
                      discount: null
                      qr_as_image: null
                      days: 178
                      created_at: '2022-10-06T18:01:40.000000Z'
                      updated_at: '2022-10-06T18:01:40.000000Z'
                  url: 'https://paytest.cashbill.pl/pl/payment/eydJpZCI6IlRFU1RfNmV6OWZ6dXpvIiwicGMiOiIiLCJ0b2tlbiI6ImJiNjQ3ZGFhOTQ3NDU1NzM0OGRhMzhkYjEyMTE0YTI5MTA0NDhkMGUifQ--'
                properties:
                  data:
                    type: object
                    example:
                      uuid: 04be27f2-2a1b-4ad6-9b60-c7a9de995a66
                      driver: null
                      status:
                        value: 2
                        label: pending
                      created_at: '2022-10-06T18:01:40.000000Z'
                      updated_at: '2022-10-06T18:01:40.000000Z'
                      morph:
                        id: 13321
                        slug: minus-omnis
                        title: 'Minus omnis.'
                        url: 'http://eius-facere-illum-nisi-expedita.pl'
                        short_content: 'Ut vitae illo repudiandae corrupti quia totam ad. Enim omnis ut quae nam illo facilis dignissimos qui. Sed reiciendis itaque quaerat necessitatibus non unde ullam. Et nam omnis rem ut. Minus qui qui magnam enim maiores non. Ipsum quia ab voluptatem s'
                        content: 'Ut vitae illo repudiandae corrupti quia totam ad. Enim omnis ut quae nam illo facilis dignissimos qui. Sed reiciendis itaque quaerat necessitatibus non unde ullam. Et nam omnis rem ut. Minus qui qui magnam enim maiores non. Ipsum quia ab voluptatem sint dolores dolores sint. Temporibus qui consectetur dolorum.'
                        content_html: 'Ut vitae illo repudiandae corrupti quia totam ad. Enim omnis ut quae nam illo facilis dignissimos qui. Sed reiciendis itaque quaerat necessitatibus non unde ullam. Et nam omnis rem ut. Minus qui qui magnam enim maiores non. Ipsum quia ab voluptatem sint dolores dolores sint. Temporibus qui consectetur dolorum.'
                        less_content_html: 'Ut vitae illo repudiandae corrupti quia totam ad. Enim omnis ut quae nam illo facilis dignissimos qui. Sed reiciendis itaque quaerat necessitatibus non unde ullam. Et nam omnis rem ut. Minus qui qui magnam enim maiores non. Ipsum quia ab voluptatem s... <a href="http://demo.idir.intelekt.net.pl/dirs/minus-omnis">show more &raquo</a>'
                        thumbnail_url: 'https://idir.test/thumbnails?url=eyJpdiI6IlljZVZZZmg2TEFweEsxYWF2M1RQdXc9PSIsInZhbHVlIjoidFVrU3A4WkFwTVV0Qklub2xXSThtZGtSd0I2cEhvbWxvdGFzWkdobnNTU2RzeHBFRjBxVThaRG93eGJ2OG9KWiIsIm1hYyI6IjI4ODViOGIxMjRiYzMyODBhZTU1NDM2ZGViNzYwMGM4MjkyNWFjYzI3NmQ5ZmExNDlkOWQwZmY1NWZhY2Q1NDQiLCJ0YWciOiIifQ=='
                        sum_rating: '0.00'
                        created_at: '2022-10-06T18:01:40.000000Z'
                        updated_at: '2022-10-06T18:01:40.000000Z'
                        links: []
                      order:
                        id: 4
                        type: transfer
                        price: '1.50'
                        regular_price: '1.50'
                        discount_price: null
                        discount: null
                        qr_as_image: null
                        days: 178
                        created_at: '2022-10-06T18:01:40.000000Z'
                        updated_at: '2022-10-06T18:01:40.000000Z'
                  url:
                    type: string
                    example: 'https://paytest.cashbill.pl/pl/payment/eydJpZCI6IlRFU1RfNmV6OWZ6dXpvIiwicGMiOiIiLCJ0b2tlbiI6ImJiNjQ3ZGFhOTQ3NDU1NzM0OGRhMzhkYjEyMTE0YTI5MTA0NDhkMGUifQ--'
                    description: "Link to the driver's payment page (for transfer type payment)."
      tags:
        - Payments
      security: []
    parameters:
      -
        in: path
        name: payment_dir_pending
        description: 'The payment UUID.'
        example: null
        required: true
        schema:
          type: string
      -
        in: path
        name: driver
        description: 'Optional parameter. The payment driver.'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
  /api/posts/index:
    post:
      summary: 'Index of posts'
      description: '<aside class="notice">Available only to users with permissions: api.access and api.posts.view.</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_ACCESS_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: '0'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2
                      slug: incidunt-omnis-distinctio-nulla-culpa
                      title: 'Incidunt omnis distinctio nulla culpa.'
                      short_content: 'Vel quia et dolor hic officia. Maxime accusantium recusandae exercitationem minima ratione. Fugiat autem voluptatem autem quibusdam et tempora ex distinctio. Necessitatibus placeat ab asperiores. Qui aut ut saepe. Est ullam vel eos qui ut minima. Dolores possimus libero eligendi commodi amet quis. Est temporibus eaque ab voluptate necessitatibus doloribus. Nihil qui magnam autem et quia voluptas voluptatem. Quia aut dolorem adipisci. Dolore aut ea ea sed. Nihil enim aut iusto aut quam vel. Harum'
[...]
